{% assign count_variants = product.variants | size %}
{% if count_variants > 1 %}

{% liquid
    assign variants_available_arr = product.variants | map: 'available'
    assign variants_option1_arr = product.variants | map: 'option1'
    assign variants_option2_arr = product.variants | map: 'option2'
    assign variants_option3_arr = product.variants | map: 'option3'
%}
{% comment %}
    assign product_form_id = 'ap-productform-' | append: section.id | append: "-" | append: product.id
{% endcomment %}

{% comment %} {% for collection in product.collections %}
    {{ collection.title }}
{% endfor %} {% endcomment %}

<ap-productvariants handle="{{ product.handle }}" form-id="ap-productform-{{ section.id }}-{{ product.id }}" update-url="" class="ap-productform__variants">
    {% for option in product.options_with_values %}
        {% liquid
            assign option_index = forloop.index
            assign option_name = option.name | upcase
            assign option_name_setting = settings.option_name | upcase
        %}
        {% if variant_type == 'dropdown' %}
        <div class="ap-productform__option-selector">
            <div class="ap-productform__option-info">
                <span class="ap-productform__option-name">{{ option.name }}:</span>
                <span id="option-{{ section.id }}-{{ option_index }}-value" class="ap-productform__option-value">{{ option.values[0] }}</span>
            </div>
            <div>
                <select name="option{{ option_index }}" data-bind-value="option-{{ section.id }}-{{ option_index }}-value" form="ap-productform-{{ section.id }}-{{ product.id }}">
                    {%- for value in option.values -%}
                        <option class="ap-combobox__option-item" value="{{ value }}">{{ value }}</option>
                    {%- endfor -%}
                </select>
            </div>
        </div>

        {% else %}

                    

            {% if option_name == option_name_setting and settings.filter_color_enable and color_variant != 'default' %}
                <div class="ap-productform__option-selector" data-selector-type="color">
                    <div class="ap-productform__option-info">
                        <span class="ap-productform__option-name">{{ option.name }}:</span>
                        <span id="option-{{ section.id }}-{{ option_index }}-value" class="ap-productform__option-value">{{ option.values[0] }}</span>
                    </div>
                    <div class="block-swatch-list color-swatch-list">

                         

                        {%- for value in option.values -%}
                            
                            

                            {%- liquid
                                

                                assign color_image_variant = ''
                                for variant in product.variants
                                    if option_index == 1 and variant.option1 == value
                                        assign color_image_variant = variant.src
                                    endif
                                    if option_index == 2 and variant.option2 == value
                                        assign color_image_variant = variant.featured_media | image_url: width: 165
                                    endif
                                    if option_index == 3 and variant.option3 == value
                                        assign color_image_variant = variant.src
                                    endif
                                endfor
                                
                                assign color_custom_color = ''
                                assign color_custom_image = ''
                                if settings.filter_color_enable
                                    assign color_value = value | upcase
                                    assign color_1 = settings.filter_color_1 | upcase
                                    if color_1 == color_value 
                                        assign color_custom_color = settings.color_1
                                        assign color_custom_image = settings.image_color_1 | image_url: width: 50
                                    endif
                                    assign color_2 = settings.filter_color_2 | upcase
                                    if color_2 == color_value 
                                        assign color_custom_color = settings.color_2
                                        assign color_custom_image = settings.image_color_2 | image_url: width: 50
                                    endif
                                    assign color_3 = settings.filter_color_3 | upcase
                                    if color_3 == color_value
                                        assign color_custom_color = settings.color_3
                                        assign color_custom_image = settings.image_color_3 | image_url: width: 50
                                    endif
                                    assign color_4 = settings.filter_color_4 | upcase
                                    if color_4 == color_value 
                                        assign color_custom_color = settings.color_4
                                        assign color_custom_image = settings.image_color_4 | image_url: width: 50
                                    endif
                                    assign color_5 = settings.filter_color_5 | upcase
                                    if color_5 == color_value 
                                        assign color_custom_color = settings.color_5
                                        assign color_custom_image = settings.image_color_5 | image_url: width: 50
                                    endif
                                    assign color_6 = settings.filter_color_6 | upcase
                                    if color_6 == color_value 
                                        assign color_custom_color = settings.color_6
                                        assign color_custom_image = settings.image_color_6 | image_url: width: 50
                                    endif
                                    assign color_7 = settings.filter_color_7 | upcase
                                    if color_7 == color_value 
                                        assign color_custom_color = settings.color_7
                                        assign color_custom_image = settings.image_color_7 | image_url: width: 50
                                    endif
                                    assign color_8 = settings.filter_color_8 | upcase
                                    if color_8 == color_value 
                                        assign color_custom_color = settings.color_8
                                        assign color_custom_image = settings.image_color_8 | image_url: width: 50
                                    endif
                                    assign color_9 = settings.filter_color_9 | upcase
                                    if color_9 == color_value 
                                        assign color_custom_color = settings.color_9
                                        assign color_custom_image = settings.image_color_9 | image_url: width: 50
                                    endif
                                    assign color_10 = settings.filter_color_10 | upcase
                                    if color_10 == color_value 
                                        assign color_custom_color = settings.color_10
                                        assign color_custom_image = settings.image_color_10 | image_url: width: 50
                                    endif
                                    assign color_11 = settings.filter_color_11 | upcase
                                    if color_11 == color_value 
                                        assign color_custom_color = settings.color_11
                                        assign color_custom_image = settings.image_color_11 | image_url: width: 50
                                    endif
                                    assign color_12 = settings.filter_color_12 | upcase
                                    if color_12 == color_value 
                                        assign color_custom_color = settings.color_12
                                        assign color_custom_image = settings.image_color_12 | image_url: width: 50
                                    endif
                                    assign color_13 = settings.filter_color_13 | upcase
                                    if color_13 == color_value 
                                        assign color_custom_color = settings.color_13
                                        assign color_custom_image = settings.image_color_13 | image_url: width: 50
                                    endif
                                    assign color_14 = settings.filter_color_14 | upcase
                                    if color_14 == color_value 
                                        assign color_custom_color = settings.color_14
                                        assign color_custom_image = settings.image_color_14 | image_url: width: 50
                                    endif
                                    assign color_15 = settings.filter_color_15 | upcase
                                    if color_15 == color_value 
                                        assign color_custom_color = settings.color_15
                                        assign color_custom_image = settings.image_color_15 | image_url: width: 50
                                    endif
                                    assign color_16 = settings.filter_color_16 | upcase
                                    if color_16 == color_value 
                                        assign color_custom_color = settings.color_16
                                        assign color_custom_image = settings.image_color_16 | image_url: width: 50
                                    endif
                                    assign color_17 = settings.filter_color_17 | upcase
                                    if color_17 == color_value 
                                        assign color_custom_color = settings.color_17
                                        assign color_custom_image = settings.image_color_17 | image_url: width: 50
                                    endif
                                    assign color_18 = settings.filter_color_18 | upcase
                                    if color_18 == color_value 
                                        assign color_custom_color = settings.color_18
                                        assign color_custom_image = settings.image_color_18 | image_url: width: 50
                                    endif
                                    assign color_19 = settings.filter_color_19 | upcase
                                    if color_19 == color_value 
                                        assign color_custom_color = settings.color_19
                                        assign color_custom_image = settings.image_color_19 | image_url: width: 50
                                    endif
                                    assign color_20 = settings.filter_color_20 | upcase
                                    if color_20 == color_value 
                                        assign color_custom_color = settings.color_20
                                        assign color_custom_image = settings.image_color_20 | image_url: width: 50
                                    endif
                                endif

                                if color_variant == 'image_variant'
                                    assign color_custom_image = color_image_variant
                                endif
                                
                            -%}
                            <div class="{% if color_custom_color != '' or color_custom_image != '' %}color-swatch{%- else -%}block-swatch{%- endif -%} ">
                                {% if option_index == 1 %}
                                <input class="color-swatch__radio visually-hidden" type="radio" name="option{{ option_index }}" form="ap-productform-{{ section.id }}-{{ product.id }}" id="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" value="{{ value }}" {% if product.selected_or_first_available_variant.option1 == value %}checked="checked"{% endif %} data-bind-value="option-{{ section.id }}-{{ option_index }}-value">
                                {% endif %}
                                {% if option_index == 2 %}
                                    <input class="color-swatch__radio visually-hidden" type="radio" name="option{{ option_index }}" form="ap-productform-{{ section.id }}-{{ product.id }}" id="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" value="{{ value }}" {% if product.selected_or_first_available_variant.option2 == value %}checked="checked"{% endif %} data-bind-value="option-{{ section.id }}-{{ option_index }}-value">
                                    {% endif %}
                                {% if option_index == 3 %}
                                    <input class="color-swatch__radio visually-hidden" type="radio" name="option{{ option_index }}" form="ap-productform-{{ section.id }}-{{ product.id }}" id="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" value="{{ value }}" {% if product.selected_or_first_available_variant.option3 == value %}checked="checked"{% endif %} data-bind-value="option-{{ section.id }}-{{ option_index }}-value">
                                {% endif %}
                                {% if color_custom_color != '' or color_custom_image != '' %}
                                    <label class="color-swatch__item" for="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" 
                                        style="
                                            {%- if color_custom_color != '' -%}background: {{ color_custom_color }};{%- endif -%}
                                            {%- if color_custom_image -%}background-image: url({{ color_custom_image }});background-size: cover;{%- endif -%}
                                        ">
                                        <span class="visually-hidden">{{ value }}</span>
                                        
                                        
                                    </label>
                                {% else %}
                                    <label class="block-swatch__item" for="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}">
                                        {{ value }}
                                    </label>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="ap-productform__option-selector" data-selector-type="block">
                    <div class="ap-productform__option-info">
                        <span class="ap-productform__option-name">{{ option.name }}:</span>
                        <span id="option-{{ section.id }}-{{ option_index }}-value" class="ap-productform__option-value">{{ option.values[0] }}</span>

                        {% liquid
                            assign _size_chart_name = ''
                            if settings.size_chart_1_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                                assign title1 = collection.title | downcase
                                assign title2 = settings.size_chart_1_collection.title | downcase
                                if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_2_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_2_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_2
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_3_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_3_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_3
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_4_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_4_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_4
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_5_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_5_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_5
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_6_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_6_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_6
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_7_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_7_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_7
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_8_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_8_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_8
                                assign status = true
                                endif
                            endfor
                            endif
                            if settings.size_chart_9_collection and _size_chart_name == ''
                            assign status = false
                            for collection in product.collections
                            assign title1 = collection.title | downcase
                            assign title2 = settings.size_chart_9_collection.title | downcase
                            if status == false and title1 == title2
                                assign _size_chart_name = settings.type_size_chart_9
                                assign status = true
                                endif
                            endfor
                            endif
                        %}
                        {% if option.name contains 'Size' and show_size_chart == true and status == true %}
                            <button type="button" is="toggle-button" class="ap-productform__option-link link text--subdued hd-phone" ap-controlsaria="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" ap-expanded-aria="false">Size chart</button>
                            <button type="button" is="toggle-button" class="ap-productform__option-link link text--subdued hd-tablet-and-up" ap-controlsaria="product-{{ section.id }}-{{ product.id }}-size-chart-popover" ap-expanded-aria="false">Size chart</button>
                        {% endif %}
                    </div>

                    <div class="block-swatch-list">

                        


                        {%- for value in option.values -%}
                            
                            <div class="block-swatch">
                                {% if option_index == 1 %}
                                    <input class="block-swatch__radio visually-hidden" type="radio" name="option{{ option_index }}" form="ap-productform-{{ section.id }}-{{ product.id }}" id="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" value="{{ value }}" {% if product.selected_or_first_available_variant.option1 == value %}checked="checked"{% endif %} data-bind-value="option-{{ section.id }}-{{ option_index }}-value">
                                {% endif %}
                                {% if option_index == 2 %}
                                    <input class="block-swatch__radio visually-hidden" type="radio" name="option{{ option_index }}" form="ap-productform-{{ section.id }}-{{ product.id }}" id="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" value="{{ value }}" {% if product.selected_or_first_available_variant.option2 == value %}checked="checked"{% endif %} data-bind-value="option-{{ section.id }}-{{ option_index }}-value">
                                {% endif %}
                                {% if option_index == 3 %}
                                    <input class="block-swatch__radio visually-hidden" type="radio" name="option{{ option_index }}" form="ap-productform-{{ section.id }}-{{ product.id }}" id="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}" value="{{ value }}" {% if product.selected_or_first_available_variant.option3 == value %}checked="checked"{% endif %} data-bind-value="option-{{ section.id }}-{{ option_index }}-value">
                                {% endif %}
                                <label class="block-swatch__item" for="option-{{ section.id }}-{{ option_index }}-{{ forloop.index }}">{{ value }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <noscript>
        <label class="input__block-label" for="product-select-{{ section.id }}-{{ product.id }}">Variant</label>
        <div class="select-wrapper">
            
            <select class="select" autocomplete="off" id="product-select-{{ section.id }}-{{ product.id }}" name="id" form="ap-productform-{{ section.id }}-{{ product.id }}">
                {% for variant in product.variants %}
                    <option {% if product.selected_or_first_available_variant.id == variant.id %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ product.title }} {{ variant.title }} - {{ variant.price | money }}</option>
                {% endfor %}
            </select>
            <svg focusable="false" width="12" height="8" class="icon icon--chevron   " viewBox="0 0 12 8">
                <path fill="none" d="M1 1l5 5 5-5" stroke="currentColor" stroke-width="2"></path>
            </svg>
        </div>
    </noscript>
</ap-productvariants>
{%- endif -%}