{% style %}

.social-media__item a {
    color: {{ block.icon_social_color }}
}
.social-media__item a:hover {
    color: {{ block.icon_social_color_hover }}
}

{% endstyle %}



<bar-menu id="bar-menu" class="bar-menu drawer">
    <span class="drawer__overlay"></span>
    <div class="drawer__header drawer__header--shadowed">
      <button type="button" class="drawer__close-button drawer__close-button--block tap-area" data-action="close" title="Close">
        <svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
          <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
        </svg>
      </button>
    </div>
    <div class="bar-menu-content">

        {% if block.display_logo %}
            <div class="bar-menu-logo">
            {% if request.page_type == 'index' %}
                <h1 class="header__logo">
            {% else %}
                <span class="header__logo">
            {% endif %}
                <a href="{{ routes.root_url }}" class="header__logo-link">
                <span class="visually-hidden">{{ shop.name }}</span>
                {%- if section.settings.logo != blank -%}
                    {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
                    {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
                    {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                    class: 'header__logo-image',
                    widths: '1000',
                    height: logo_height,
                    width: section.settings.logo_width,
                    alt: logo_alt
                    }}
                {%- else -%}
                    <span class="h2">{{ shop.name }}</span>
                {%- endif -%}
                </a>
            {% if request.page_type == 'index' %}
                </h1>
            {% else %}
                </span>
            {% endif %}
        </div>
        {% endif %}

        {% if block.description != blank %}
            <p class="bar__description mb-5" style="color: {{ block.description_color }};">
                {{ block.description }}
            </p>
        {% endif %}
        
        <div class="bar__instagram">
            {% if block.insta_title != blank %}
                <h5 class="bar__instagram--title mb-4" style="color: {{ block.title_color }}">
                    {{ block.insta_title }}
                </h5>
            {% endif %}
            <div class="bar__insta--list">
                {% for i in (1..6) %}
                    {% case i %}
                        {% when 1 %}
                            {% assign img = block.img_1 %}
                        {% when 2 %}
                            {% assign img = block.img_2 %}
                        {% when 3 %}
                            {% assign img = block.img_3 %}
                        {% when 4 %}
                            {% assign img = block.img_4 %}
                        {% when 5 %}
                            {% assign img = block.img_5 %}
                        {% when 6 %}
                            {% assign img = block.img_6 %}
                    {% endcase %}
                    {% if img != blank %}
                        <div class="bar__insta--item">
                        <a href="{{ block.img_insta_link |  default: "#" }}">
                            {{ img |  image_url: width: img.width |  image_tag  }}
                        </a>
                    </div>
                    {% endif %}
                    
                {% endfor %}
                
            </div>
        </div>

        <div class="bar__contact">
            <ul style="color:{{ block.text_color }}">
                    {% if block.text_address != blank %}
                      <li class="d-flex align-items-center">
                        <a class="d-flex align-items-center" href="{{ block.url_address | default: '#' }}">
                          <span style="color: {{ block.icon_color }}">{{ block.icon_address }}</span>
                          {{ block.text_address }}
                        </a>
                      </li>
                    {% endif %}
                    {% if block.text_phone != blank %}
                      <li class="d-flex align-items-center">
                        <a class="d-flex align-items-center" href="{{ block.url_phone | default: '#' }}">
                          <span style="color: {{ block.icon_color }}">{{ block.icon_phone }}</span>
                          {{ block.text_phone }}
                        </a>
                      </li>
                    {% endif %}
                    {% if block.text_email != blank %}
                      <li class="d-flex align-items-center">
                        <a class="d-flex align-items-center" href="{{ block.url_email | default: '#' }}">
                          <span style="color: {{ block.icon_color }}">{{ block.icon_email }}</span>
                          {{ block.text_email }}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
        </div>

        <div class="bar__social">
            <ul class="d-flex align-items-center">
                {%- if block.facebook_url != blank -%}
                  <li class="social-media__item social-media__item--facebook">
                    <a
                      href="{{ block.facebook_url }}"
                      target="_blank"
                      rel="noopener"
                      class="social-media__link"
                      aria-label="Follow us on Facebook">
                      {% render 'icon-facebook' %}
                      <span class="text-social">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if block.twitter_url != blank -%}
                  <li class="social-media__item social-media__item--twitter">
                    <a
                      href="{{ block.twitter_url }}"
                      target="_blank"
                      rel="noopener"
                      class="social-media__link"
                      aria-label="Follow us on twitter">
                      {% render 'icon-twitter' %}
                      <span class="text-social">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if block.instagram_url != blank -%}
                  <li class="social-media__item social-media__item--instagram">
                    <a
                      href="{{ block.instagram_url }}"
                      target="_blank"
                      rel="noopener"
                      class="social-media__link"
                      aria-label="Follow us on Instagram">
                      {% render 'icon-instagram' %}
                      <span class="text-social">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if block.pinterest_url != blank -%}
                  <li class="social-media__item social-media__item--pinterest">
                    <a
                      href="{{ block.pinterest_url }}"
                      target="_blank"
                      rel="noopener"
                      class="social-media__link"
                      aria-label="Follow us on Pinterest">
                      {% render 'icon-pinterest' %}
                      <span class="text-social">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if block.youtube_url != blank -%}
                  <li class="social-media__item social-media__item--youtube">
                    <a
                      href="{{ block.youtube_url }}"
                      target="_blank"
                      rel="noopener"
                      class="social-media__link"
                      aria-label="Follow us on YouTube">
                      {% render 'icon-youtube' %}
                      <span class="text-social">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if block.linkedin_url != blank -%}
                  <li class="social-media__item social-media__item--linkedin">
                    <a
                      href="{{ block.linkedin_url }}"
                      target="_blank"
                      rel="noopener"
                      class="social-media__link"
                      aria-label="Follow us on LinkedIn">
                      {% render 'icon-linkedin' %}
                      <span class="text-social">
                        {{ 'general.social.links.linkedin' | t }}
                      </span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>        
        </div>



        {% comment %} {% for block in section.blocks %}
            {% if block.type == 'menu-bar' %}
            <div class="bar-menu-image">    

                <img class="menu-image" loading="lazy" sizes="240px" alt=""
                src="{{ block.settings.image | image_url : width: 560 }}"
                data-srcset="{{ block.settings.image | image_url : width: 2000 }} 2000w, {{ block.settings.image | image_url : width: 480 }} 480w, {{ block.settings.image | image_url : width: 560 }} 560w"
                width="auto" height="auto">

                <img class="menu-image" loading="lazy" sizes="240px" alt=""
                src="{{ block.settings.image2 | image_url : width: 560 }}"
                data-srcset="{{ block.settings.image2 | image_url : width: 2000 }} 2000w, {{ block.settings.image2 | image_url : width: 480 }} 480w, {{ block.settings.image2 | image_url : width: 560 }} 560w"
                width="auto" height="auto">

                <img class="menu-image" loading="lazy" sizes="240px" alt=""
                src="{{ block.settings.image3 | image_url : width: 560 }}"
                data-srcset="{{ block.settings.image3 | image_url : width: 2000 }} 2000w, {{ block.settings.image3 | image_url : width: 480 }} 480w, {{ block.settings.image3 | image_url : width: 560 }} 560w"
                width="auto" height="auto">

                <img class="menu-image" loading="lazy" sizes="240px" alt=""
                src="{{ block.settings.image4 | image_url : width: 560 }}"
                data-srcset="{{ block.settings.image4 | image_url : width: 2000 }} 2000w, {{ block.settings.image4 | image_url : width: 480 }} 480w, {{ block.settings.image4 | image_url : width: 560 }} 560w"
                width="auto" height="auto">

                <img class="menu-image" loading="lazy" sizes="240px" alt=""
                src="{{ block.settings.image5 | image_url : width: 560 }}"
                data-srcset="{{ block.settings.image5 | image_url : width: 2000 }} 2000w, {{ block.settings.image5 | image_url : width: 480 }} 480w, {{ block.settings.image5 | image_url : width: 560 }} 560w"
                width="auto" height="auto">

                <img class="menu-image" loading="lazy" sizes="240px" alt=""
                src="{{ block.settings.image6 | image_url : width: 560 }}"
                data-srcset="{{ block.settings.image6 | image_url : width: 2000 }} 2000w, {{ block.settings.image6 | image_url : width: 480 }} 480w, {{ block.settings.image6 | image_url : width: 560 }} 560w"
                width="auto" height="auto">

            </div>
            <div class="bar-info">
                {{ block.settings.info }}
            </div>
            {% endif %}
        {% endfor %} {% endcomment %}

        {% comment %} <div class="bar-menu-social">
            {% render 'social_header' %}
        </div> {% endcomment %}
    </div>
</bar-menu>