<ap-listarticle stagger-apparition="" class="ap-listarticle ap-listarticle--section ap-listarticle--has-four ap-listarticle--scrollable hd-lap-and-up ap-object-loaded">
    {%- for article in section.settings.blog.articles limit: section.settings.post_limit_mobile -%}
      <div reveal="" class="article-item  image-zoom">
        <a href="{{ article.url }}" class="article-item__image-container">
          <img 
            data-srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
              {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ article.image.src | image_url }} {{ article.image.src.width }}w"
            src="{{ article.image.src | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ article.image.src.alt | escape }}"
            class="article-item__image"
            loading="lazy"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
          >
          <span class="article-item__arrow ap-nextap-buttonprev ap-nextap-buttonprev--small ap-nextap-buttonprev--next">
            <svg focusable="false" width="15" height="12" class="icon icon--nav-arrow-right  icon--direction-aware " viewBox="0 0 17 14">
              <path d="M0 7h15M9 1l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
            </svg>
          </span>
        </a>
        <div class="article-item__content text-container">
          {%- if article.tags.size > 0 -%}
            {% assign tag = article.tags[0] %}
            <a class="article-item__category heading heading--xsmall" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
          {%- endif -%}
          <h3 class="article-item__title heading h3">
            <a href="{{ article.url }}">{{ article.title | truncate: 50 | escape }}</a>
          </h3>
        </div>
      </div>
    {% endfor %}
  </ap-listarticle>