<ap-listarticle stagger-apparition="" class="article-type-1 ap-listarticle ap-listarticle--section ap-listarticle--collage ap-object-loaded">
    {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
        <div reveal="" class="article-item article-item--featured image-zoom article-left">
          <a href="{{ article.url }}" class="article-item__image-container">
            <img 
              data-srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ article.image.src | image_url }} {{ article.image.src.width }}w"
              src="{{ article.image.src | image_url: width: 533 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ article.image.src.alt | escape }}"
              class="article-item__image"
              loading="lazy"
              width="{{ article.image.width }}"
              height="{{ article.image.height }}"
            >
            <span class="article-item__arrow ap-nextap-buttonprev ap-nextap-buttonprev--next d-none">
              <svg focusable="false" width="17" height="14" class="icon icon--nav-arrow-right  icon--direction-aware " viewBox="0 0 17 14">
                <path d="M0 7h15M9 1l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
              </svg>
            </span>
          </a>

          <div class="article-item__content text-container">

            <div class="article-info">
              {%- if section.settings.show_date_left -%}
                <span class="blog-date">
                  {{ article.published_at | date: "%b %d, %Y" }}
                </span>
              {%- endif -%}
              {%- if section.settings.show_author_left -%}      
              <span class="blog-author">
                <span class="title-blog">By</span>
                <span class="author">{{ article.author }}</span>
              </span>
              {%- endif -%}
              {%- if section.settings.show_tag_left -%}
                  {%- if article.tags.size > 0 -%}
                  {% assign tag = article.tags[0] %}
                  <div class="blog-tag">
                      <a class="article-item__category tag-content"
                          href="{{ blog.url }}/tagged/{{ tag | handle }}">
                          {{ tag }}
                      </a>
                  </div>
                  {%- endif -%}
              {%- endif -%}
            </div>

            <h3 class="article-item__title heading h3">
              <a href="{{ article.url }}">{{ article.title | truncate: 50 | escape }}</a>
            </h3>

            {% if section.settings.show_description_left %}
              <div class="article-item-description">{{ article.content | strip_html | truncatewords: 10 }}</div>
            {% endif %}

            {%- if section.settings.btn_blog_left -%}
              {% if section.settings.btn_blog != blank %}
              <a class="btn-blog" href="{{ article.url }}">
                  {{ section.settings.btn_blog }}   
                  {% render "icon-arrow-2" %}
              </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
    {% endfor %}
    
    <div class="ap-listarticle__secondary-list article-right">
      {%- for article in section.settings.blog_2.articles limit: section.settings.post_limit_2 -%}
        {% if forloop.index > 0 %}
          <div reveal="" class="article-item article-item--horizontal image-zoom">
            <a href="{{ article.url }}" class="article-item__image-container">
              <img 
                data-srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="article-item__image d-none"
                loading="lazy"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              <span class="article-item__arrow ap-nextap-buttonprev ap-nextap-buttonprev--small ap-nextap-buttonprev--next d-none">
                <svg focusable="false" width="15" height="12" class="icon icon--nav-arrow-right  icon--direction-aware " viewBox="0 0 17 14">
                  <path d="M0 7h15M9 1l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
                </svg>
              </span>

              {%- if section.settings.show_date -%}
                <div class="blog-date_wp">
                  <span class="blog-date">
                      {{ article.published_at | date: "%d" }}
                      <span>
                          {{ article.published_at | date: "%b" }}
                      </span>
                  </span>
                </div>
              {%- endif -%}

            </a>

            <div class="article-item__content text-container">

              <div class="article-info">
                {%- if section.settings.show_author -%}
                  <span class="blog-author">
                    <span class="title-blog">By</span>
                    <span class="author">{{ article.author }}</span>
                  </span>
                {%- endif -%}
                {%- if section.settings.show_tag -%}
                  {%- if article.tags.size > 0 -%}
                  {% assign tag = article.tags[0] %}
                  <div class="blog-tag">
                    <a class="article-item__category tag-content"
                      href="{{ blog.url }}/tagged/{{ tag | handle }}">
                      {{ tag }}
                    </a>
                  </div>
                  {%- endif -%}
                {%- endif -%}
              </div>

              <h3 class="article-item__title heading h6">
                <a href="{{ article.url }}">{{ article.title | truncate: 50 | escape }}</a>
              </h3>

              {% if section.settings.show_description %}
                <div class="article-item-description">{{ article.content | strip_html | truncatewords: 10 }}</div>
              {% endif %}

              {% if section.settings.btn_blog != blank %}
                <a class="btn-blog btn-line" href="{{ article.url }}">
                    {{ section.settings.btn_blog }}
                    {% render "icon-arrow-2" %}
                </a>
              {% endif %}

            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </ap-listarticle>