<apollo-mobile-menu id="mobile-menu-drawer" class="drawer drawer--from-left">
    <span class="drawer__overlay"></span>
    <div class="drawer__header drawer__header--shadowed">
      <button type="button" class="drawer__close-button drawer__close-button--block tap-area" data-action="close" title="Close">
        <svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
          <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
        </svg>
      </button>
    </div>
    <div class="drawer__content">
      <ul class="mobile-nav list--unstyled mobile-nav_title" role="list">
        {%- for link in section.settings.menu.links -%}
            {% liquid
              assign menu_index = forloop.index
              assign is_megamenu = false
            %}
            <li class="mobile-nav__item" data-level="1">

                {%- if link.links != blank -%}

                    <button is="toggle-button" class="mobile-nav__link" ap-controlsaria="mobile-menu-{{ menu_index }}" ap-expanded-aria="false">
                      {{ link.title | escape }} <span class="animated-plus"></span>
                    </button>
                    <ap-contentcollapsible id="mobile-menu-{{ menu_index }}" class="collapsible">
                      <ul class="mobile-nav list--unstyled c-1" role="list">
                          {%- for childlink in link.links -%}
                            <li class="mobile-nav__item drawer__nav-item">
                              {%- if childlink.links != blank -%}
                              {%- assign grandchild_list_handle = childlink.title | handleize -%}
                              <button is="toggle-button" class="mobile-nav__link" ap-controlsaria="mobile-menu-1_1-{{ menu_index }}-{{ forloop.index }}" ap-expanded-aria="false">
                                <a href="{{ childlink.url }}" 
                                  class="meganav__link drawer__nav-link drawer__nav-link--split{% if childlink.active %} meganav__link--active{% endif %}" 
                                  id="DrawerLabel-{{ grandchild_list_handle }}"
                                  {% if childlink.active %} aria-current="page"{% endif %}
                                  >
                                  {%- render 'processMenuTitle' , itemName: childlink.title -%}
                                  {%- render 'processMenuLabel' , itemName: childlink.title -%}
                                </a>
                                <span class="animated-plus"></span>
                              </button>

                              <ap-contentcollapsible id="mobile-menu-1_1-{{ menu_index }}-{{ forloop.index }}" class="collapsible">
                                <ul class="mobile-nav list--unstyled meganav__nav meganav__nav--third-level">
                                  {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a href="{{ grandchildlink.url }}" class="meganav__link{% if grandchildlink.active %} meganav__link--active{% endif %}"{% if grandchildlink.active %} aria-current="page"{% endif %}>
                                      {%- render 'processMenuTitle' , itemName: grandchildlink.title -%}
                                      {%- render 'processMenuLabel' , itemName: grandchildlink.title -%}
                                    </a>
                                  </li>
                                  {%- endfor -%}
                                </ul>
                              </ap-contentcollapsible>
                              {%- else -%}
                              <a href="{{ childlink.url }}" 
                                class="drawer__nav-link meganav__link{% if childlink.active %} meganav__link--active{% endif %}"
                                {% if childlink.active %} aria-current="page"{% endif %}
                                >
                                {%- render 'processMenuTitle' , itemName: childlink.title -%}
                                {%- render 'processMenuLabel' , itemName: childlink.title -%}
                              </a>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                      </ul>
                    </ap-contentcollapsible>

                {% else %}

                  <a class="header__linklist-link link--animated {% if link.current %}menu-item--active{% endif %}" href="{{ link.url }}">{{ link.title | escape }}</a>

                {% endif %}
            </li>
        {%- endfor -%}
          <li class="mobile-nav__item" data-level="1" style="display: flex;align-items: center;gap: 0 13px;padding: 13px 0;">
            {% render 'localization-currency', id: 'HeaderCountryForm' %}
            {% render 'localization' %}
          </li>
      </ul>
    </div>
    <div class="drawer__footer drawer__footer--tight drawer__footer--bordered" style="opacity: 1;">
      <div class="mobile-nav__footer">
        <a class="icon-text" href="/account/login">
        {% render 'icon-user' %}Account </a>

          <a class="icon-text" href="/pages/wishlist">
                    {% render 'icon-wishlist-header' %}
                    Wishlist
                </a>

      </div>
    </div>
  </apollo-mobile-menu>