<product-item class="product-cardmini d-flex" reveal="" style="opacity: 1;" id="product-item-{{ product.id }}">

            <div class="product-cardmini_img">

                {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                <a href="{{ product.url }}" class="product-item__aspect-ratio aspect-ratio " style="padding-bottom: 100.0%; --aspect-ratio: {{ settings.size_img }}">
                    <img class="product-cardmini__primary-image" loading="eager" data-media-id="{{ product.featured_media.id }}" 
                        sizes= "{{ sizes }}"
                        alt="{{ product.title }}" 
                        src="{{ product.featured_image | image_url: width: product.featured_media.width }}" 
                        data-srcset="
                            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                        "
                        width="{{ product.featured_media.width }}" height="{{ product.featured_media.height }}">
                </a>

            </div>
        
            <div class="product-cardmini__info">

                <a href="{{ product.url }}" class="product-cardmini__title">{{ product.title | truncatewords: 5 }}</a>

                {% render 'price-product-grid', product: product %}
                    
            </div>

</product-item>       
    