{%- assign id = '#shopify-section-' | append: section.id -%}

{%- style -%}

  {{ id }}
  .section__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    {%- if section.settings.direction_header == 'vertical' -%}
      flex-direction: column;
    {%- else -%}
      gap: 10px 30px;
      {%- if section.settings.reverse -%}
        flex-direction: row-reverse;
      {%- endif -%}
    {%- endif -%}
    margin-bottom: {{ section.settings.section_header_space |  append: 'px' }};
    @media (max-width: 767px) {
      margin-bottom: {{ section.settings.section_header_space_mobile | append: 'px' }};
      flex-direction: column;
    }
  }

  {{ id }}
  .section__header--left {
    @media (min-width: 768px) {
       {%- if section.settings.direction_header != 'vertical' -%}
          max-width: 50%;
      {%- endif -%}
    }
  }

  {{ id }}
  .section__header--right {
    {%- if section.settings.direction_header != 'vertical' -%}
      @media (min-width: 768px) {
    flex: 1;
    display: flex;
    flex-direction: column;
    {%- if section.settings.reverse -%}
      align-items: flex-start;
    {%- else -%}
      align-items: flex-end;
    {%- endif -%}
  }

    {%- endif -%}
  
}


{{ id }}
.section__header .title_block {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-size: {{ section.settings.title_font_size |  append: 'px' }};
  line-height: {{ section.settings.title_line_height |  append: 'px' }};
  font-weight: {{ section.settings.title_font_weight }};
  text-transform: {{ section.settings.title_text_transform }};
  color: {{ section.settings.title_color }};
  margin-bottom: {{ section.settings.title_space | append: 'px' }};
  @media (max-width: 1199px) {
    margin-bottom: {{ section.settings.title_space_tablet |  append: 'px' }};
  }
  @media (max-width: 767px) {
    margin-bottom: {{ section.settings.title_space_mobile |  append: 'px' }};
  }
  {%- if section.settings.text_align == 'center' -%}
    justify-content: center;
  {%- endif -%}
}

{{ id }}
.section__header .heading_block {
  font-size: {{ section.settings.heading_font_size |  append: 'px' }};
  line-height: {{ section.settings.heading_line_height }};
  font-weight: {{ section.settings.heading_font_weight }};
  text-transform: {{ section.settings.heading_text_transform }};
  color: {{ section.settings.heading_color }};
  margin-bottom: {{ section.settings.heading_space |  append: 'px' }};
  {%- if section.settings.heading_width != 0 -%}
    max-width: {{ section.settings.heading_width | append: 'px' }};
  {%- endif -%}
  @media (max-width: 1199px) {
    font-size: {{ section.settings.heading_font_size_tablet |  append: 'px' }};
  }
  @media (max-width: 767px) {
    font-size: {{ section.settings.heading_font_size_mobile |  append: 'px' }};
  }

  {%- if section.settings.direction_header == 'vertical' and section.settings.text_align == 'center' -%}
    margin-left: auto;
    margin-right: auto
  {%- endif -%}
}

{{ id }}
.heading_block img {
  margin: 0 10px;
}

{{ id }}
.tab__nav {
  max-width: {{ section.settings.heading_width |  append: 'px' }};
  width: 100%;
}

{{ id }}
.section__header .description {
  font-size: {{ section.settings.description_font_size |  append: 'px' }};
  line-height: {{ section.settings.description_line_height |  append: 'px' }};
  color: {{ section.settings.description_color }};
  margin-bottom: {{ section.settings.description_space |  append: 'px' }};
  {%- if section.settings.description_width != 0 -%}
    max-width: {{ section.settings.description_width | append: 'px' }};
  {%- endif -%}
  
}


{%- endstyle -%}


{%- if section.settings.title_content != blank or section.settings.heading_content != blank or section.settings.description_content != blank -%}


  <div
    class="section__header text-{{ section.settings.text_align }}"
    {% if section.settings.data_aos_text !="none" %}
    data-aos="{{ section.settings.data_aos_text }}"
    data-aos-offset="-50"
    {% endif %}>

    {%- if section.settings.title_content != blank or section.settings.description_content != blank -%}
      <div class="section__header--left">
        {%- if section.settings.title_content != blank -%}
          <div class="title_block">
            {{ section.settings.title_content }}
          </div>
        {%- endif -%}

        {%- if section.settings.description_content != blank -%}
          <p class="description">
            {{ section.settings.description_content }}
          </p>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if section.settings.heading_content != blank -%}
      <div class="section__header--right">
        <h3 class="heading_block">
          {{ section.settings.heading_content }}
        </h3>
        {%- if section.settings.custom_block != blank -%}
          <div class="custom__block">
            {{ section.settings.custom_block }}
          </div>
        {%- endif -%}
        {%- if section.settings.tab_nav_position == 'header' and section.settings.enable_tab -%}
          <div class="tab__nav">
            {% for i in (1..section.settings.tab_limit) %}
              {%- liquid
                if i == 1
                  assign tab_name = section.settings.tab_name_1
                elsif i == 2
                  assign tab_name = section.settings.tab_name_2
                elsif i == 3
                  assign tab_name = section.settings.tab_name_3
                elsif i == 4
                  assign tab_name = section.settings.tab_name_4
                endif
              -%}
              {%- if tab_name -%}

                <div class="tab__link {% if forloop.first %}active{% endif %}" data-tab="{{ section.id }}-{{ i }}">
                  <span class="checked"></span>
                  {{ tab_name }}</div>


              {%- endif -%}
            {% endfor %}

          </div>
        {%- endif -%}
      </div>
    {%- endif -%}


    {% if section.settings.date_picker != blank and section.settings.time_picker != blank %}
      <div class="section__header--countdown">
        <h3 class="header-countdown-title">
          {{ section.settings.title_countdown }}
        </h3>
        {% render 'collection-countdown'
          , settings: section.settings %}
      </div>
    {% endif %}

  </div>


{%- endif -%}