{% render 'section-style' %}

{%- assign id = '#shopify-section-' | append: section.id -%}

<style>

  {{ id }} {
      {%- if section.settings.background_repeat -%}
        background-repeat: repeat;
      {%- else -%}
        background-repeat: no-repeat;
      {%- endif -%}
      {%- if section.settings.background_size != "default" and section.settings.background_size != "custom" -%}
        background-size: {{ section.settings.background_size }};
      {%- endif -%}
      {%- if section.settings.background_size == "custom" -%}
        background-size: {{ section.settings.background_size_custom }}%;
      {%- endif -%}
      {%- if section.settings.background_position != "custom" -%}
        background-position: {{ section.settings.background_position }};
      {%- else -%}
        background-position-x: {{ section.settings.background_position_x }};
        background-position-y: {{ section.settings.background_position_y }};
      {%- endif -%}
    }

    {{ id }} .advanced__tab--wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: {{ section.settings.nav_tabs_space }};

      {%- case section.settings.nav_tab_position -%}
        {%- when 'bottom' -%}
          flex-direction: column-reverse;
        {%- when 'top' -%}
          flex-direction: column;
        {%- when 'right' -%}
          flex-direction: row-reverse;
        {%- endcase -%}
    }

    {{ id }} .ap-navtabs__item-list {
      display: flex;
      flex-wrap: wrap;
      align-items: {{ section.settings.nav_tab_align }};
      justify-content: {{ section.settings.nav_tab_justify }};
      gap: {{ section.settings.tab_item_space }};
      {%- if section.settings.nav_tab_vertical -%}
        flex-direction: column;
      {%- endif -%}
    }

    {{ id }} .ap-navtabs__position {
      display: none;
    }

    {{ id }} .content-tabs-btn {
      padding: {{ section.settings.nav_item_padding }};
      border-radius: {{ section.settings.nav_item_rounded |  append: 'px' }};
      background: {{ section.settings.nav_item_bg }};
      color: {{ section.settings.nav_item_color }};
      gap: 20px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      transition: 0.25s all ease;
    }

    {{ id }} .content-tabs-btn .nav__item--content span {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      display: block;
      transition: 0.25s all ease;
      margin-top: 6px;
    }

    {{ id }} .content-tabs-btn[ap-expanded-aria="false"] .nav__item--content span {
      color: #999999;
    }

    {{ id }} .content-tabs-btn[ap-expanded-aria="true"] {
      background: {{ section.settings.nav_item_bg_active }};
      color: {{ section.settings.nav_item_color_active }};
    }

    {{ id }} .product-tabs__tab-item-wrapper {
      border: none;
    }

    {{ id }} .ap-navtabs {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      {{ id }} .advanced__tab--wrapper {
        gap: {{ section.settings.nav_tabs_space_mobile }};
      }
    }

    {%- for block in section.blocks -%}
      #block-{{ block.id }} .collapsible-description {
        font-size: {{ block.settings.content_size |  append: 'px' }};
        line-height: {{ block.settings.content_line_height }};
        font-weight: {{ block.settings.content_font_weight }};
        color: {{ block.settings.content_color }};
      }
      #block-{{ block.id }} .collapsible {
        text-align: {{ block.settings.text_align }};
        padding-bottom:0;
      }
      @media (max-width: 767px) {
         #block-{{ block.id }} .collapsible-description {
          font-size: {{ block.settings.content_size_mobile |  append: 'px' }};
         }
      }
    {%- endfor -%}



</style>

<section class="content-tabs">
    <div class="shopify-container">
      {% render 'section-header' %}

      <div class="advanced__tab--wrapper">
        
        <div class="tabs__nav" {% if section.settings.data_aos_tab_nav !="none" %}
          data-aos="{{ section.settings.data_aos_tab_nav }}"{% endif %}>
    
            <ap-navtabs arrows="" class="ap-navtabs ap-navtabs--loose">
                <ap-scrollablecontent class="ap-navtabs__scroller hide-scrollbar">
                    <div class="ap-navtabs__scroller-inner">
                      <div class="ap-navtabs__item-list">
                        {% for block in section.blocks %}
                          {%- case block.type -%}
                            {%- when 'tab_custom' -%}
                              <button type="button" class="ap-navtabs__item content-tabs-btn d-flex  align-items-center" ap-expanded-aria="{% if forloop.index == 1 %}true{% else %}false{% endif %}" ap-controlsaria="block-{{ block.id }}">
                                {%- if block.settings.nav_image != blank -%}
                                  <div class="nav__item--image">
                                    {{ block.settings.nav_image |  image_url: width: block.settings.nav_image.width |  image_tag }}
                                  </div>
                                {%- endif -%}

                                <div class="nav__item--content">
                                  {{ block.settings.tab_name }}
                                  {%- if block.settings.tab_name_after != blank -%}
                                    <span>{{ block.settings.tab_name_after }}</span>
                                  {%- endif -%}
                                </div>
                                  
                                </button>

                          {%- endcase -%}
                        {% endfor %}
                    </div>
                  </div>
                </ap-scrollablecontent>
            </ap-navtabs>
    
        </div>
    
        <div class="tabs__content" {% if section.settings.data_aos_tab_content !="none" %}
    data-aos="{{ section.settings.data_aos_tab_content }}"{% endif %}>
          {% for block in section.blocks %}

              <div id="block-{{ block.id }}" class="product-tabs__tab-item-wrapper" {% if forloop.index != 1 %}hidden{% endif %}>
    
                  {%- case block.type -%}
                      
                      {%- when 'tab_custom' -%}

                        <button is="toggle-button" class="collapsible-toggle heading heading--small hd-lap-and-up d-none" ap-controlsaria="block-{{ block.id }}-content" 
                        {% if forloop.index == 1 %}ap-expanded-aria="true"{% else %}ap-expanded-aria="false"{% endif %}>
                            {{ block.settings.tab_name }}
                        </button>
                        <ap-contentcollapsible id="block-{{ block.id }}-content" class="collapsible collapsible-wp" {% if forloop.index == 1 %}open{% endif %}>
                          <div class="collapsible-text">
                              <div class="collapsible-text-wp">
                                  {%- if block.settings.icon != blank -%}
                                    <div class="tab__content--icon">
                                      {{ block.settings.icon |  image_url: width: block.settings.icon.width |  image_tag }}

                                      <span>{%- if forloop.index < 10 -%}
                                        0
                                      {%- endif -%}{{ forloop.index }}</span>
                                    </div>
                                  {%- endif -%}
                                  {%- if block.settings.title != blank -%}
                                    <h3 class="contentaps-title">
                                      {{ block.settings.title }}
                                  </h3>
                                  {%- endif -%}
                                  
                                  {% if block.settings.tab_custom_content != blank %}
                                  <div class="collapsible-description">
                                    {{ block.settings.tab_custom_content }}
                                  </div>

                                  {%- if block.settings.btn_text != blank -%}
                                    <a class="btn-secondary" href="{{ blocks.settings.btn_link |  default: '#' }}">
                                      <div class="icon-button">{%- render 'icon-arrow' -%}</div>
                                      {{ block.settings.btn_text }}

                                    </a>
                                  {%- endif -%}

                                  
                                  {% endif %}
                              </div>
                          </div>
                          {% if block.settings.collapsible_img != blank %}
                          <div class="collapsible-img">
                            
                              <img loading="lazy" 
                              sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px"
                              alt="" 
                              src="{{ block.settings.collapsible_img | image_url: width: block.settings.collapsible_img.width }}" 
                              data-srcset="{%- if block.settings.collapsible_img.width >= 3000 -%}{{ block.settings.collapsible_img | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%}
                                  {{ block.settings.collapsible_img | image_url }} {{ block.settings.collapsible_img.width }}w"
                              src="{{ block.settings.collapsible_img | image_url: width: 1500 }}"
                              height="{{ block.settings.collapsible_img.height }}"
                              width="{{ block.settings.collapsible_img.width }}">
                            
                          </div>{% endif %}
                        </ap-contentcollapsible>
                      
                  {%- endcase -%}
              </div>
    
          {% endfor %}

          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'image-child' -%}
                <div class="contenttabs-imgchild">
                  {% if block.settings.img_child != blank %}
                    <img loading="lazy" 
                    sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px"
                    alt="" 
                    src="{{ block.settings.img_child | image_url: width: block.settings.img_child.width }}" 
                    data-srcset="{%- if block.settings.img_child.width >= 3000 -%}{{ block.settings.img_child | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%}
                        {{ block.settings.img_child | image_url }} {{ block.settings.img_child.width }}w"
                    src="{{ block.settings.img_child | image_url: width: 1500 }}"
                    height="{{ block.settings.img_child.height }}"
                    width="{{ block.settings.img_child.width }}">
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </div>
          
            {%- endcase -%}
          {% endfor %}

        </div>

      </div>

    </div>
</section>

{% schema %}
{
  "name": "Advanced tab",
  "tag": "section",
  "class": "section shopify-section-content-tabs",
  "max_blocks": 10  ,
  "settings": [
     {
      "type": "header",
      "content": "Section settings"
    },
    {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full width",
          "default": false
        },
       {
        "type": "number",
        "id": "content_width",
        "label": "Content width",
        "default": 1290
       },
       {
        "type": "checkbox",
        "id": "no_gutter",
        "label": "No gutter",
        "default": false
       },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "checkbox",
      "id": "background_repeat",
      "label": "Background repeat",
      "default": false
    }, {
      "type": "select",
      "id": "background_size",
      "label": "Background size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        }, {
          "value": "auto",
          "label": "Auto"
        }, {
          "value": "cover",
          "label": "Cover"
        }, {
          "value": "contain",
          "label": "Contain"
        }, {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "default"
    },
    {
      "type": "number",
      "id": "background_size_custom",
      "label": "Background size custom",
      "default": 100
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top left",
          "label": "Top Left"
        },
        {
          "value": "top center",
          "label": "Top Center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center left",
          "label": "Center Left"
        }, {
          "value": "center right",
          "label": "Center Right"
        },
        {
          "value": "bottom left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom right",
          "label": "Bottom Right"
        }, {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "background_position_x",
      "label": "Background position x"
    }, {
      "type": "text",
      "id": "background_position_y",
      "label": "Background position y"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_tablet",
      "label": "t:sections.all.margin_tablet.label",
      "info": "t:sections.all.margin_tablet.info"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_tablet",
      "label": "t:sections.all.padding_tablet.label",
      "info": "t:sections.all.padding_tablet.info"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    },
    {
          "type": "header",
          "content": "Title settings"
        },
        {
          "type": "liquid",
          "id": "title_content",
          "label": "Content"
        },
        {
          "type": "number",
          "id": "title_font_size",
          "label": "Font size",
          "default": 14
        },
        {
          "type": "number",
          "id": "title_line_height",
          "label": "Line height (px)",
          "default": 20
        },
        {
          "type": "select",
          "id": "title_font_weight",
          "label": "Font weight",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_text_transform",
          "label": "Text transform",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            },
            {
              "value": "lowercase",
              "label": "Lowercase"
            },
            {
              "value": "capitalize",
              "label": "Capitalize"
            }
          ]
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Color"
        },
        {
          "type": "number",
          "id": "title_space",
          "label": "Title space (px)",
          "default": 10
        },
        {
        "type": "number",
        "id": "title_space_tablet",
        "label": "Title space tablet (px)",
        "default": 30
      },
        {
          "type": "number",
          "id": "title_space_mobile",
          "label": "Title space mobile (px)",
          "default": 10
        },
        {
          "type": "header",
          "content": "Heading settings"
        },
        {
          "type": "image_picker",
          "id": "image_in_heading",
          "label": "Image in heading"
        },
        {
          "type": "liquid",
          "id": "heading_content",
          "label": "Content"
        },
        {
          "type": "number",
          "id": "heading_font_size",
          "label": "Font size",
          "default": 40
        },
        {
          "type": "number",
          "id": "heading_font_size_tablet",
          "label": "Font size tablet",
          "default": 30
        },
        {
          "type": "number",
          "id": "heading_font_size_mobile",
          "label": "Font size mobile",
          "default": 30
        },
        {
          "type": "text",
          "id": "heading_line_height",
          "label": "Line height"
        },
        {
          "type": "select",
          "id": "heading_font_weight",
          "label": "Font weight",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_text_transform",
          "label": "Text transform",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            },
            {
              "value": "lowercase",
              "label": "Lowercase"
            },
            {
              "value": "capitalize",
              "label": "Capitalize"
            }
          ]
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Color"
        },
        {
          "type": "number",
          "id": "heading_width",
          "label": "Heading max width",
          "default": 0
        },
        {
          "type": "number",
          "id": "heading_space",
          "label": "Heading space"
        },
        {
          "type": "header",
          "content": "Description settings"
        },
        {
          "type": "liquid",
          "id": "description_content",
          "label": "Content"
        },
        {
          "type": "number",
          "id": "description_font_size",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "number",
          "id": "description_line_height",
          "label": "Line height",
          "default": 24
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Color"
        },
        {
          "type": "number",
          "id": "description_width",
          "label": "Description max width",
          "default": 0
        },
        {
          "type": "number",
          "id": "description_space",
          "label": "Description space"
        }, {
        "type": "number",
        "id": "section_header_space",
        "label": "Section header space",
        "default": 60
      }, {
        "type": "number",
        "id": "section_header_space_mobile",
        "label": "Section header space mobile",
        "default": 40
      },  {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "Right"
          }
        ]
      }, {
        "type": "select",
        "id": "direction_header",
        "label": "Direction header",
        "default": "vertical",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          }, {
            "value": "vertical",
            "label": "Vertical"
          }
        ]
      }, {
        "type": "select",
        "id": "align_items",
        "label": "Align items",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "reverse",
        "label": "Enable reverse",
        "default": false
      }, {
        "type": "select",
        "id": "data_aos_text",
        "label": "Data Aos header text",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "fade-up",
            "label": "fade-up"
          },
          {
            "value": "fade-down",
            "label": "fade-down"
          },
          {
            "value": "fade-right",
            "label": "fade-right"
          }, {
            "value": "fade-left",
            "label": "fade-left"
          }, {
            "value": "flip-left",
            "label": "flip-left"
          }, {
            "value": "flip-right",
            "label": "flip-right"
          }, {
            "value": "flip-up",
            "label": "flip-up"
          }, {
            "value": "flip-down",
            "label": "flip-down"
          }, {
            "value": "zoom-in",
            "label": "zoom-in"
          }, {
            "value": "zoom-in-up",
            "label": "zoom-in-up"
          }, {
            "value": "zoom-in-down",
            "label": "zoom-in-down"
          }, {
            "value": "zoom-in-left",
            "label": "zoom-in-left"
          }, {
            "value": "zoom-in-right",
            "label": "zoom-in-right"
          }, {
            "value": "zoom-out",
            "label": "zoom-out"
          }, {
            "value": "zoom-out-up",
            "label": "zoom-out-up"
          }, {
            "value": "zoom-out-down",
            "label": "zoom-out-down"
          }, {
            "value": "zoom-out-left",
            "label": "zoom-out-left"
          }, {
            "value": "zoom-out-right",
            "label": "zoom-out-right"
          }
        ]
      }, {
        "type": "header",
        "content": "Tabs nav settings"
      }, {
        "type": "select",
         "id": "nav_tab_position",
         "label": "Tab nav position",
         "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }, {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
         ],
         "default": "left"
      }, {
        "type": "checkbox",
        "id": "nav_tab_vertical",
        "label": "Nav tab vertical",
        "default": false
      }, {
        "type": "select",
        "id": "nav_tab_align",
        "label": "Align items",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ],
      }, {
        "type": "select",
        "id": "nav_tab_justify",
        "label": "Justify-content",
        "default": "flex-start",
        "options": [
          {
            "value": "flex-start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "flex-end",
            "label": "End"
          }
        ]
      }, {
        "type": "text",
        "id": "tab_item_space",
        "label": "Tab item space"
      }, {
        "type": "text",
        "id": "nav_tabs_space",
        "label": "Nav tabs space"
      }, {
        "type": "text",
        "id": "nav_tabs_space_mobile",
        "label": "Nav tabs space mobile"
      }, {
        "type": "number",
        "id": "nav_item_rounded",
        "label": "Nav item border radius (px)",
        "default": 0
      }, {
        "type": "text",
        "id": "nav_item_padding",
        "label": "Nav item padding"
      }, {
        "type": "color",
        "id": "nav_item_bg",
        "label": "Nav item background"
      }, {
        "type": "color",
        "id": "nav_item_bg_active",
        "label": "Nav item active background"
      }, {
        "type": "color",
        "id": "nav_item_color",
        "label": "Nav item color"
      }, {
        "type": "color",
        "id": "nav_item_color_active",
        "label": "Nav item active color"
      }, {
        "type": "select",
        "id": "data_aos_tab_nav",
        "label": "Data Aos Tabs Nav",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "fade-up",
            "label": "fade-up"
          },
          {
            "value": "fade-down",
            "label": "fade-down"
          },
          {
            "value": "fade-right",
            "label": "fade-right"
          }, {
            "value": "fade-left",
            "label": "fade-left"
          }, {
            "value": "flip-left",
            "label": "flip-left"
          }, {
            "value": "flip-right",
            "label": "flip-right"
          }, {
            "value": "flip-up",
            "label": "flip-up"
          }, {
            "value": "flip-down",
            "label": "flip-down"
          }, {
            "value": "zoom-in",
            "label": "zoom-in"
          }, {
            "value": "zoom-in-up",
            "label": "zoom-in-up"
          }, {
            "value": "zoom-in-down",
            "label": "zoom-in-down"
          }, {
            "value": "zoom-in-left",
            "label": "zoom-in-left"
          }, {
            "value": "zoom-in-right",
            "label": "zoom-in-right"
          }, {
            "value": "zoom-out",
            "label": "zoom-out"
          }, {
            "value": "zoom-out-up",
            "label": "zoom-out-up"
          }, {
            "value": "zoom-out-down",
            "label": "zoom-out-down"
          }, {
            "value": "zoom-out-left",
            "label": "zoom-out-left"
          }, {
            "value": "zoom-out-right",
            "label": "zoom-out-right"
          }
        ]
      },
      {
        "type": "select",
        "id": "data_aos_tab_content",
        "label": "Data Aos Tabs Content",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "fade-up",
            "label": "fade-up"
          },
          {
            "value": "fade-down",
            "label": "fade-down"
          },
          {
            "value": "fade-right",
            "label": "fade-right"
          }, {
            "value": "fade-left",
            "label": "fade-left"
          }, {
            "value": "flip-left",
            "label": "flip-left"
          }, {
            "value": "flip-right",
            "label": "flip-right"
          }, {
            "value": "flip-up",
            "label": "flip-up"
          }, {
            "value": "flip-down",
            "label": "flip-down"
          }, {
            "value": "zoom-in",
            "label": "zoom-in"
          }, {
            "value": "zoom-in-up",
            "label": "zoom-in-up"
          }, {
            "value": "zoom-in-down",
            "label": "zoom-in-down"
          }, {
            "value": "zoom-in-left",
            "label": "zoom-in-left"
          }, {
            "value": "zoom-in-right",
            "label": "zoom-in-right"
          }, {
            "value": "zoom-out",
            "label": "zoom-out"
          }, {
            "value": "zoom-out-up",
            "label": "zoom-out-up"
          }, {
            "value": "zoom-out-down",
            "label": "zoom-out-down"
          }, {
            "value": "zoom-out-left",
            "label": "zoom-out-left"
          }, {
            "value": "zoom-out-right",
            "label": "zoom-out-right"
          }
        ]
      }
      
    
  ],
  "blocks": [
    {
      "type": "tab_custom",
      "name": "Tab",
      "settings": [
      {
        "type": "header",
        "content": "Tab nav settings"
      },
        {
          "type": "text",
          "id": "tab_name",
          "default": "Custom",
          "label": "Tab Name"
        }, {
          "type": "image_picker",
          "id": "nav_image",
          "label": "Nav item image"
        },  
        {
          "type": "text",
          "id": "tab_name_after",
          "label": "Tab name after"
        },
        {
          "type": "header",
          "content": "Tab content"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "liquid",
          "id": "title",
          "label": "Tab Title",
          "default": "Content"
        },
        {
          "type": "liquid",
          "id": "tab_custom_content",
          "label": "Tab content",
          "default": "Content"
        },
        {
          "type": "number",
          "id": "content_size",
          "label": "Content font size (px)",
          "default": 16
        }, {
          "type": "number",
          "id": "content_size_mobile",
          "label": "Content font size (px)",
          "default": 16
        }, {
          "type": "text",
          "id": "content_line_height",
          "label": "Content line height (em)",
          "default": "1"
        }, {
          "type": "select",
          "id": "content_font_weight",
          "label": "Content font weight",
          "default": "normal",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            }
          ]
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content color"
        }, 
        {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "Right"
          }
        ]
      },
        {
          "type": "header",
          "content": "Tab button"
        },
        {
          "type": "liquid",
          "id": "btn_text",
          "label": "Button / HTML"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Tab image"
        },
        {
          "type": "image_picker",
          "id": "collapsible_img",
          "label": "Imgae"
        }
      ]
    },
    {
      "type": "image-child",
      "name": "Image child",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_child",
          "label": "Image child"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Advanced tab",
      "blocks": [
        {
          "type": "tab_custom"
        },
        {
          "type": "tab_custom"
        },
        {
          "type": "tab_custom"
        },
        {
          "type": "tab_custom"
        }
      ]
    }
  ]
}
{% endschema %}