{{ 'advanced-content.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

<style>
    #shopify-section-{{ section.id }} {
      --heading-color: {{ section.settings.heading_color | color_extract: 'red' }}, {{ section.settings.heading_color | color_extract: 'green' }}, {{ section.settings.heading_color | color_extract: 'blue' }};
      --color-body: {{ section.settings.text_color | color_extract: 'red' }}, {{ section.settings.text_color | color_extract: 'green' }}, {{ section.settings.text_color | color_extract: 'blue' }};
      --background-color-content : {{ section.settings.primary_bg }};
      --primary-button-text-color: 255, 255, 255;
  
      --ap-nextap-buttonprev-background: {{ section.settings.prev_next_button_background | color_extract: 'red' }}, {{ section.settings.prev_next_button_background | color_extract: 'green' }}, {{ section.settings.prev_next_button_background | color_extract: 'blue' }};
      --ap-nextap-buttonprev-color: {{ section.settings.prev_next_button_color | color_extract: 'red' }}, {{ section.settings.prev_next_button_color | color_extract: 'green' }}, {{ section.settings.prev_next_button_color | color_extract: 'blue' }};;
  
    }

    #shopify-section-{{ section.id }} {
      background-position: {{ section.settings.bg_align }};
    }

    #shopify-section-{{ section.id }} .advanced-content {
      border-width: {{ section.settings.border_width }};
    }

    #shopify-section-{{ section.id }} .advanced-content {
      position: relative;
    }

    #shopify-section-{{ section.id }} .section__header.text-center {
      transform: translateY(-10px);
    }

    #shopify-section-{{ section.id }} .row {
      gap: 30px 0;
    }
    #shopify-section-{{ section.id }} .row.no-gutters {
      gap: 0;
    }

    /* TEXT COLLAPSE */
    .adv-collapsible summary::marker {
      content: '';
    }
    .adv-collapsible summary {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .fa-chevron-right {
      color: var(--primary);   
    }
    details[open] .fa-chevron-right {
      transform: rotate(90deg);
    }
    .adv-collapsible i.fa {
      font-size: 0.825rem;
      transition: all 0.2s;
    }
    .collapsible-title {
      color: var(--color-accent-1);
      font-size: 20px;
      letter-spacing: 0;
      line-height: 26px;
      font-weight: 700;
    }
    .adv-collapsible {
      margin: 0;
      width: 100%;
    }
    details:not(:last-child) {
      margin-bottom: 20px;
    }
    details {
      padding: 17px 30px;
      border: 1px solid rgb(var(--border-color));
      border-radius: 20px;
    }
    details[open] .accordion__title {
      padding: 0 0 10px 0;
    }

    /* ADV PRODUCT ROW */
    @media (min-width: 768px) {
      .adv-product_featured .product-quantity-cart {
        opacity: 1 !important;
        visibility: visible !important;
        transform: unset !important;
        position: absolute;
        bottom: 0;
      }
      .adv-product_featured .jdgm-widget.jdgm-widget {
        margin: 0 0 9px !important;
        padding: 0 !important;
      }
      .adv-product_featured  .product-item-wrapper:hover:before {
        display: none !important;
      }
      .adv-product_featured .product-item__image-wrapper {
        width: 100%;
        margin-right: 30px;
        max-width: 360px;
      }
      .adv-product_featured .product-item__info {
        text-align: left;
        position: relative;
        width: 50%;
        flex: auto;
      }
      .adv-product_featured .product-item-wrapper {
        flex-direction: row;
      }
      .product-image__product {
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
      }
      .adv-product_featured .description-product {
        display: inline-block !important;
      }
    }

    /* ADV PRODUCT LIST */
    .adv-productlist {
      display: grid;
      gap: 0 30px;
    }
    .media-body {
      flex: 1;
    }

    {% for block in section.blocks %} 

      .full .col-xl-6 .adv-video:before {
        background-color: {{ block.settings.bg_text }};
      }
                   
      @media (min-width: 1200px) {
        #block-{{ block.id }} .text-list-content {
          {%- if block.settings.padding_desktop_sm != blank -%}
            padding: {{ block.settings.padding_desktop_sm }};
          {%- endif -%}
        }

        {% if block.settings.products_per_row_desktop == 1 %}
        #block-{{ block.id }} .product-item__aspect-ratio {
          max-height: 260px;
          object-fit: cover;
          width: 100%;
        }
        {% endif %}
      }

      @media (min-width: 1600px) {
        #block-{{ block.id }} .text-list-content {
          {%- if block.settings.padding_desktop != blank -%}
            padding: {{ block.settings.padding_desktop }};
          {%- endif -%}
        }
      }

      @media (max-width: 1199px) {
        #block-{{ block.id }} .text-list-content {
          {%- if block.settings.padding_tablet != blank -%}
            padding: {{ block.settings.padding_tablet }};
          {%- endif -%}
        }
      }

    {% endfor %}                  
</style>
  
<section class="section advanced-content {{ section.settings.class }}">
  <div class="{{ section.settings.setwidthout }}">
      {% render 'section-heading' %}

      <div class="row {% if section.settings.no_gutter %}no-gutters{% endif %} align-items-{{ section.settings.align_item }}">
          {% for block in section.blocks %}
            {%- case block.settings.width -%}
            {%- when '16%' -%}
            {%- assign block_width = 'col-xl-2 col-lg-2 col-md-2 col-12' -%}
            {%- when '25%' -%}
            {%- assign block_width = 'col-xl-3 col-md-6 col-12' -%}
            {%- when '33%' -%}
            {%- assign block_width = 'col-xl-4 col-lg-4 col-12' -%}
            {%- when '40%' -%}
            {%- assign block_width = 'col-xl-40 col-md-12 col-12' -%}
            {%- when '45%' -%}
            {%- assign block_width = 'col-lg-45 col-md-12 col-12' -%}
            {%- when '50%' -%}
            {%- assign block_width = 'col-lg-6 col-md-12 col-12' -%}
            {%- when '50%_pro' -%}
            {%- assign block_width = 'col-xl-6 col-12' -%}
            {%- when '55%' -%}
            {%- assign block_width = 'col-lg-55 col-md-12 col-12' -%}
            {%- when '60%' -%}
            {%- assign block_width = 'col-xl-60 col-md-12 col-12' -%}
            {%- when '66%' -%}
            {%- assign block_width = 'col-xl-8 col-md-6 col-12' -%}
            {%- when '75%' -%}
            {%- assign block_width = 'col-xl-9 col-md-6 col-12' -%}
            {%- when '100%' -%}
            {%- assign block_width = 'col-12' -%}
            {%- when 'd-none' -%}
            {%- assign block_width = 'd-none' -%}
            {%- endcase -%}
            <div id="block-{{ block.id }}" class="{{ block_width }} {{ block.settings.class }}">
              {% case block.type %}

                {%- when 'product' -%}
                  <style>
                    .adv-productcarousel-{{ block.id }} {
                      padding: 110px 30px;
                    }
                    @media (max-width: 767px) {
                      .adv-productcarousel-{{ block.id }} {
                        padding: 60px 30px;
                      }
                    }
                    @media (min-width: 1500px) {
                      .adv-productcarousel-{{ block.id }} {
                        padding: {{ block.settings.padding_inner }};
                      }   
                    }
                  </style>
                  <div class="adv-productcarousel adv-productcarousel-{{ block.id }}">
                    <div style="gap: 15px 0;" class="d-flex flex-wrap flex-md-row flex-column align-items-center mb-5">
              
                      {% if block.settings.heading != blank %}
                        <h2 class="heading {{ block.settings.heading_size_2 }}">
                            <span>
                                {{- block.settings.heading -}}
                            </span>
                        </h2>
                      {% endif %}  
            
                      {% if block.settings.arrow_heading %}
                        <div style="gap: 10px;" class="d-flex position-relative justify-content-md-end justify-content-center arrow-heading">
                          <button class="swiper-button-prev" data-swiper-id="{{ section.id }}-prev">
                            {% render 'icon-arrow-prev' %}
                          </button>
                          <button class="swiper-button-next" data-swiper-id="{{ section.id }}-next">
                            {% render 'icon-arrow-next' %}
                          </button>
                        </div>
                      {% endif %}
                    
                    </div>
                    <!-- Swiper -->
                    <div data-swiper-id="{{ section.id }}" class="ap-swiper mySwiper swiper-container" data-swiper='{
                        "spaceBetween": {{ block.settings.spaceBetween }},
                        "slidesPerView": {{ block.settings.perviewMobile }},
                        "breakpoints":{
                          "576": {
                            "slidesPerView": {{ block.settings.perviewMobile }},
                            "spaceBetween": {{ block.settings.spaceBetween }}
                          },
                          "768":{
                            "slidesPerView": 2,
                            "spaceBetween": {{ block.settings.spaceBetween }}
                          },
                          "1200":{
                            "slidesPerView": {{ block.settings.perviewDesktop }},
                            "spaceBetween": {{ block.settings.spaceBetween }}
                          }
                        }
                      }'>
                        <div class="swiper-wrapper">
                            <!-- Generating 10 cards with different content -->
                            {% liquid
                                if block.settings.collection != blank
                                    assign limit = block.settings.limit
                                    for product in block.settings.collection.products limit: limit
                                        echo '<div class="swiper-slide">'
                                            render 'product-grid-2', product: product
                                        echo '</div>'
                                    endfor
                                else
                                    if block.settings.collection == blank
                                        for i in (1..3)
                                            echo '<div class="swiper-slide">'
                                                capture current
                                                cycle 1, 2, 3
                                                endcapture
                                                assign img = 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg'
                                                echo img
                                            echo '</div>'
                                        endfor
                                    endif
                                endif
                            %}
                        </div>

                        <!-- Pagination and Navigation -->
                        {% if block.settings.dots %}
                          <div class="swiper-pagination"></div>
                        {% endif %}

                        {% if block.settings.arrow_heading != true %}
                          {% if block.settings.arrows %}
                            <button class="swiper-button-prev" data-swiper-id="{{ section.id }}-prev">
                              {% render 'icon-arrow-prev' %}
                            </button>
                            <button class="swiper-button-next" data-swiper-id="{{ section.id }}-next">
                              {% render 'icon-arrow-next' %}
                            </button>
                          {% endif %}
                        {% endif %}

                    </div>
                  </div>

                {%- when 'productlist' -%}
                <style>
                  #block-{{ block.id }} .adv-productlist {
                    background-color: #fff;
                    padding: 30px;
                    border-radius: 10px;
                    height: 100%;
                  }
                  {% if block.settings.column_product == 2 and block.settings.limit_product == '6' %}
                    .adv-productlist__item {
                      border-bottom: 1px solid;
                      padding-bottom: 20px;
                      margin-bottom: 20px;
                    }
                    .adv-productlist__item:last-child {
                      border-bottom: none;
                      margin-bottom: 0;
                      padding-bottom: 0;
                    }
                  {% endif %}
                  @media (min-width: 768px) {
                    {% if block.settings.column_product == 2 and block.settings.limit_product == '6' %}
                    .adv-productlist__item:nth-child(5) {
                      border-bottom: none;
                      margin-bottom: 0;
                      padding-bottom: 0;
                    }
                    {% endif %}
                    #block-{{ block.id }} .adv-productlist {
                      grid-template-columns: repeat({{ block.settings.column_product }}, 1fr);
                    }
                  }
                </style>
                <div class="adv-productlist">
                  {%- assign collection = collections[block.settings.mini_collection] -%}
                  {%- if collection != blank -%}
                    {%- if block.settings.title != blank -%}
                      <h4 class="heading h4 mb-30">
                        {{ block.settings.title }}
                      </h4>
                    {%- endif -%}
                    {%- for product in collection.products limit: block.settings.limit_product -%}
                      <div class="media adv-productlist__item" style="border-color: {{ block.settings.p_border }}!important;">
                        <a href="{{ product.url | within: collection }}"><img class="mr-3 lazyload adv-img" 
                          src="{{ product.featured_image | image_url: width: product.featured_media.width }}" 
                          loading="lazy"
                          alt=""
                          width="{{ product.featured_image.width }}"
                          height="{{ product.featured_image.height }}"></a>
                        <div class="media-body">
                          {% if settings.enable_rating %}          
                            <!-- Start of Judge.me code -->
                            <div class='jdgm-widget jdgm-preview-badge'>
                                {{ product.metafields.judgeme.badge }}             
                            </div>
                            <!-- End of Judge.me code -->
                          {% endif %}
                          <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-item-meta__title mb-1">{{ product.title }}
                          </a>
                          {% if settings.enable_author %}
                            <div class="author-product my-2">
                                <a href="/collections/vendors?filter.p.vendor={{ product.vendor }}&q={{ product.vendor }}">
                                    {{ product.vendor }}
                                </a>
                            </div>
                          {% endif %}
      
                          {% if settings.enable_type %}
                              <div class="type-product my-2">{{ product.type }}</div>
                          {% endif %}

                          {%- if product.available -%}
                            {% render 'price-product-grid', product: product %}
                          {%- else -%}
                            <div class="product-card__availability">
                              {{ 'products.product.sold_out' | t }}
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endfor -%}
                </div>
                {%- else -%}
                  <h4 class="mb-2">
                    Collection title
                  </h4>
                  {%- assign limit =  block.settings.limit_product -%}
                  {%- for i in (1..limit) -%}
                    <div class="media p-3 {% unless forloop.last %}border-bottom{% endunless %}">
                      <div class="mr-3 border">
                        {%- capture current -%}
                          {%- cycle 1, 2, 3, 4, 5, 6 -%}
                        {%- endcapture -%}
                        <div style="width: 74px;">
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      </div>
                      <div class="media-body">
                        <div class="product-card__name">{{ 'onboarding.product_title' | t }}
                        </div>
                        <div class="product-card__price">
                          {%- cycle '$19.99', '$28.37', '$33.22', '$41.56', '$55.21', '$62.98' -%}
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                {%- endif -%}

                {%- when 'productlist-row' -%}
                  {% liquid
                      assign limit = block.settings.limit
                      assign product_list = block.settings.product_list
                  %}
                  {%- case block.settings.column -%}
                      {%- when '1' -%}
                          {%- assign column = 'col-12 p-0' -%}
                      {%- when '2' -%}
                          {%- assign column = 'col-lg-6 col-md-6 col-12 p-0' -%}
                      {%- else -%}
                      {%- assign column = 'col-lg-4 col-md-6 col-12 p-0' -%}
                  {%- endcase -%}
                  <div class="product-image__product">
                      <div class="row">
                          {%- if product_list != blank -%}
                            {%- for product in product_list limit: limit -%}
                                <div class="{{ column }} adv-product_featured" data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}" >
                                  {%- render 'product-grid', product: product -%}
                                </div>
                            {%- endfor -%}
                          {%- else -%}
                            {%- for i in (1..limit) -%}
                              {% liquid
                                echo '<div class="col-lg-6 col-md-6 col-12">'
                                  capture current
                                  cycle 1, 2, 3, 4, 5, 6
                                  endcapture
                                  assign img = 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg'
                                  echo img
                                echo '</div>'
                              %}
                            {%- endfor -%}
                          {%- endif -%}
                      </div>
                  </div>

                {%- when 'image' -%}

                  <style>
                    #img-{{ block.id }} .adv-img-content {
                      padding: 30px;
                    }
                    @media (min-width: 1200px) {
                      #img-{{ block.id }} .adv-img-content {
                        padding: {{ block.settings.padding_inner }};
                      }   
                    }
                  </style>

                  {%-liquid
                    assign position_text = block.settings.position_text

                    case position_text
                      when 'top-left'
                      assign positiontxt = 'align-items-start justify-content-start'
                      when 'top-center'
                      assign positiontxt = 'align-items-center justify-content-start'
                      when 'top-right'
                      assign positiontxt = 'align-items-end justify-content-start'
                      when 'mid-left'
                      assign positiontxt = 'align-items-start justify-content-center'
                      when 'mid-center'
                      assign positiontxt = 'align-items-center justify-content-center'
                      when 'mid-right'
                      assign positiontxt = 'align-items-end justify-content-center'
                      when 'bot-left'
                      assign positiontxt = 'align-items-start justify-content-end'
                      when 'bot-center'
                      assign positiontxt = 'align-items-center justify-content-end'
                      when 'bot-right'
                      assign positiontxt = 'align-items-end justify-content-end'
                      else 
                      assign positiontxt = 'align-items-end justify-content-start'
                    endcase
                  -%}

                  <adv-image id="img-{{ block.id }}" reveal-on-scroll="" class="ap-imagetextblock ap-imagetextblock--cover ap-object-loaded">
                    <div class='adv-image ap-imagetextblock-link'>
                      <div class="ap-imagetextblock__image-wrapper">
                        {% if  block.settings.image_background != blank %}
                          <img class="adv-list-image" reveal="" loading="lazy" 
                              sizes="(max-width: 999px) 100vw, 72vw" alt="" 
                              src="{{ block.settings.image_background | image_url: width: block.settings.image_background.width }}" 
                              data-srcset=" {{ block.settings.image_background | image_url: width: 600 }} 600w, {{ block.settings.image_background | image_url: width: 700 }} 700w, {{ block.settings.image_background | image_url: width: 800 }} 800w, {{ block.settings.image_background | image_url: width: 1000 }} 1000w, {{ block.settings.image_background | image_url: width: 1200 }} 1200w, {{ block.settings.image_background | image_url: width: 1400 }} 1400w, {{ block.settings.image_background | image_url: width: 1600 }} 1600w, {{ block.settings.image_background | image_url: width: 1800 }} 1800w, {{ block.settings.image_background | image_url: width: 2000 }} 2000w" 
                              width="{{ block.settings.image_background.width }}" height="{{ block.settings.image_background.height }}">     
                        {% else %}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %} 
                      </div>

                      <div class="adv-img-content d-flex flex-column {{ positiontxt }}">
                        <div class="text-{{ block.settings.text_align }}">
                          {% if block.settings.content_title != blank %}
                          <h3 style="color: {{ block.settings.color_sub }}" class="heading adv-content-subtitle sub-heading">
                            {{ block.settings.sub_title }}
                          </h3>
                          {% endif %}
                          {% if block.settings.content_title != blank %}
                          <h2 style="color: {{ block.settings.color_title }}" class="heading adv-content-title {{ block.settings.heading_size_2 }} mb-2 pb-1">
                            {{ block.settings.content_title }}
                          </h2>
                          {% endif %}
                          {% if block.settings.content_description != blank %}
                          <p style="color: {{ block.settings.color_des }}" class="adv-content-description mb-4 pd-1">
                            {{ block.settings.content_description }}
                          </p>
                          {% endif %}
                          {% if block.settings.content_description_2 != blank %}
                          <p style="color: {{ block.settings.color_des_2 }}" class="adv-content-description-2">
                            {{ block.settings.content_description_2 }}
                          </p>
                          {% endif %}

                          <style>
                            #img-{{ block.id }} .header-countdown-title ,
                            #img-{{ block.id }} #countdowntimer .word  {
                              color: {{ block.settings.color_title }};
                            }
                          </style>
                          {% if block.settings.date_picker != blank and block.settings.time_picker != blank %}
                          <div class="header-box-center countdown-header text-{{ block.settings.text_align }} mt-4 {% if block.settings.button1_label != blank %}mb-4{% endif %}"> 
                            <div class="header-countdown-title">
                              {{ block.settings.title_countdown }}
                            </div>
                            {% render 'collection-countdown' , settings: block.settings %}
                          </div>
                          {% endif %}
  
                          {% if block.settings.button1_label != blank %}
                          <style>
                            #img-{{ block.id }} a.button.btn-base, 
                            #img-{{ block.id }} .btn-outline, 
                            #img-{{ block.id }} .btn-line ,
                            #img-{{ block.id }} .btn-line-black ,
                            #img-{{ block.id }} .btn-base {
                              color: {{ block.settings.color_btn }};
                              background-color: {{ block.settings.bg_btn }};
                              text-align: left;
                              border-color: {{ block.settings.color_btn }};
                            }
                            #img-{{ block.id }} a.button.btn-base path , 
                            #img-{{ block.id }} .btn-outline path , 
                            #img-{{ block.id }} .btn-base path {
                              fill: {{ block.settings.color_btn }};
                            }
                            #img-{{ block.id }} .btn-outline:hover, 
                            #img-{{ block.id }} a.button.btn-base:hover,
                            #img-{{ block.id }} .btn-line:hover ,
                            #img-{{ block.id }} .btn-line-black:hover ,
                            #img-{{ block.id }} .btn-base:hover {
                              color: {{ block.settings.color_btn_hover }};
                              background-color: {{ block.settings.bg_btn_hover }};
                              border-color: {{ block.settings.color_btn_hover }};
                            }
                            #img-{{ block.id }} .btn-outline:hover path , 
                            #img-{{ block.id }} a.button.btn-base:hover path , 
                            #img-{{ block.id }} .btn-base:hover path {
                              fill: {{ block.settings.color_btn_hover }};
                            }
                          </style>
                          <a href="{{ block.settings.link1 }}" class="button {{ block.settings.style_btn_item }}">
                            {{ block.settings.button1_label }}
                          </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                   
                    <style>
                      #shopify-section-{{ section.id }} #block-{{ block.id }} .textscroll-item{
                        animation-duration: {{ block.settings.speed }}s;
                      }
                    </style>
                    {% if block.settings.code != blank %}
                      <div class="image-text-scroll">
                        <div style="background-color: {{ block.settings.bg_colorscrolltext }};" class="text-scroll text-scroll-left">
                          {%- for i in (1..10) -%}
                            <span class="textscroll-item anim-loop-top">
                              {%- for block in section.blocks -%}
                                <span style="color: {{ block.settings.color_title }}" class="{{ block.settings.size_text }} mb-0 d-flex align-items-center text-uppercase">
                                  {{ block.settings.code }}
                                </span>
                              {%- endfor -%} 
                            </span>
                          {%- endfor -%}
                        </div>
                      </div>
                    {% endif %}
                  </adv-image>

                {%- when 'text' -%}
                  <ap-imagetextblock id="text-{{ block.id }}" reveal-on-scroll="" class="ap-object-loaded text-list d-block h-100">
                      <div 
                      style="
                      background-color: {{ block.settings.bg_text }};
                      {% if block.settings.background_image != blank %}
                      background-image: url({{ block.settings.background_image | image_url: width: 2000 }});
                      {% endif %}
                      " 
                      class="text-list-content text-{{ block.settings.text_align }}">
                        {% if block.settings.text_list_icon != blank %}
                        <div class="text-list_icon mb-3">
                          {{ block.settings.text_list_icon }}
                        </div>
                        {% endif %}
                        
                        {% if block.settings.content_sub != blank %}
                        <p style="color: {{ block.settings.color_sub }}" class="heading text-list-sub sub-heading my-0 mb-3">
                          <span>
                            {{ block.settings.content_sub }}
                          </span>
                        </p>
                        {% endif %}

                        {% if block.settings.content_title != blank %}
                        <h2 style="color: {{ block.settings.color_title }}" class="heading {{ block.settings.heading_size }} text-list-title my-0 mb-20">
                          {{ block.settings.content_title }}
                        </h2>
                        {% endif %}

                        {% if block.settings.content_description != blank %}
                        <p style="color: {{ block.settings.color_description }}" class="text-list-description my-0 mb-30">
                          {{ block.settings.content_description }}
                        </p>
                        {% endif %}

                        {% if block.settings.content_des_2 != blank %}
                          <div style="color: {{ block.settings.color_description }}" class="text-list_description_2 my-0 mb-5">
                            {{ block.settings.content_des_2 }}
                          </div>
                        {% endif %}

                        {% if block.settings.icon_service != blank or block.settings.title_service != blank or block.settings.description_service != blank %}
                          <div class="adv-text-service">
                            <div class="adv-text-service_list">
                              <div class="adv-text-service_list-wp">
                                <div class="adv-text-service-item">
                                  <div class="adv-text-service-icon">{{ block.settings.icon_service }}</div>
                                  <div class="adv-service-content">
                                    <div style="color: {{ block.settings.color_title_service }}"
                                      class="adv-text-service-title heading h6 {% if block.settings.description_service != blank %} mb-2 {% else %} mb-0{% endif %}">{{ block.settings.title_service }}</div>
                                    <div style="color: {{ block.settings.color_description_service }}"
                                      class="adv-text-service-description">{{ block.settings.description_service }}</div>
                                  </div>
                                </div>
                                <div class="adv-text-service-item">
                                  <div class="adv-text-service-icon">{{ block.settings.icon_service_2 }}</div>
                                  <div class="adv-service-content">
                                    <div style="color: {{ block.settings.color_title_service }}"
                                    class="adv-text-service-title heading h6 {% if block.settings.description_service2 != blank %} mb-2 {% else %} mb-0{% endif %}">{{ block.settings.title_service_2 }}</div>
                                    <div style="color: {{ block.settings.color_description_service }}"
                                      class="adv-text-service-description">{{ block.settings.description_service2 }}</div>
                                  </div>
                                </div>
                              </div>
                              {% if block.settings.icon_service_3 != blank or block.settings.title_service_3 != blank or block.settings.description_service3 != blank %}
                              <div class="adv-text-service_list-wp">
                                <div class="adv-text-service-item">
                                  <div class="adv-text-service-icon">{{ block.settings.icon_service_3 }}</div>
                                  <div class="adv-service-content">
                                    <div style="color: {{ block.settings.color_title_service }}"
                                    class="adv-text-service-title heading h6 {% if block.settings.description_service3 != blank %} mb-2 {% else %} mb-0{% endif %}">{{ block.settings.title_service_3 }}</div>
                                    <div style="color: {{ block.settings.color_description_service }}"
                                      class="adv-text-service-description">{{ block.settings.description_service3 }}</div>
                                  </div>
                                </div>
                                {% if block.settings.icon_service_4 != blank or block.settings.title_service_4 != blank or block.settings.description_service4 != blank %}
                                <div class="adv-text-service-item">
                                  <div class="adv-text-service-icon">{{ block.settings.icon_service_4 }}</div>
                                  <div class="adv-service-content">
                                    <div style="color: {{ block.settings.color_title_service }}"
                                    class="adv-text-service-title heading h6 {% if block.settings.description_service4 != blank %} mb-2 {% else %} mb-0{% endif %}">{{ block.settings.title_service_4 }}</div>
                                    <div style="color: {{ block.settings.color_description_service }}"
                                      class="adv-text-service-description">{{ block.settings.description_service4 }}</div>
                                  </div>
                                </div>
                                {% endif %}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        {% endif %}

                        {% if block.settings.heading_collapsible != blank %}
                          <div class="adv-collapsible">
                            <details id="Details-{{ block.id }}" open >
                              <summary id="Summary-{{ block.id }}">
                                <i class="fa fa-solid fa-chevron-right"></i>    
                                <div class="accordion__title-content">
                                  <h3 class="accordion__title h4 collapsible-title">
                                    {{ block.settings.heading_collapsible }}
                                  </h3>
                                </div>
                              </summary>
                              <div class="accordion__content rte collapsible-description" id="CollapsibleAccordion-{{ block.id }}" role="region" aria-labelledby="Summary-{{ block.id }}">
                                {{ block.settings.row_content }}
                              </div>
                            </details>
                            {% if block.settings.heading_collapsible_2 != blank %}
                            <details id="Details-{{ block.id }}">
                              <summary id="Summary-{{ block.id }}">
                                <i class="fa fa-solid fa-chevron-right"></i>
                                <div class="accordion__title-content">
                                  <h3 class="accordion__title h4 collapsible-title">
                                    {{ block.settings.heading_collapsible_2 }}
                                  </h3>
                                </div>
                              </summary>
                              <div class="accordion__content rte collapsible-description" id="CollapsibleAccordion-{{ block.id }}" role="region" aria-labelledby="Summary-{{ block.id }}">
                                {{ block.settings.row_content_2 }}
                              </div>
                            </details>
                            {% endif %}
                            {% if block.settings.heading_collapsible_3 != blank %}
                            <details id="Details-{{ block.id }}">
                              <summary id="Summary-{{ block.id }}">
                                <i class="fa fa-solid fa-chevron-right"></i>
                                <div class="accordion__title-content">
                                  <h3 class="accordion__title h4 collapsible-title">
                                    {{ block.settings.heading_collapsible_3 }}
                                  </h3>
                                </div>
                              </summary>
                              <div class="accordion__content rte collapsible-description" id="CollapsibleAccordion-{{ block.id }}" role="region" aria-labelledby="Summary-{{ block.id }}">
                                {{ block.settings.row_content_3 }}
                              </div>
                            </details>
                            {% endif %}
                            {% if block.settings.heading_collapsible_4 != blank %}
                            <details id="Details-{{ block.id }}">
                              <summary id="Summary-{{ block.id }}">
                                <i class="fa fa-solid fa-chevron-right"></i>
                                <div class="accordion__title-content">
                                  <h3 class="accordion__title h4 collapsible-title">
                                    {{ block.settings.heading_collapsible_4 }}
                                  </h3>
                                </div>
                              </summary>
                              <div class="accordion__content rte collapsible-description" id="CollapsibleAccordion-{{ block.id }}" role="region" aria-labelledby="Summary-{{ block.id }}">
                                {{ block.settings.row_content_4 }}
                              </div>
                            </details>
                            {% endif %}
                            {% if block.settings.heading_collapsible_5 != blank %}
                            <details id="Details-{{ block.id }}">
                              <summary id="Summary-{{ block.id }}">
                                <i class="fa fa-solid fa-chevron-right"></i>
                                <div class="accordion__title-content">
                                  <h3 class="accordion__title h4 collapsible-title">
                                    {{ block.settings.heading_collapsible_5 }}
                                  </h3>
                                </div>
                              </summary>
                              <div class="accordion__content rte collapsible-description" id="CollapsibleAccordion-{{ block.id }}" role="region" aria-labelledby="Summary-{{ block.id }}">
                                {{ block.settings.row_content_5 }}
                              </div>
                            </details>
                            {% endif %}
                          </div>
                        {% endif %}

                        <style>
                          #block-{{ block.id }} a.button.btn-base, 
                          #block-{{ block.id }} .btn-outline, 
                          #block-{{ block.id }} .btn-line ,
                          #block-{{ block.id }} .btn-line-black ,
                          #block-{{ block.id }} .btn-base {
                            color: {{ block.settings.color_btn }};
                            background-color: {{ block.settings.bg_btn }};
                            border-color: {{ block.settings.color_btn }};
                          }
                          #block-{{ block.id }} .btn-outline:hover, 
                          #block-{{ block.id }} a.button.btn-base:hover,
                          #block-{{ block.id }} .btn-line:hover ,
                          #block-{{ block.id }} .btn-line-black:hover ,
                          #block-{{ block.id }} .btn-base:hover {
                            color: {{ block.settings.color_btn_hover }};
                            background-color: {{ block.settings.bg_btn_hover }};
                            border-color: {{ block.settings.color_btn_hover }};
                          }
                        </style>
                        {% if block.settings.button1_label == blank or block.settings.button2_label == blank %}
                          <div class="button-wrapper">
                        {% else %}
                          <div class="button-group__wrapper">
                        {% endif %}
                          {%- if block.settings.button1_label != blank -%}
                            <a href="{{ block.settings.link1 }}" class="button {{ block.settings.style_btn }}">
                              <span>
                                {{- block.settings.button1_label -}}
                              </span>
                            </a>
                          {%- endif -%}
                          {% if block.settings.button2_label != blank %}
                            <a href="{{ block.settings.link2 }}" class="button {{ block.settings.style_btn_2 }}">
                              <span>
                                {{- block.settings.button2_label -}}
                              </span>
                            </a>
                          {% endif %}
                          </div>

                      

                      <style>
                        #shopify-section-{{ section.id }} .textscroll-item{
                          animation-duration: {{ block.settings.speed }}s;
                        }
                      </style>
                      {% if block.settings.code != blank %}
                      <div class="text-scroll text-scroll-left">
                        {%- for i in (1..10) -%}
                          <span class="textscroll-item anim-loop-top">
                            {%- for block in section.blocks -%}
                              <span style="color: {{ block.settings.color_title }}" class="{{ block.settings.size_text }} mb-0 d-flex align-items-center text-uppercase">
                                {{ block.settings.code }}
                              </span>
                            {%- endfor -%} 
                          </span>
                        {%- endfor -%}
                      </div>
                      {% endif %}

                      {% if block.settings.code_right != blank %}
                      <div class="text-scroll text-scroll-right">
                        {%- for i in (1..10) -%}
                          <span class="textscroll-item anim-loop-bottom">
                            {%- for block in section.blocks -%}
                              <span style="color: {{ block.settings.color_title }}" class="{{ block.settings.size_text }} mb-0 d-flex align-items-center text-uppercase">
                                {{ block.settings.code_right }}
                              </span>
                            {%- endfor -%} 
                          </span>
                        {%- endfor -%}
                      </div>
                      {% endif %}

                  </ap-imagetextblock>

                {%- when 'spacer' -%}
                  <div class="adv-image__space"></div>

              {% endcase %}
            </div>
          {% endfor %}
      </div>   
  </div>

  {% for block in section.blocks %}
    {% case block.type %}
      {%- when 'html' -%}
        <div>
          {{ block.settings.code }}
        </div>
    {% endcase %}
  {% endfor %}

</section>

{% schema %}
{
  "name": "t:sections.advanced-content.name",
  "class": "shopify-section--advanced-content",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "setwidthout",
      "label": "Width",
      "default": "full",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background-color",
      "default": "#ffffff",
      "label": "t:sections.all.background-color.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image.label"
    },
    {
      "type": "select",
      "id": "bg_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Background align"
    },
    {
      "type": "color",
      "id": "primary_bg",
      "default": "#ffffff",
      "label": "Background color content"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.advanced-content.settings.heading_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#282828",
      "label": "t:sections.advanced-content.settings.text_color.label"
    },
    {
      "type": "liquid",
      "id": "sub_heading",
      "default": "Sub heading",
      "label": "Sub Heading"
    },
    {
      "type": "liquid",
      "id": "tab_heading",
      "default": "Welcome to our store",
      "label": "t:sections.advanced-content.settings.tab_heading.label"
    },
    {
      "type": "range",
      "id": "tab_heading_size",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
      "label": "t:sections.advanced-content.settings.tab_heading_size.label"
    },
    {
      "type": "liquid",
      "id": "tab_description",
      "label": "t:sections.advanced-content.settings.tab_description.label"
    },
    {
      "type": "liquid",
      "id": "h_description_2",
      "label": "Description / HTML"
    },
    {
      "type": "liquid",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-base",
      "options": [
        {
          "value": "btn-base",
          "label": "Button Base"
        },
        {
          "value": "btn-outline",
          "label": "Button Out Line"
        },
        {
          "value": "btn-line",
          "label": "Button Line"
        },
        {
          "value": "btn-line-black",
          "label": "Button Line Black"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text align"
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "checkbox",
      "id": "no_gutter",
      "label": "No gutters",
      "default": false
    },
    {
      "type": "select",
      "id": "align_item",
      "options": [
        {
          "value": "normal",
          "label": "Base"
        },
        {
          "value": "center",
          "label": "Mid"
        },
        {
          "value": "end",
          "label": "Bot"
        }
      ],
      "default": "normal",
      "label": "Align content section"
    },
    {
      "type": "text",
      "id": "border_width",
      "label": "Border width",
      "info": "Ex: 1px 1px 1px 1px"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_tablet",
      "label": "t:sections.all.margin_tablet.label",
      "info": "t:sections.all.margin_tablet.info"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    },
    {
      "type": "header",
      "content": "Padding content"
    },
    {
      "type": "text",
      "id": "padding_content",
      "label": "Padding content",
      "info": "Eg: 20px 20px 20px 20px (corresponds to the positions 'Top' 'Right' 'Bottom' 'Left')"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.advanced-content.blocks.product.name",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },       
            {
              "value": "40%",
              "label": "40%"
            },       
            {
              "value": "45%",
              "label": "45%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "55%",
              "label": "55%"
            },
            {
              "value": "60%",
              "label": "60%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "text",
          "id": "padding_inner",
          "label": "Padding inner",
          "info": "t:sections.all.padding_desktop.info"
        },
        {
          "type": "liquid",
          "id": "heading",
          "label": "Heading center"
        },
        {
          "type": "select",
          "id": "heading_size_2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h3",
          "label": "Heading size"
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "range",
          "id": "limit",
          "min": 3,
          "max": 30,
          "step": 1,
          "label": "Limit items",
          "default": 10
        },
        {
          "type": "range",
          "id": "perviewDesktop",
          "label": "Per View Desktop",
          "max": 6,
          "min": 1,
          "step": 1,
          "unit": " c",
          "default": 4
        },
        {
          "type": "range",
          "id": "perviewMobile",
          "label": "Per View Mobile",
          "max": 3,
          "min": 1,
          "step": 1,
          "unit": " c",
          "default": 1
        },
        {
          "type": "range",
          "id": "spaceBetween",
          "label": "Space Between",
          "max": 40,
          "min": 0,
          "step": 1,
          "unit": " sp",
          "default": 30
        },
        {
          "type": "checkbox",
          "id": "arrows",
          "label": "Arrows",
          "default": true
        },
        {
          "label": "Arrow heading",
          "id": "arrow_heading",
          "type": "checkbox",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "dots",
          "label": "Dots",
          "default": true
        }
      ]
    },
    {
      "type": "productlist",
      "name": "Product List",
      "settings": [
        {
          "type": "collection",
          "id": "mini_collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "column_product",
          "label": "Column",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title Collection ",
          "default": "Title Collection"
        },
        {
          "type": "text",
          "id": "limit_product",
          "label": "Limit Products",
          "default": "3"
        },
        {
          "type": "color",
          "id": "p_border",
          "label": "Border Color",
          "default": "#e9e9e9"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "50%_pro",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },       
            {
              "value": "40%",
              "label": "40%"
            },       
            {
              "value": "45%",
              "label": "45%"
            },
            {
              "value": "50%_pro",
              "label": "50%"
            },
            {
              "value": "55%",
              "label": "55%"
            },
            {
              "value": "60%",
              "label": "60%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "productlist-row",
      "name": "Product row",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "50%_pro",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },       
            {
              "value": "40%",
              "label": "40%"
            },       
            {
              "value": "45%",
              "label": "45%"
            },
            {
              "value": "50%_pro",
              "label": "50%"
            },
            {
              "value": "55%",
              "label": "55%"
            },
            {
              "value": "60%",
              "label": "60%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "product_list",
          "id": "product_list",
          "limit": 6,
          "label": "Product List"
        },
        {
          "type": "select",
          "id": "column",
          "label": "Columns",
          "default": "2",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        },
        {
          "type": "range",
          "id": "limit",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Limit items",
          "default": 4
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },       
            {
              "value": "40%",
              "label": "40%"
            },       
            {
              "value": "45%",
              "label": "45%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "55%",
              "label": "55%"
            },
            {
              "value": "60%",
              "label": "60%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image_background",
          "label": "t:sections.advanced-content.blocks.image.settings.image_background.label"
        },
        {
          "id": "class",
          "type": "text",
          "label": "Class More"
        },
        {
          "type": "header",
          "content": "t:sections.advanced-content.blocks.image.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "padding_inner",
          "label": "Padding inner",
          "info": "t:sections.all.padding_desktop.info"
        },
        {
          "type": "select",
          "id": "position_text",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "mid-left",
              "label": "Midle Left "
            },
            {
              "value": "mid-center",
              "label": "Midle Center "
            },
            {
              "value": "mid-right",
              "label": "Midle Right "
            },
            {
              "value": "bot-left",
              "label": "Bottom Left "
            },
            {
              "value": "bot-center",
              "label": "Bottom Center "
            },
            {
              "value": "bot-right",
              "label": "Bottom Right "
            }
          ],
          "default": "mid-center",
          "label": "Text Position"
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text align"
        },
        {
          "type": "color",
          "id": "color_label",
          "label": "Color Label"
        },
        {
          "type": "color",
          "id": "bg_color_label",
          "label": "Background Label"
        },
        {
          "type": "liquid",
          "id": "sub_title",
          "label": "Sub title"
        },
        {
          "type": "color",
          "id": "color_sub",
          "label": "Color Sub title",
          "default": "#000"
        },
        {
          "type": "liquid",
          "id": "content_title",
          "label": "Content title"
        },
        {
          "type": "select",
          "id": "heading_size_2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h3",
          "label": "Heading size"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color title",
          "default": "#000"
        },
        {
          "type": "liquid",
          "id": "content_description",
          "label": "Content description"
        },
        {
          "type": "color",
          "id": "color_des",
          "label": "Color description",
          "default": "#000"
        },
        {
          "type": "liquid",
          "id": "content_description_2",
          "label": "Content description 2"
        },
        {
          "type": "color",
          "id": "color_des_2",
          "label": "Color description 2",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "title_countdown",
          "label": "Title Count Down",
          "default": "Title Count Down"
        },
        {
          "type": "text",
          "id": "time_picker",
          "label": "Choose time",
          "default": "23:00",
          "info": "00:00"
        },
        {
          "type": "text",
          "id": "date_picker",
          "label": "Choose date",
          "default": "30-12-2225",
          "info": "e.g. dd-mm-yyyy"
        },
        {
          "type": "liquid",
          "id": "button1_label",
          "label": "Text button"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "t:sections.advanced-content.blocks.image.settings.link_1.label"
        },
        {
          "type": "select",
          "id": "style_btn_item",
          "label": "Style Button",
          "default": "btn-base",
          "options": [
            {
              "value": "btn-base",
              "label": "Button Base"
            },
            {
              "value": "btn-base btn-md",
              "label": "Button Base md"
            },
            {
              "value": "btn-base btn-sm",
              "label": "Button Base sm"
            },
            {
              "value": "btn-outline",
              "label": "Button Out Line"
            },
            {
              "value": "btn-line",
              "label": "Button Line"
            },
            {
              "value": "btn-line-black",
              "label": "Button Line Black"
            }
          ]
        },
        {
          "type": "color",
          "id": "color_btn",
          "label": "Color button"
        },
        {
          "type": "color",
          "id": "bg_btn",
          "label": "Background button"
        },
        {
          "type": "color",
          "id": "color_btn_hover",
          "label": "Color button hover"
        },
        {
          "type": "color",
          "id": "bg_btn_hover",
          "label": "Background button hover"
        },
        {
          "type": "header",
          "content": "Scroll Text"
        },
        {
          "type": "color",
          "id": "bg_colorscrolltext",
          "label": "Background color",
          "default": "#fff"
        },
        {
          "type": "liquid",
          "id": "code",
          "label": "Scroll text",
          "default": "Content"
        },
        {
          "type": "range",
          "id": "speed",
          "label": "Scrolling Speed",
          "unit": "s",
          "min": 1,
          "max": 20,
          "step": 1,
          "default": 10,
          "info": "Auto - Scrolling"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "Body"
            }
          ],
          "label": "Text Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },       
            {
              "value": "40%",
              "label": "40%"
            },       
            {
              "value": "45%",
              "label": "45%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "55%",
              "label": "55%"
            },
            {
              "value": "60%",
              "label": "60%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "text",
          "id": "padding_desktop",
          "label": "Padding desktop",
          "info": "Eg: 20px 20px 20px 20px (corresponds to the positions 'Top' 'Right' 'Bottom' 'Left')"
        },
        {
          "type": "text",
          "id": "padding_desktop_sm",
          "label": "Padding desktop small",
          "info": "Eg: 20px 20px 20px 20px (corresponds to the positions 'Top' 'Right' 'Bottom' 'Left')"
        },
        {
          "type": "text",
          "id": "padding_tablet",
          "label": "Padding tablet",
          "info": "Eg: 20px 20px 20px 20px (corresponds to the positions 'Top' 'Right' 'Bottom' 'Left')"
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text align"
        },
        {
          "type": "color",
          "id": "bg_text",
          "label": "Background color text",
          "default": "#F6F6F6"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "liquid",
          "id": "text_list_icon",
          "label": "Icon"
        },
        {
          "type": "liquid",
          "id": "content_sub",
          "label": "Sub"
        },
        {
          "type": "color",
          "id": "color_sub",
          "label": "Color Sub"
        },
        {
          "type": "liquid",
          "id": "content_title",
          "label": "Content title"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h4",
          "label": "Heading size"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color title",
          "default": "#000"
        },
        {
          "type": "liquid",
          "id": "content_description",
          "label": "Content description"
        },
        {
          "type": "liquid",
          "id": "content_des_2",
          "label": "Content Description 2"
        },
        {
          "type": "color",
          "id": "color_description",
          "label": "Color Description",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Scroll Text"
        },
        {
          "type": "liquid",
          "id": "code",
          "label": "Scroll text",
          "default": "Content"
        },
        {
          "type": "liquid",
          "id": "code_right",
          "label": "Scroll text 2",
          "default": "Content"
        },
        {
          "type": "range",
          "id": "speed",
          "label": "Scrolling Speed",
          "unit": "s",
          "min": 1,
          "max": 20,
          "step": 1,
          "default": 10,
          "info": "Auto - Scrolling"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "Body"
            }
          ],
          "label": "Text Size"
        },
        {
          "type": "header",
          "content": "Collapsible settings"
        },
        {
          "type": "richtext",
          "id": "heading_collapsible",
          "label": "Collapsible heading"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "Collapsible content"
        },
        {
          "type": "richtext",
          "id": "heading_collapsible_2",
          "label": "Collapsible heading 2"
        },
        {
          "type": "richtext",
          "id": "row_content_2",
          "label": "Collapsible content 2"
        },
        {
          "type": "richtext",
          "id": "heading_collapsible_3",
          "label": "Collapsible heading 3"
        },
        {
          "type": "richtext",
          "id": "row_content_3",
          "label": "Collapsible content 3"
        },
        {
          "type": "richtext",
          "id": "heading_collapsible_4",
          "label": "Collapsible heading 4"
        },
        {
          "type": "richtext",
          "id": "row_content_4",
          "label": "Collapsible content 4"
        },
        {
          "type": "richtext",
          "id": "heading_collapsible_5",
          "label": "Collapsible heading 5"
        },
        {
          "type": "richtext",
          "id": "row_content_5",
          "label": "Collapsible content 5"
        },
        {
          "type": "header",
          "content": "Service settings"
        },
        {
          "type": "color",
          "id": "color_title_service",
          "label": "Color title service",
          "default": "#0b2154"
        },
        {
          "type": "color",
          "id": "color_description_service",
          "label": "Color description service",
          "default": "#86938D"
        },
        {
          "type": "liquid",
          "id": "icon_service",
          "label": "Icon service"
        },
        {
          "type": "text",
          "id": "title_service",
          "label": "Title service"
        },
        {
          "type": "liquid",
          "id": "description_service",
          "label": "Description service"
        },
        {
          "type": "liquid",
          "id": "icon_service_2",
          "label": "Icon service 2"
        },
        {
          "type": "text",
          "id": "title_service_2",
          "label": "Title service 2"
        },
        {
          "type": "liquid",
          "id": "description_service2",
          "label": "Description service 2"
        },
        {
          "type": "liquid",
          "id": "icon_service_3",
          "label": "Icon service 3"
        },
        {
          "type": "text",
          "id": "title_service_3",
          "label": "Title service 3"
        },
        {
          "type": "liquid",
          "id": "description_service3",
          "label": "Description service 3"
        },
        {
          "type": "liquid",
          "id": "icon_service_4",
          "label": "Icon service 4"
        },
        {
          "type": "text",
          "id": "title_service_4",
          "label": "Title service 4"
        },
        {
          "type": "liquid",
          "id": "description_service4",
          "label": "Description service 4"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "liquid",
          "id": "button1_label",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-base",
          "options": [
            {
              "value": "btn-base",
              "label": "Button Base"
            },
            {
              "value": "btn-outline",
              "label": "Button Out Line"
            },
            {
              "value": "btn-line",
              "label": "Button Line"
            },
            {
              "value": "btn-line-black",
              "label": "Button Line Black"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "liquid",
          "id": "button2_label",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "select",
          "id": "style_btn_2",
          "label": "Style Button",
          "default": "btn-base",
          "options": [
            {
              "value": "btn-base",
              "label": "Button Base"
            },
            {
              "value": "btn-outline",
              "label": "Button Out Line"
            },
            {
              "value": "btn-line",
              "label": "Button Line"
            }
          ]
        },
        {
          "type": "color",
          "id": "color_btn",
          "label": "Color button"
        },
        {
          "type": "color",
          "id": "bg_btn",
          "label": "Background button"
        },
        {
          "type": "color",
          "id": "color_btn_hover",
          "label": "Color button hover"
        },
        {
          "type": "color",
          "id": "bg_btn_hover",
          "label": "Background button hover"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },       
            {
              "value": "40%",
              "label": "40%"
            },       
            {
              "value": "45%",
              "label": "45%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "55%",
              "label": "55%"
            },
            {
              "value": "60%",
              "label": "60%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
      ]
    },
    {
      "type": "html",
      "name": "Custom Html",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "HTML",
          "default": "d-none",
          "options": [
            {
              "value": "d-none",
              "label": "HTML"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "code",
          "label": "HTML",
          "default": "<h2>Heading</h2>This text can be used to share information about your brand with customers."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "adv content",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
