{{ 'banner-grid.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

{%- assign id = '#shopify-section-' | append: section.id -%}


<style>
  

  

  {{ id }} {
    {%- if section.settings.background_repeat -%}
      background-repeat: repeat;
    {%- else -%}
      background-repeat: no-repeat;
    {%- endif -%}
    {%- if section.settings.background_size != "default" and section.settings.background_size != "custom" -%}
      background-size: {{ section.settings.background_size }};
    {%- endif -%}
    {%- if section.settings.background_size == "custom" -%}
      background-size: {{ section.settings.background_size_custom }}%;
    {%- endif -%}
    {%- if section.settings.background_position != "custom" -%}
      background-position: {{ section.settings.background_position }};
    {%- else -%}
      background-position-x: {{ section.settings.background_position_x }};
      background-position-y: {{ section.settings.background_position_y }};
    {%- endif -%}
  }

   @media (min-width: 1200px) {
    {{ section.settings.custom_css_desktop }}
  }

  @media (max-width: 1199px) and (min-width: 768px) {
    {{ section.settings.custom_css_tablet }}
  }
  @media (max-width: 767px) and (min-width: 500px)  {
    {{ section.settings.custom_css_mobile }}
  } 



  


  {%- for block in section.blocks -%}


    {%- if block.settings.image_position == 'absolute' -%}
      #block-{{ block.id }} .banner-image {
        position: absolute;
        inset: 0;
      }
    {%- endif -%}

    #block-{{ block.id }} .banner-image img {
      border-radius: {{ block.settings.image_rounded |   append: 'px' }};
      min-height: {{ block.settings.image_height |  append: 'px' }}
    }

    #block-{{ block.id }} .banner-image img {
      border-radius: {{ block.settings.image_rounded |   append: 'px' }};
      min-height: {{ block.settings.image_height |  append: 'px' }}
    }
   

    {%- if block.settings.full_height -%}
      #block-{{ block.id }} .banner-image img {
        height: 100%;
      }
    {%- endif -%}
    
    #block-{{ block.id }} .banner-text {
      text-align: {{ block.settings.text_align }};
      padding: {{ block.settings.content_padding_desktop |  default: "0" }};
      border-radius: {{ block.settings.content_rounded |  append: 'px' }};
      background-color: {{ block.settings.content_background |  default: 'transparent' }};
      justify-content: center;
      {%- if block.settings.content_position == 'absolute' -%}
        position: absolute;
        top: {{ block.settings.top | default: "auto" }};
        bottom: {{ block.settings.bottom | default: "auto" }};
        left: {{ block.settings.left | default: "auto" }};
        right: {{ block.settings.right | default: "auto" }};
      {%- endif -%}
    }
    #block-{{ block.id }} .banner__item--sub {
      font-size: {{ block.settings.sub_title_size | append: 'px' }};
      line-height: {{ block.settings.sub_title_height |  append: 'px' }};
      font-weight: {{ block.settings.sub_title_font_weight }};
      color: {{ block.settings.sub_title_color }};
      margin-bottom: {{ block.settings.sub_title_mb |  append: 'px' }};
    }
    #block-{{ block.id }} .banner__item--heading {
      font-size: {{ block.settings.title_size |  append: 'px' }};
      line-height: {{ block.settings.title_height | append: 'px' }};
      font-weight: {{ block.settings.title_font_weight }};
      color: {{ block.settings.title_color }};
      margin-bottom: {{ block.settings.title_mb | append: 'px' }};
    }

    #block-{{ block.id }} .banner__item--description {
      font-size: {{ block.settings.description_size |  append: 'px' }};
      line-height: {{ block.settings.description_height |  append: 'px' }};
      color: {{ block.settings.description_color }};
      margin-bottom: {{ block.settings.description_mb |  append: 'px' }}
    }

    @media (max-width: 1199px) {
      {%- if block.settings.content_padding_tablet != blank -%}
          #block-{{ block.id }} .banner-text {
          padding: {{ block.settings.content_padding_tablet }};
        }
      {%- endif -%}
      
    }

    @media (max-width: 767px) {
      {%- if block.settings.content_padding_mobile != blank -%}
        #block-{{ block.id }} .banner-text {
          padding: {{ block.settings.content_padding_mobile }};
        }
      {%- endif -%}
    }
  {%- endfor -%}


 

</style>

<section class="section-{{ section.id }} banner-grid {{ section.settings.section_class }}">
  <div class="shopify-container">
    {%- case section.settings.section_header_type -%}
    {%- when 'section-header-2' -%}
      {%- render 'section-header-2' -%}
    {%- when 'section-header-3' -%}
      {%- render 'section-header-3' -%}
    {%- else -%}
      {%- render 'section-header' -%}
  {%- endcase -%}

    <div class="row justify-content-center">
      {% for block in section.blocks %}

        <div id="block-{{ block.id }}" class="col col{{ forloop.index }}">
          <banner-content  class="d-flex h-100 banner__content--{{ forloop.index }}" {% if block.settings.data_aos !="none" %}
            data-aos="{{ block.settings.data_aos }}"
            {% endif %}>
            <div class="banner-content has-overlay position-relative w-100" style="cursor: pointer;">
              <div class="banner-image {%  if block.settings.full_height %} h-100 {% endif %}">
                {% if block.settings.banner_image != blank %}
                  
                    {{ block.settings.banner_image | image_url: width: block.settings.banner_image.width | image_tag }}
                  
                {% else %}
                  
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  
                {% endif %}
              </div>


              <div class="banner-text d-flex flex-column position-{{ block.settings.content_position }}">


                {% if block.settings.image_child != blank %}
                  <div class="banner-image-child">
                    <img
                      class="image-child"
                      loading="lazy"
                      reveal=""
                      sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px"
                      alt=""
                      src="{{ block.settings.image_child | image_url: width: block.settings.image_child.width }}"
                      data-srcset="{%- if block.settings.image_child.width >= 3000 -%}{{ block.settings.image_child | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%} {{ block.settings.image_child | image_url }} {{ block.settings.image_child.width }}w"
                      src="{{ block.settings.image_child | image_url: width: 1500 }}"
                      height="{{ block.settings.image_child.height }}"
                      width="{{ block.settings.image_child.width }}">
                  </div>
                {% endif %}

                {% if block.settings.sub_title != blank %}
                  <h6 class="banner__item--sub">
                    {{- block.settings.sub_title -}}
                  </h6>
                {% endif %}

                {% if block.settings.title != blank %}
                  <h4 class="banner__item--heading {{ block.settings.title_font }}">
                    {{- block.settings.title -}}
                  </h4>
                {% endif %}

                {% if block.settings.description != blank %}
                  <p class="banner__item--description">
                    {{- block.settings.description -}}
                  </p>
                {% endif %}

                <div class="wrapper-button">

                  {% if block.settings.button_text != blank or block.settings.button_icon != blank %}
                    <div class="banner__item--btn">
                      <a href="{{ block.settings.button_url |  default : "#" }}" class="{{ block.settings.button_type }}" style="--btn-color: {{ block.settings.button_color }}; --btn-bg: {{ block.settings.button_bg_color }}; --btn-color-hover: {{ block.settings.button_color_hover }}; --btn-bg-hover: {{ block.settings.button_bg_color_hover }};">
                        
                          <span class="icon-button">
                            {%- render 'icon-arrow' -%}
                          </span>
                        
                        {{ block.settings.button_text }}
                      </a>
                    </div>
                  {% endif %}
                </div>

                {%- if block.settings.counter_item_number != blank and block.settings.counter_item_number != 0 -%}
                  <div class="content counter" data-count="{{ block.settings.counter_item_number }}">
                    
                          
                          <div class="counter-item__content">
                              <div class="counter-item__number" style="color: {{ block.settings.counter_item_number_color }}">
                                  <span>{{ block.settings.counter_item_label }}</span><span class="counter">0</span> <span>{{ block.settings.counter_item_label_after }}</span>
                              </div>
                              <div class="counter-item__title" style="color: {{ block.settings.counter_item_label_color }}">{{ block.settings.counter_item_title }}</div>

                              {%- if block.settings.counter_item_content != blank -%}
                                <div class="counter-item__description" style="color: {{ block.settings.counter_item_content_color }}">{{ block.settings.counter_item_content }}</div>
                              {%- endif -%}
                              
                          </div>
                      
                  </div>
                {%- endif -%}

                

              </div>
            </div>
          </banner-content>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Banner grid",
    "tag": "section",
    "class": "section shopify-section-banner-grid",
    "max_blocks": 15,
    "settings": [
      
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": false
      },
      {
        "type": "number",
        "id": "content_width",
        "label": "Content width",
        "default": 1290
      },
      {
        "type": "text",
        "id": "section_class",
        "label": "class"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "t:sections.all.background-color.label"
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.all.background_image.label"
      }, {
        "type": "checkbox",
        "id": "background_repeat",
        "label": "Background repeat",
        "default": false
      }, {
        "type": "select",
        "id": "background_size",
        "label": "Background size",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }, {
            "value": "custom",
            "label": "Custom"
          }
        ],
        "default": "default"
      }, {
        "type": "number",
        "id": "background_size_custom",
        "label": "Background size custom",
        "default": 100
      }, {
        "type": "select",
        "id": "background_position",
        "label": "Background position",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "top left",
            "label": "Top Left"
          },
          {
            "value": "top center",
            "label": "Top Center"
          },
          {
            "value": "top right",
            "label": "Top right"
          }, {
            "value": "center left",
            "label": "Center Left"
          }, {
            "value": "center right",
            "label": "Center Right"
          }, {
            "value": "bottom left",
            "label": "Bottom Left"
          }, {
            "value": "bottom center",
            "label": "Bottom Center"
          }, {
            "value": "bottom right",
            "label": "Bottom Right"
          }, {
            "value": "custom",
            "label": "Custom"
          }
        ],
        "default": "center"
      }, {
        "type": "text",
        "id": "background_position_x",
        "label": "Background position x"
      }, {
        "type": "text",
        "id": "background_position_y",
        "label": "Background position y"
      }, {
        "type": "text",
        "id": "margin_desktop",
        "label": "t:sections.all.margin_desktop.label",
        "info": "t:sections.all.margin_desktop.info"
      }, {
        "type": "text",
        "id": "margin_tablet",
        "label": "t:sections.all.margin_tablet.label",
        "info": "t:sections.all.margin_tablet.info"
      }, {
        "type": "text",
        "id": "margin_mobile",
        "label": "t:sections.all.margin_mobile.label",
        "info": "t:sections.all.margin_mobile.info"
      }, {
        "type": "text",
        "id": "padding_desktop",
        "label": "t:sections.all.padding_desktop.label",
        "info": "t:sections.all.padding_desktop.info"
      }, {
        "type": "text",
        "id": "padding_tablet",
        "label": "t:sections.all.padding_tablet.label",
        "info": "t:sections.all.padding_tablet.info"
      }, {
        "type": "text",
        "id": "padding_mobile",
        "label": "t:sections.all.padding_mobile.label",
        "info": "t:sections.all.padding_mobile.info"
      }, {
        "type": "header",
        "content": "Title settings"
      }, {
        "type": "liquid",
        "id": "title_content",
        "label": "Content"
      }, {
        "type": "number",
        "id": "title_font_size",
        "label": "Font size",
        "default": 14
      }, {
        "type": "number",
        "id": "title_line_height",
        "label": "Line height (px)",
        "default": 20
      }, {
        "type": "select",
        "id": "title_font_weight",
        "label": "Font weight",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "400",
            "label": "400"
          },
          {
            "value": "500",
            "label": "500"
          },
          {
            "value": "600",
            "label": "600"
          }, {
            "value": "700",
            "label": "700"
          }
        ]
      }, {
        "type": "select",
        "id": "title_text_transform",
        "label": "Text transform",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "uppercase",
            "label": "Uppercase"
          }, {
            "value": "lowercase",
            "label": "Lowercase"
          }, {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ]
      }, {
        "type": "color",
        "id": "title_color",
        "label": "Color"
      }, {
        "type": "number",
        "id": "title_space",
        "label": "Title space (px)",
        "default": 10
      }, {
        "type": "number",
        "id": "title_space_tablet",
        "label": "Title space tablet (px)",
        "default": 30
      }, {
        "type": "number",
        "id": "title_space_mobile",
        "label": "Title space mobile (px)",
        "default": 10
      },  {
        "type": "header",
        "content": "Heading settings"
      }, {
        "type": "image_picker",
        "id": "image_in_heading",
        "label": "Image in heading"
      }, {
        "type": "liquid",
        "id": "heading_content",
        "label": "Content"
      }, {
        "type": "number",
        "id": "heading_font_size",
        "label": "Font size",
        "default": 40
      }, {
        "type": "number",
        "id": "heading_font_size_tablet",
        "label": "Font size tablet",
        "default": 30
      }, {
        "type": "number",
        "id": "heading_font_size_mobile",
        "label": "Font size mobile",
        "default": 30
      }, {
        "type": "text",
        "id": "heading_line_height",
        "label": "Line height"
      }, {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Font weight",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "400",
            "label": "400"
          },
          {
            "value": "500",
            "label": "500"
          },
          {
            "value": "600",
            "label": "600"
          }, {
            "value": "700",
            "label": "700"
          }
        ]
      }, {
        "type": "select",
        "id": "heading_text_transform",
        "label": "Text transform",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "uppercase",
            "label": "Uppercase"
          }, {
            "value": "lowercase",
            "label": "Lowercase"
          }, {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ]
      }, {
        "type": "color",
        "id": "heading_color",
        "label": "Color"
      }, {
        "type": "number",
        "id": "heading_width",
        "label": "Heading max width",
        "default": 0
      }, {
        "type": "number",
        "id": "heading_space",
        "label": "Heading space"
      }, {
        "type": "header",
        "content": "Description settings"
      },  {
        "type": "liquid",
        "id": "description_content",
        "label": "Content"
      }, {
        "type": "number",
        "id": "description_font_size",
        "label": "Font size",
        "default": 16
      }, {
        "type": "number",
        "id": "description_line_height",
        "label": "Line height",
        "default": 24
      }, {
        "type": "color",
        "id": "description_color",
        "label": "Color"
      }, {
        "type": "number",
        "id": "description_width",
        "label": "Description max width",
        "default": 0
      }, {
        "type": "number",
        "id": "description_space",
        "label": "Description space"
      },  {
        "type": "liquid",
        "id": "button_text",
        "label": "Button text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
      }, {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn__type--1",
        "options": [
          {
            "value": "btn__type--1",
            "label": "Button style 1"
          }, {
            "value": "btn__type--2",
            "label": "Button style 2"
          }
        ]
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button color"
      }, {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button background color"
      }, {
        "type": "color",
        "id": "button_color_hover",
        "label": "Button color hover"
      }, {
        "type": "color",
        "id": "button_bg_color_hover",
        "label": "Button background color hover"
      }, {
        "type": "number",
        "id": "section_header_space",
        "label": "Section header space",
        "default": 60
      }, {
        "type": "number",
        "id": "section_header_space_mobile",
        "label": "Section header space mobile",
        "default": 40
      },  {
        "type": "select",
        "id": "section_header_type",
        "label": "Section header type",
        "options": [
          {
            "value": "section-header-1",
            "label": "Section header 1"
          }, {
            "value": "section-header-2",
            "label": "Section header 2"
          }, {
            "value": "section-header-3",
            "label": "Section header 3"
          }
        ], "default": "section-header-1"
      }, {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "Right"
          }
        ]
      }, {
        "type": "select",
        "id": "direction_header",
        "label": "Direction header",
        "default": "vertical",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          }, {
            "value": "vertical",
            "label": "Vertical"
          }
        ]
      }, {
        "type": "select",
        "id": "align_items",
        "label": "Align items",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "reverse",
        "label": "Enable reverse",
        "default": false
      }, {
        "type": "select",
        "id": "data_aos_text",
        "label": "Data Aos header text",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "fade-up",
            "label": "fade-up"
          },
          {
            "value": "fade-down",
            "label": "fade-down"
          },
          {
            "value": "fade-right",
            "label": "fade-right"
          }, {
            "value": "fade-left",
            "label": "fade-left"
          }, {
            "value": "flip-left",
            "label": "flip-left"
          }, {
            "value": "flip-right",
            "label": "flip-right"
          }, {
            "value": "flip-up",
            "label": "flip-up"
          }, {
            "value": "flip-down",
            "label": "flip-down"
          }, {
            "value": "zoom-in",
            "label": "zoom-in"
          }, {
            "value": "zoom-in-up",
            "label": "zoom-in-up"
          }, {
            "value": "zoom-in-down",
            "label": "zoom-in-down"
          }, {
            "value": "zoom-in-left",
            "label": "zoom-in-left"
          }, {
            "value": "zoom-in-right",
            "label": "zoom-in-right"
          }, {
            "value": "zoom-out",
            "label": "zoom-out"
          }, {
            "value": "zoom-out-up",
            "label": "zoom-out-up"
          }, {
            "value": "zoom-out-down",
            "label": "zoom-out-down"
          }, {
            "value": "zoom-out-left",
            "label": "zoom-out-left"
          }, {
            "value": "zoom-out-right",
            "label": "zoom-out-right"
          }
        ]
      }, {
        "type": "header",
        "content": "Custom grid css code"
      }, {
        "type": "liquid",
        "id": "custom_css_desktop",
        "label": "Custom Css Desktop"
      }, {
        "type": "liquid",
        "id": "custom_css_tablet",
        "label": "Custom Css Tablet"
      }, {
        "type": "liquid",
        "id": "custom_css_mobile",
        "label": "Custom Css Mobile"
      }

    ],
    "blocks": [
      {
        "type": "banner-grid",
        "name": "Banner grid",
        "settings": [
          {
            "type": "header",
            "content": "Column width settings"
          },

          {
            "type": "text",
            "id": "width_desktop",
            "label": "Desktop width (%)",
            "default": "50"
          },
          {
            "type": "text",
            "id": "width_tablet",
            "label": "Tablet width (%)",
            "default": "50"
          },
          {
            "type": "text",
            "id": "width_mobile_big",
            "label": "Mobile Big width (%)",
            "default": "50"
          }, {
            "type": "text",
            "id": "width_mobile",
            "label": "Mobile width (%)",
            "default": "50"
          }, {
          "type": "header",
          "content": "Block margin"
        },
        {
          "type": "text",
          "id": "block_margin_desktop",
          "label": "Block Margin Desktop"
        },
        {
          "type": "text",
          "id": "block_margin_tablet",
          "label": "Block Margin Tablet"
        }, {
          "type": "text",
          "id": "block_margin_mobile",
          "label": "Block Margin Mobile"
        }, {
            "type": "header",
            "content": "Image settings"
          }, {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Image"
          }, {
            "type": "number",
            "id": "image_height",
            "label": "Min height",
            "default": 300
          }, {
            "type": "checkbox",
            "id": "full_height",
            "label": "Full height",
            "default": false
          }, {
            "type": "range",
            "id": "image_rounded",
            "label": "Rounded",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0
          }, {
            "type": "range",
            "id": "image_border_width",
            "label": "Border width",
            "min": 0,
            "max": 10,
            "step": 1,
            "unit": "px",
            "default": 0
          }, {
            "type": "color",
            "id": "image_border_color",
            "label": "Border color"
          }, {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "options": [
              {
                "value": "relative",
                "label": "Relative"
              }, {
                "value": "absolute",
                "label": "Absolute"
              }
            ],
            "default": "relative"
          }, {
            "type": "header",
            "content": "Sub title"
          }, {
            "type": "liquid",
            "id": "sub_title",
            "label": "text"
          }, {
            "type": "number",
            "id": "sub_title_size",
            "label": "font size",
            "info": "px",
            "default": 12
          }, {
            "type": "number",
            "id": "sub_title_height",
            "label": "Line height",
            "info": "px",
            "default": 24
          }, {
            "type": "select",
            "id": "sub_title_font_weight",
            "label": "Font weight",
            "options": [
              {
                "value": "normal",
                "label": "Normal"
              }, {
                "value": "400",
                "label": "400"
              },
              {
                "value": "500",
                "label": "500"
              },
              {
                "value": "600",
                "label": "600"
              },{
                "value": "700",
                "label": "700"
              },{
                "value": "800",
                "label": "800"
              }
            ],
            "default": "normal"
          },  {
            "type": "color",
            "id": "sub_title_color",
            "label": "Color"
          }, {
            "type": "number",
            "id": "sub_title_mb",
            "label": "Margin bottom",
            "info": "px",
            "default": 0
          }, {
            "type": "header",
            "content": "Title"
          }, {
            "type": "liquid",
            "id": "title",
            "label": "Text"
          }, {
            "type": "select",
            "id": "title_font_weight",
            "label": "Font weight",
            "options": [
              {
                "value": "normal",
                "label": "Normal"
              }, {
                "value": "400",
                "label": "400"
              },
              {
                "value": "500",
                "label": "500"
              },
              {
                "value": "600",
                "label": "600"
              },{
                "value": "700",
                "label": "700"
              },{
                "value": "800",
                "label": "800"
              }
            ],
            "default": "normal"
          }, {
            "type": "number",
            "id": "title_size",
            "label": "font size",
            "info": "px",
            "default": 12
          }, {
            "type": "number",
            "id": "title_height",
            "label": "Line height",
            "info": "px",
            "default": 20
          },  {
            "type": "color",
            "id": "title_color",
            "label": "Color"
          }, {
            "type": "number",
            "id": "title_mb",
            "label": "Margin bottom",
            "info": "px",
            "default": 0
          }, {
            "type": "checkbox",
            "id": "title_flex",
            "label": "Flex",
            "default": true
          }, {
            "type": "header",
            "content": "Description settings"
          }, {
            "type": "liquid",
            "id": "description",
            "label": "Description"
          }, {
            "type": "range",
            "id": "description_size",
            "label": "font size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 12
          }, {
            "type": "range",
            "id": "description_height",
            "label": "Line height",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 24
          }, {
            "type": "range",
            "id": "description_mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0
          }, {
            "type": "color",
            "id": "description_color",
            "label": "Description color"
          }, {
        "type": "header",
        "content": "Counter Settings"
      }, {
            "type": "number",
            "id": "counter_item_number",
            "label": "Counter item number",
            "default": 0
          }, {
            "type": "text",
            "id": "counter_item_label",
            "label": "Counter item label",
          },  {
            "type": "text",
            "id": "counter_item_label_after",
            "label": "Counter item label after",
          }, {
            "type": "color",
            "id": "counter_item_number_color",
            "label": "Counter item number color",
            "default": "#333"
          }, {
            "type": "text",
            "id": "counter_item_title",
            "label": "Counter item title",
          }, {
            "type": "color",
            "id": "counter_item_label_color",
            "label": "Counter item label color",
            "default": "#333"
          }, {
            "type": "liquid",
            "id": "counter_item_content",
            "label": "Counter item content"
          }, {
            "type": "color",
            "id": "counter_item_content_color",
            "label": "Counter item content color",
            "default": "#333"
          }, {
            "type": "header",
            "content": "Button settings"
          }, {
            "type": "liquid",
            "id": "button_text",
            "label": "Button text"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
          }, {
            "type": "color",
            "id": "button_color",
            "label": "Color"
          }, {
            "type": "color",
            "id": "button_bg_color",
            "label": "Background color"
          }, {
            "type": "color",
            "id": "button_color_hover",
            "label": "Color hover"
          }, {
            "type": "color",
            "id": "button_bg_color_hover",
            "label": "Background color hover"
          }, {
            "type": "select",
            "id": "button_type",
            "label": "Button type",
            "options": [
              {
                "value": "btn-primary",
                "label": "Button Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Button Secondary"
              }
            ]
          }, {
            "type": "header",
            "content": "Content settings"
          }, {
            "type": "select",
            "id": "text_align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "label": "Text align"
          }, {
            "type": "text",
            "id": "content_padding_desktop",
            "label": "Content padding desktop"
          }, 
          {
            "type": "text",
            "id": "content_padding_tablet",
            "label": "Content padding tablet"
          },
          {
            "type": "text",
            "id": "content_padding_mobile",
            "label": "Content padding mobile"
          }, {
            "type": "number",
            "id": "content_rounded",
            "label": "Content Rounded",
            "default": 20
          }, {
            "type": "color",
            "id": "content_background",
            "label": "Content background",
            "default": "#fff"
          }, {
            "type": "select",
            "id": "content_position",
            "label": "Position content",
            "default": "relative",
            "options": [
              {
                "value": "relative",
                "label": "Relative"
              }, {
                "value": "absolute",
                "label": "Absotule"
              }
            ]
          }, {
            "type": "text",
            "id": "top",
            "label": "Top"
          }, {
            "type": "text",
            "id": "bottom",
            "label": "Bottom"
          }, {
            "type": "text",
            "id": "left",
            "label": "Left"
          }, {
            "type": "text",
            "id": "right",
            "label": "Right"
          }, {
            "type": "color_background",
            "id": "background_overlay",
            "label": "Background Overlay",
            "default": "linear-gradient(#ffffff, #000000)"
          }, {
            "type": "select",
            "id": "data_aos",
            "label": "Data Aos",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "none"
              },
              {
                "value": "fade-up",
                "label": "fade-up"
              },
              {
                "value": "fade-down",
                "label": "fade-down"
              },
              {
                "value": "fade-right",
                "label": "fade-right"
              }, {
                "value": "fade-left",
                "label": "fade-left"
              }, {
                "value": "flip-left",
                "label": "flip-left"
              }, {
                "value": "flip-right",
                "label": "flip-right"
              }, {
                "value": "flip-up",
                "label": "flip-up"
              }, {
                "value": "flip-down",
                "label": "flip-down"
              }, {
                "value": "zoom-in",
                "label": "zoom-in"
              }, {
                "value": "zoom-in-up",
                "label": "zoom-in-up"
              }, {
                "value": "zoom-in-down",
                "label": "zoom-in-down"
              }, {
                "value": "zoom-in-left",
                "label": "zoom-in-left"
              }, {
                "value": "zoom-in-right",
                "label": "zoom-in-right"
              }, {
                "value": "zoom-out",
                "label": "zoom-out"
              }, {
                "value": "zoom-out-up",
                "label": "zoom-out-up"
              }, {
                "value": "zoom-out-down",
                "label": "zoom-out-down"
              }, {
                "value": "zoom-out-left",
                "label": "zoom-out-left"
              }, {
                "value": "zoom-out-right",
                "label": "zoom-out-right"
              }
            ]
          }, {
            "type": "text",
            "id": "data_aos_delay",
            "label": "Data Aos delay"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner grid",
        "blocks": [
          {
            "type": "banner-grid"
          }, {
            "type": "banner-grid"
          }, {
            "type": "banner-grid"
          }
        ]
      }
    ]
  }
{% endschema %}