{{ 'gallery-modal.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

<style>


</style>

<div class="section-gallery-modal {{ section.settings.section_class }}">
  <div class="shopify-container">
    {% render 'section-header' %}
    <div class="gallery-modal">
      <div class="gallery-modal-grid">
        {% for block in section.blocks %}
          {% if block.settings.featured_image != blank %}
            <div class="gallery-item" {% if section.settings.data_aos_gallery_item !="none" %}
              data-aos="{{ section.settings.data_aos_gallery_item }}"
            {% endif %}>
              <img loading="lazy" 
              sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px"
              alt="" 
              src="{{ block.settings.featured_image | image_url: width: block.settings.featured_image.width }}" 
              data-large="{{ block.settings.featured_image | image_url: width: 900 }}" 
              data-srcset="{%- if block.settings.featured_image.width >= 3000 -%}{{ block.settings.featured_image | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%}
                  {{ block.settings.featured_image | image_url }} {{ block.settings.featured_image.width }}w"
              height="{{ block.settings.featured_image.height }}"
              width="{{ block.settings.featured_image.width }}">

              <span class="gallery-item__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <g>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40L20 0L22 8.74224e-08L22 40H20Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.74846e-07 20L40 20V22L0 22L1.74846e-07 20Z" fill="white"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_833_5593">
                      <rect width="40" height="40" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </div>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="gallery-popup" id="image-popup">
        <button class="gallery-close-btn">
          <i class="fa fa-xmark"></i>
        </button>
        <button class="gallery-next-btn">
          <i class="fa fa-chevron-right"></i>
        </button>
        <button class="gallery-prev-btn"> 
          <i class="fa fa-chevron-left"></i>
        </button>
        <img src="" alt="Large Image" id="ap-popup-image">
        
        <div class="gallery-thumbnail-list" id="thumbnail-list">
          {% for block in section.blocks %}
            {% if block.settings.featured_image != blank %}
              <div class="gallery-item">
                <img loading="lazy" 
                sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px"
                alt="" 
                src="{{ block.settings.featured_image | image_url: width: block.settings.featured_image.width }}" 
                data-large="{{ block.settings.featured_image | image_url: width: 900 }}" 
                data-srcset="{%- if block.settings.featured_image.width >= 3000 -%}{{ block.settings.featured_image | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%}
                    {{ block.settings.featured_image | image_url }} {{ block.settings.featured_image.width }}w"
                height="{{ block.settings.featured_image.height }}"
                width="{{ block.settings.featured_image.width }}">
              </div>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gallery modal",
  "class": "section-galley-modal",
  "tag": "section",
  "max_blocks": 10,
  "settings": [
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": false
      },
      {
        "type": "number",
        "id": "content_width",
        "label": "Content width",
        "default": 1290
      },
      {
        "type": "text",
        "id": "section_class",
        "label": "class"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "t:sections.all.background-color.label"
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.all.background_image.label"
      }, {
        "type": "checkbox",
        "id": "background_repeat",
        "label": "Background repeat",
        "default": false
      }, {
        "type": "select",
        "id": "background_size",
        "label": "Background size",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }, {
            "value": "custom",
            "label": "Custom"
          }
        ],
        "default": "default"
      }, {
        "type": "number",
        "id": "background_size_custom",
        "label": "Background size custom",
        "default": 100
      }, {
        "type": "select",
        "id": "background_position",
        "label": "Background position",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "top left",
            "label": "Top Left"
          },
          {
            "value": "top center",
            "label": "Top Center"
          },
          {
            "value": "top right",
            "label": "Top right"
          }, {
            "value": "center left",
            "label": "Center Left"
          }, {
            "value": "center right",
            "label": "Center Right"
          }, {
            "value": "bottom left",
            "label": "Bottom Left"
          }, {
            "value": "bottom center",
            "label": "Bottom Center"
          }, {
            "value": "bottom right",
            "label": "Bottom Right"
          }, {
            "value": "custom",
            "label": "Custom"
          }
        ],
        "default": "center"
      }, {
        "type": "text",
        "id": "background_position_x",
        "label": "Background position x"
      }, {
        "type": "text",
        "id": "background_position_y",
        "label": "Background position y"
      }, {
        "type": "text",
        "id": "margin_desktop",
        "label": "t:sections.all.margin_desktop.label",
        "info": "t:sections.all.margin_desktop.info"
      }, {
        "type": "text",
        "id": "margin_tablet",
        "label": "t:sections.all.margin_tablet.label",
        "info": "t:sections.all.margin_tablet.info"
      }, {
        "type": "text",
        "id": "margin_mobile",
        "label": "t:sections.all.margin_mobile.label",
        "info": "t:sections.all.margin_mobile.info"
      }, {
        "type": "text",
        "id": "padding_desktop",
        "label": "t:sections.all.padding_desktop.label",
        "info": "t:sections.all.padding_desktop.info"
      }, {
        "type": "text",
        "id": "padding_tablet",
        "label": "t:sections.all.padding_tablet.label",
        "info": "t:sections.all.padding_tablet.info"
      }, {
        "type": "text",
        "id": "padding_mobile",
        "label": "t:sections.all.padding_mobile.label",
        "info": "t:sections.all.padding_mobile.info"
      }, {
        "type": "header",
        "content": "Title settings"
      }, {
        "type": "liquid",
        "id": "title_content",
        "label": "Content"
      }, {
        "type": "number",
        "id": "title_font_size",
        "label": "Font size",
        "default": 14
      }, {
        "type": "number",
        "id": "title_line_height",
        "label": "Line height (px)",
        "default": 20
      }, {
        "type": "select",
        "id": "title_font_weight",
        "label": "Font weight",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "400",
            "label": "400"
          },
          {
            "value": "500",
            "label": "500"
          },
          {
            "value": "600",
            "label": "600"
          }, {
            "value": "700",
            "label": "700"
          }
        ]
      }, {
        "type": "select",
        "id": "title_text_transform",
        "label": "Text transform",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "uppercase",
            "label": "Uppercase"
          }, {
            "value": "lowercase",
            "label": "Lowercase"
          }, {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ]
      }, {
        "type": "color",
        "id": "title_color",
        "label": "Color"
      }, {
        "type": "number",
        "id": "title_space",
        "label": "Title space (px)",
        "default": 10
      }, {
        "type": "number",
        "id": "title_space_tablet",
        "label": "Title space tablet (px)",
        "default": 30
      }, {
        "type": "number",
        "id": "title_space_mobile",
        "label": "Title space mobile (px)",
        "default": 10
      }, {
        "type": "header",
        "content": "Heading settings"
      }, {
        "type": "image_picker",
        "id": "image_in_heading",
        "label": "Image in heading"
      }, {
        "type": "liquid",
        "id": "heading_content",
        "label": "Content"
      }, {
        "type": "number",
        "id": "heading_font_size",
        "label": "Font size",
        "default": 40
      }, {
        "type": "number",
        "id": "heading_font_size_tablet",
        "label": "Font size tablet",
        "default": 30
      }, {
        "type": "number",
        "id": "heading_font_size_mobile",
        "label": "Font size mobile",
        "default": 30
      }, {
        "type": "text",
        "id": "heading_line_height",
        "label": "Line height"
      }, {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Font weight",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "400",
            "label": "400"
          },
          {
            "value": "500",
            "label": "500"
          },
          {
            "value": "600",
            "label": "600"
          }, {
            "value": "700",
            "label": "700"
          }
        ]
      }, {
        "type": "select",
        "id": "heading_text_transform",
        "label": "Text transform",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "uppercase",
            "label": "Uppercase"
          }, {
            "value": "lowercase",
            "label": "Lowercase"
          }, {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ]
      }, {
        "type": "color",
        "id": "heading_color",
        "label": "Color"
      }, {
        "type": "number",
        "id": "heading_width",
        "label": "Heading max width",
        "default": 0
      }, {
        "type": "number",
        "id": "heading_space",
        "label": "Heading space"
      }, {
        "type": "header",
        "content": "Description settings"
      }, {
        "type": "liquid",
        "id": "description_content",
        "label": "Content"
      }, {
        "type": "number",
        "id": "description_font_size",
        "label": "Font size",
        "default": 16
      }, {
        "type": "number",
        "id": "description_line_height",
        "label": "Line height",
        "default": 24
      }, {
        "type": "color",
        "id": "description_color",
        "label": "Color"
      }, {
        "type": "number",
        "id": "description_width",
        "label": "Description max width",
        "default": 0
      }, {
        "type": "number",
        "id": "description_space",
        "label": "Description space"
      }, {
        "type": "liquid",
        "id": "button_text",
        "label": "Button text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
      }, {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn__type--1",
        "options": [
          {
            "value": "btn__type--1",
            "label": "Button style 1"
          }, {
            "value": "btn__type--2",
            "label": "Button style 2"
          }
        ]
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button color"
      }, {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button background color"
      }, {
        "type": "color",
        "id": "button_color_hover",
        "label": "Button color hover"
      }, {
        "type": "color",
        "id": "button_bg_color_hover",
        "label": "Button background color hover"
      }, {
        "type": "number",
        "id": "section_header_space",
        "label": "Section header space",
        "default": 60
      }, {
        "type": "number",
        "id": "section_header_space_mobile",
        "label": "Section header space mobile",
        "default": 40
      }, {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "Right"
          }
        ]
      }, {
        "type": "select",
        "id": "direction_header",
        "label": "Direction header",
        "default": "vertical",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          }, {
            "value": "vertical",
            "label": "Vertical"
          }
        ]
      }, {
        "type": "select",
        "id": "align_items",
        "label": "Align items",
        "default": "start",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "reverse",
        "label": "Enable reverse",
        "default": false
      }, {
        "type": "select",
        "id": "data_aos_text",
        "label": "Data Aos header text",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "fade-up",
            "label": "fade-up"
          },
          {
            "value": "fade-down",
            "label": "fade-down"
          },
          {
            "value": "fade-right",
            "label": "fade-right"
          }, {
            "value": "fade-left",
            "label": "fade-left"
          }, {
            "value": "flip-left",
            "label": "flip-left"
          }, {
            "value": "flip-right",
            "label": "flip-right"
          }, {
            "value": "flip-up",
            "label": "flip-up"
          }, {
            "value": "flip-down",
            "label": "flip-down"
          }, {
            "value": "zoom-in",
            "label": "zoom-in"
          }, {
            "value": "zoom-in-up",
            "label": "zoom-in-up"
          }, {
            "value": "zoom-in-down",
            "label": "zoom-in-down"
          }, {
            "value": "zoom-in-left",
            "label": "zoom-in-left"
          }, {
            "value": "zoom-in-right",
            "label": "zoom-in-right"
          }, {
            "value": "zoom-out",
            "label": "zoom-out"
          }, {
            "value": "zoom-out-up",
            "label": "zoom-out-up"
          }, {
            "value": "zoom-out-down",
            "label": "zoom-out-down"
          }, {
            "value": "zoom-out-left",
            "label": "zoom-out-left"
          }, {
            "value": "zoom-out-right",
            "label": "zoom-out-right"
          }
        ]
      }, {
        "type": "select",
        "id": "data_aos_gallery_item",
        "label": "Data Aos Gallery item",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "fade-up",
            "label": "fade-up"
          },
          {
            "value": "fade-down",
            "label": "fade-down"
          },
          {
            "value": "fade-right",
            "label": "fade-right"
          }, {
            "value": "fade-left",
            "label": "fade-left"
          }, {
            "value": "flip-left",
            "label": "flip-left"
          }, {
            "value": "flip-right",
            "label": "flip-right"
          }, {
            "value": "flip-up",
            "label": "flip-up"
          }, {
            "value": "flip-down",
            "label": "flip-down"
          }, {
            "value": "zoom-in",
            "label": "zoom-in"
          }, {
            "value": "zoom-in-up",
            "label": "zoom-in-up"
          }, {
            "value": "zoom-in-down",
            "label": "zoom-in-down"
          }, {
            "value": "zoom-in-left",
            "label": "zoom-in-left"
          }, {
            "value": "zoom-in-right",
            "label": "zoom-in-right"
          }, {
            "value": "zoom-out",
            "label": "zoom-out"
          }, {
            "value": "zoom-out-up",
            "label": "zoom-out-up"
          }, {
            "value": "zoom-out-down",
            "label": "zoom-out-down"
          }, {
            "value": "zoom-out-left",
            "label": "zoom-out-left"
          }, {
            "value": "zoom-out-right",
            "label": "zoom-out-right"
          }
        ]
      }

    ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery modal",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}