{{ 'header-3.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

{%- style -%}

  :root  {
      --enable-sticky-header: {% if section.settings.sticky_header %}1{% else %}0{% endif %};
    --enable-transparent-header: {% if section.settings.transparent_header %}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    overflow: visible;
  }

#shopify-section-{{ section.id }} .menu-vertical #vertical-menu-drawer {
  left: 0;
  right: auto;
  transform: translateX(-100%);
}
#shopify-section-{{ section.id }} .menu-vertical #vertical-menu-drawer[open] {
  transform: none;
}

#shopify-section-{{ section.id }} .menu-vertical .drawer__overlay {
  right: auto;
  left: 100%;
  position: absolute;
}

#shopify-section-{{ section.id }} .menu-vertical .drawer__header  {
  justify-content: flex-end;
}

.header__button--custom .btn-primary {
  background-color: {{ section.settings.header_button_bg }};
  color: {{ section.settings.header_button_color }};
}

.header__button--custom .btn-primary .icon-button {
  color: {{ section.settings.header_button_bg }};
}
.header__button--custom .btn-primary:hover {
  background-color: {{ section.settings.header_button_bg_hover }};
  color: {{ section.settings.header_button_color_hover }};
}

.header__button--custom .btn-primary:hover .icon-button {
  color: {{ section.settings.header_button_bg_hover }};
}


.header {
  padding: {{ section.settings.header_padding }};
}




  .header[transparent=""] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 99;
    
  }
  .header[transparent=""][sticky=""] {
    top: 30px;
    transition: all 0.4s;
  }
  .header[transparent=""][sticky=""]:not(.header-transparent) {
    background: var(--header-background);
    top: 0;
  }

  .js #shopify-section-{{ section.id }}
  .header-transparent {
    background-color: transparent;
  }

  @media (max-width: 991px) {
    .header[transparent=""] {
      top: 0;
    }
  }

 


#shopify-section-{{ section.id }} {
  --header-text-color: {{ section.settings.header_text_color | color_extract: 'red' }}, 
  {{ section.settings.header_text_color | color_extract: 'green' }}, 
  {{ section.settings.header_text_color | color_extract: 'blue' }};
  --header-border-color: {{ section.settings.header_border_color }};
  --header-padding: {{ section.settings.header_padding }};
  position: unset;
  {% if section.settings.sticky_header %}position: sticky;
{% endif %}
top: 0;
z-index: 999;

--header-background: {{ section.settings.header_background }};
--section-block-overlay-opacity: {{ section.settings.overlay_opacity_header | divided_by: 10.0 }};

/* Main Menu */
--m-color-menu: {{ section.settings.color_menu }};
--m-color-menu-hover: {{ section.settings.color_menu_hover }};

/* Search */
--bg-btn-search: {{ section.settings.bg_btn_search }};
--color-btn-search: {{ section.settings.color_btn_search }};

/* Mega menu */
--title-mega: {{ section.settings.color_menu_child_title }};
--link-mega: {{ section.settings.color_menu_child }};
--link-mega-h: {{ section.settings.color_menu_child_hover }};

--color-icon: {{ section.settings.color_icon }};
--color-icon-hover: {{ section.settings.color_icon_hover }};

/* VERTICAL Menu */
--bg-btn-vertical: {{ section.settings.bg_btn_vertical }};
--color-btn-vertical: {{ section.settings.color_btn_vertical }};
}

@media (max-width: 1199px) {
  #shopify-section-{{ section.id }} {
    --m-color-menu: rgb(var(--heading-color))
  }
  .mobile-nav__link {
    color: var(--m-color-menu);
  }
  .header {
  padding: 20px 0;
}
}

.icon-header i.fa {
  font-size: 20px;
  color: {{ section.settings.color_menu }};
}




/* HEADER transparent */

.js body: not(.index) #shopify-section-{{ section.id }}.header-transparent {
  background-color: var(--header-background);
}
/* body:not(.index) .header[transparent=""] {
  position: unset;
  background: var(--header-background);
} */
/* END  */

{% if section.settings.icon_search == 'icon-text' %}
  .header__search-bar {
    background-color: {{ section.settings.bg_search }};
  }
  .predictive-search__input::placeholder {
    color: {{ section.settings.color_input }}
     !important;
  }
{% endif %}


{%- if template contains 'collection' or template contains 'search' -%}

    

.header[transparent=""] {
  position: relative;
  top: auto;
  left: auto;
}

.header__logo .header__logo-image.d-none {
  display: block !important;
}

/* .header__logo .header__logo-image:not(.d-none) {
  display: none;
} */

#shopify-section-{{ section.id }} {
  --m-color-menu: #162339;
  --color-icon: #162339;
}
.phone__contact--icon {
  color: #162339 !important;
}
.phone__contact--number {
  color: #162339 !important;
}

.header__inline-wrapper .header__icon-list {
  color: #162339;
}

{%- endif -%}

{%- endstyle -%}


<ap-headerstore
  {% if section.settings.transparent_header and template.name == 'index' %}
  transparent=""
  {% endif %}
  {% if section.settings.sticky_header %}
  sticky=""
  {% endif %}
  class="header header-1
"
  role="banner">

  
    <div class="shopify-container">
  

  <div class="header_wrapper">

    {% if section.settings.enable_vetical %}
      <div class="menu-vertical">
        <button
          is="toggle-button"
          class="menu-vertical_btn tap-area"
          ap-controlsaria="vertical-menu-drawer"
          ap-expanded-aria="false">
          <div class="vertical-title d-flex align-items-center">
            <div class="nav-vertical-title">{{ section.settings.button_vertical_text }}</div>
            <div class="icon-title_vertical">
              {% render 'icon-bar' %}
            </div>
          </div>
          <span class="visually-hidden">Navigation</span>
        </button>
        {% render 'vertical-menu' %}
      </div>
    {% endif %}


    {% render 'header-logo' %}

    {% if section.settings.enable_menu %}
      {%- liquid
        assign blocks = section.blocks
      -%}
      {% render 'header-menu'
        , _class: "header__inline-wrapper"
        , blocks: blocks %}
    {% endif %}

    <div class="header__secondary-links">
      {%- if section.settings.enable_phone_contact -%}
        <div class="header__phone--contact">
        {% if section.settings.phone_contact_icon != blank %}
          <div class="phone__contact--icon" style="color: {{ section.settings.color_phone_contact_icon }};">
            {{ section.settings.phone_contact_icon }}
          </div>
        {% endif %}
        <div class="phone__contact--content">
          {% if section.settings.phone_contact_text != blank %}
            <div class="phone__contact--text" style="color: {{ section.settings.color_phone_contact_text }};">{{ section.settings.phone_contact_text }}</div>
          {% endif %}
          {% if section.settings.phone_contact_number != blank %}
            <div class="phone__contact--number" style="color: {{ section.settings.color_phone_contact_number }};">{{ section.settings.phone_contact_number }}</div>
          {% endif %}
        </div>
      </div>
      {%- endif -%}
      

      <div class="header__icon-list">

        {% if section.settings.enable_localization_currency %}
          <div class="hd-phone">
            {% render 'localization-currency'
              , id: 'HeaderCountryForm' %}
          </div>
        {% endif %}

        {% if section.settings.enable_localization %}
          <div class="hd-phone">
            {% render 'localization' %}
          </div>
        {% endif %}

        {% if section.settings.enable_search %}
          {% render 'search-header' %}
        {% endif %}

        {% if section.settings.enable_cart %}
          <a
            href="/cart"
            is="ap-togglelink"
            ap-controlsaria="mini-cart"
            ap-expanded-aria="false"
            class="header-icon header__icon-wrapper tap-area header-cart"
            aria-label="Cart"
            data-no-instant="">
            <span class="icon-cart">
              {% render 'icon-cart' %}
              
            </span>
            <ap-cartcount class="header__ap-cartcount header__ap-cartcount--floating bubble-count">
                {{ cart.item_count }}
              </ap-cartcount>
            {% comment %} {{ cart.total_price | money }} {% endcomment %}

          </a>
        {% endif %}

        {% if section.settings.show_user %}
          <div class="header-icon header-user d-none d-lg-flex">
            <div class="header__icon-wrapper tap-area wrapper-user">
              {% render 'header-user' %}
            </div>
          </div>
        {% endif %}


        {% if section.settings.enable_wishlist %}

          <div class="header-wishlist">
            <a class="header-icon" href="/pages/wishlist">
              {% render 'icon-wishlist-header' %}
              <div class="icon-count d-none">
                <div class="title-icon">Wishlist</div>
                <ap-wishlistcount id="wishlistcount"></ap-wishlistcount>
                <span>items</span>
              </div>
            </a>
          </div>
        {% endif %}
        

      </div>
      {% if section.settings.enable_bar_menu %}
        <div class="header-menu-bar d-lg-block d-none">
          <button
            is="toggle-button"
            class="header__icon-wrapper tap-area"
            ap-controlsaria="bar-menu"
            ap-expanded-aria="false">
            <div class="vertical-title">
              <div class="icon-title_vertical d-flex">
                {% render 'icon-bar' %}
              </div>
            </div>
            <span class="visually-hidden">Navigation</span>
          </button>
          {% for block in section.blocks %}
            {% if block.type == 'bar-menu' %}
              {% render 'bar-menu'
                , block: block.settings %}
            {% endif %}
          {% endfor %}

        </div>
      {% endif %}

      {%- if section.settings.header_button_text != blank -%}
        <div class="header__button--custom">
          <a href="{{ section.settings.header_button_link }}" class="btn btn-primary">
            {% if section.settings.header_button_icon != blank %}
              <span class="icon-button">{{ section.settings.header_button_icon }}</span>
            {% endif %}
            {{ section.settings.header_button_text }}
          </a>
        </div>
      {%- endif -%}

    </div>


  </div>

  
    </div>

</ap-headerstore>

{% render 'mobile-menu' %}

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification'
    , color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  (() => {
    const headerElement = document.getElementById('shopify-section--header'),
      headerHeight = headerElement.clientHeight,
      headerHeightWithoutBottomNav = headerElement.querySelector('.header_wrapper').clientHeight;

    document.documentElement.style.setProperty('--header-height', headerHeight + 'px');
    document.documentElement.style.setProperty('--header-height-without-bottom-nav', headerHeightWithoutBottomNav + 'px');
  });
{% endjavascript %}

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tiktok_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ request.origin | append: page.url | json }}
    }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.header.name",
    "class": "shopify-section--header",
    "settings": [
        {
          "type": "header",
          "content": "Section settings"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full width",
          "default": false
        },
       {
        "type": "number",
        "id": "content_width",
        "label": "Content width",
        "default": 1290
       },
       {
          "type": "text",
          "id": "padding_desktop",
          "label": "Padding desktop"
       },
       {
        "type": "text",
        "id": "padding_tablet",
        "label": "Padding tablet"
       },
       {
        "type": "text",
        "id": "padding_mobile",
        "label": "Padding mobile"
       },
       {
        "type": "color",
        "id": "header_background",
        "default": "#FFFFFF",
        "label": "Header background"
      }, {
        "type": "color",
        "id": "header_text_color",
        "default": "#000000",
        "label": "Header text color"
      },  {
        "type": "color",
        "id": "border_color",
        "default": "#FFFFFF",
        "label": "Header border color"
      }, 
      {
        "type": "checkbox",
        "id": "sticky_header",
        "default": true,
        "label": "t:sections.all.sticky_header.label"
      },
      
       {
        "type": "checkbox",
        "id": "transparent_header",
        "default": false,
        "label": "t:sections.all.transparent_header.label"
      },

       {
        "type": "header",
        "content": "Logo settings"
       },
       {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.header.settings.logo.label"
        },
       {
          "type": "image_picker",
          "id": "logo2",
          "label": "Logo 2 image"
        },
        {
          "type": "number",
          "id": "logo_width",
          "label": "Logo width (px)",
          "default": 200
        },

        {
          "type": "header",
          "content": "Menu settings"
        },

        {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }, {
        "type": "link_list",
        "id": "menu_vertical",
        "label": "t:sections.header.settings.menu_vertical.label"
      }, {
        "type": "text",
        "id": "button_vertical_text",
        "label": "Button vertical text",
        "default": "Menu"
      },

      {
        "type": "checkbox",
        "id": "enable_menu",
        "label": "Show Menu",
        "default": false
      },

      {
        "type": "checkbox",
        "id": "enable_vetical",
        "label": "t:sections.all.enable_vetical.label",
        "default": false
      },

      {
        "type": "checkbox",
        "id": "enable_bar_menu",
        "label": "Show bar menu",
        "default": false
      },
      {
        "type": "color",
        "id": "color_menu",
        "default": "#FFFFFF",
        "label": "Color menu"
      }, {
        "type": "color",
        "id": "color_menu_hover",
        "default": "#F5A44A",
        "label": "Color menu hover"
      },
      {
        "type": "color",
        "id": "color_menu_child_title",
        "default": "#000",
        "label": "Color title menu child"
      }, {
        "type": "color",
        "id": "color_menu_child",
        "default": "#000",
        "label": "Color menu child"
      }, {
        "type": "color",
        "id": "color_menu_child_hover",
        "default": "#FC2D2D",
        "label": "Color menu child hover"
      },

      


      {
        "type": "header",
        "content": "Color Icon"
      }, {
        "type": "color",
        "id": "color_icon",
        "default": "#fff",
        "label": "Color Icon"
      }, {
        "type": "color",
        "id": "color_icon_hover",
        "default": "#fff",
        "label": "Color Icon hover"
      }, {
        "type": "header",
        "content": "Color Menu Vertical"
      }, {
        "type": "color",
        "id": "color_btn_vertical",
        "default": "#323E4E",
        "label": "Color btn Vertical"
      }, {
        "type": "color",
        "id": "bg_btn_vertical",
        "default": "#323E4E",
        "label": "Background btn Vertical"
      }, {
        "type": "header",
        "content": "Color search header"
      }, {
        "type": "color",
        "id": "bg_search",
        "default": "#F8F8F8",
        "label": "Background search"
      }, {
        "type": "color",
        "id": "color_input",
        "default": "#A8A8A8",
        "label": "Color input"
      }, {
        "type": "color",
        "id": "color_btn_search",
        "default": "#000",
        "label": "Color button"
      }, {
        "type": "color",
        "id": "bg_btn_search",
        "default": "#A8A8A8",
        "label": "Background button"
      }, {
        "type": "text",
        "id": "header_padding",
        "default": "0",
        "label": "Header padding"
      }, {
        "type": "header",
        "content": "User Header"
      }, {
        "type": "checkbox",
        "id": "show_user",
        "default": true,
        "label": "Show User"
      }, {
        "type": "header",
        "content": "Cart settings"
      }, {
        "type": "checkbox",
        "id": "enable_cart",
        "label": "Enable cart",
        "default": true
      }, {
        "type": "header",
        "content": "Wishlist settings"
      }, {
        "type": "checkbox",
        "id": "enable_wishlist",
        "label": "Enable wishlist",
        "default": true
      }, {
        "type": "header",
        "content": "Search settings"
      }, {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable search",
        "default": true
      }, {
        "type": "select",
        "id": "icon_search",
        "label": "Style Search",
        "default": "icon",
        "options": [
          {
            "value": "icon",
            "label": "Icon"
          }, {
            "value": "icon-text",
            "label": "Icon & Text"
          }
        ]
      }, {
        "type": "header",
        "content": "t:sections.header.settings.localization_settings.content"
      }, {
        "type": "checkbox",
        "id": "enable_localization",
        "default": true,
        "label": "t:sections.header.settings.enable_localization.label"
      }, {
        "type": "header",
        "content": "Currency",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      }, {
        "type": "checkbox",
        "id": "enable_localization_currency",
        "default": true,
        "label": "Enable Currency"
      }, {
        "type": "header",
        "content": "Phone Contact"
      }, {
        "type": "checkbox",
        "id": "enable_phone_contact",
        "label": "Enable Phone Contact",
        "default": true
      },
       {
        "type": "liquid",
        "id": "phone_contact_icon",
        "label": "Phone Contact Icon"
      }, {
        "type": "liquid",
        "id": "phone_contact_text",
        "label": "Phone Contact Text"
      }, {
        "type": "liquid",
        "id": "phone_contact_number",
        "label": "Phone Contact Number"
      }, {
        "type": "color",
        "id": "color_phone_contact_icon",
        "label": "Color Phone Contact Icon",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "color_phone_contact_text",
        "label": "Color Phone Contact Text",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "color_phone_contact_number",
        "label": "Color Phone Contact Number",
        "default": "#fff"
      }, {
        "type": "header",
        "content": "Header Button"
      }, {
        "type": "text",
        "id": "header_button_text",
        "label": "Header Button Text"
      }, {
        "type": "liquid",
        "id": "header_button_icon",
        "label": "Header Button Icon"
      }, {
        "type": "url",
        "id": "header_button_link",
        "label": "Header Button Link"
      }, {
        "type": "color",
        "id": "header_button_bg",
        "label": "Header Button Background",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "header_button_color",
        "label": "Header Button Color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "header_button_bg_hover",
        "label": "Header Button Background Hover",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "header_button_color_hover",
        "label": "Header Button Color Hover",
        "default": "#000"
      }
    ],
    "blocks": [
      {
        "type": "menu-product",
        "name": "Product List (Mega menu)",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu title"
          },
          {
            "type": "select",
            "id": "menu_width",
            "label": "Container",
            "default": "container",
            "options": [
              {
                "value": "container",
                "label": "Container"
              }, {
                "value": "container-fluid",
                "label": "Container Fluid"
              }
            ]
          },
          {
            "type": "range",
            "id": "menu_column",
            "label": "Link Menu Column ",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
          },
          {
            "type": "header",
            "content": "Content"
          }, {
            "type": "checkbox",
            "id": "enable_menu_product",
            "label": "Enable Product ",
            "default": true
          }, {
            "type": "range",
            "id": "menu_product_width",
            "label": "Width Product column (%) ",
            "min": 20,
            "max": 100,
            "step": 5,
            "default": 25
          }, {
            "type": "product",
            "id": "menu_product_1",
            "label": "Product 1"
          }, {
            "type": "product",
            "id": "menu_product_2",
            "label": "Product 2"
          }, {
            "type": "product",
            "id": "menu_product_3",
            "label": "Product 3"
          }, {
            "type": "product",
            "id": "menu_product_4",
            "label": "Product 4"
          }, {
            "type": "product",
            "id": "menu_product_5",
            "label": "Product 5"
          }, {
            "type": "product",
            "id": "menu_product_6",
            "label": "Product 6"
          }
        ]
      },
      {
        "type": "menu-collection",
        "name": "Collection (Mega menu)",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu title"
          },
          {
            "type": "select",
            "id": "menu_width",
            "label": "Container",
            "default": "container",
            "options": [
              {
                "value": "container",
                "label": "Container"
              }, {
                "value": "container-fluid",
                "label": "Container Fluid"
              }
            ]
          },
          {
            "type": "range",
            "id": "menu_column",
            "label": "Link Menu Column ",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
          },
          {
            "type": "header",
            "content": "Content"
          }, {
            "type": "checkbox",
            "id": "enable_menu_collection",
            "label": "Enable Collection ",
            "default": true
          }, {
            "type": "checkbox",
            "id": "enable_items_count",
            "label": "Enable Number Product ",
            "default": true
          }, {
            "type": "select",
            "id": "image_size",
            "options": [
              {
                "value": "auto",
                "label": "Adapt to image"
              },
              {
                "value": "portrait",
                "label": "Portrait (2:3)"
              },
              {
                "value": "landscape",
                "label": "Landscape (4:3)"
              },
              {
                "value": "wide",
                "label": "Wide (16:9)"
              }, {
                "value": "square",
                "label": "Square (1:1)"
              }
            ],
            "default": "auto",
            "label": "Image ratio"
          }, {
            "type": "range",
            "id": "menu_collection_width",
            "label": "Width Colection column (%) ",
            "min": 25,
            "max": 100,
            "step": 5,
            "default": 25
          }, {
            "type": "collection",
            "id": "menu_collection_1",
            "label": "Collection 1"
          }, {
            "type": "collection",
            "id": "menu_collection_2",
            "label": "Collection 2"
          }, {
            "type": "collection",
            "id": "menu_collection_3",
            "label": "Collection 3"
          }, {
            "type": "collection",
            "id": "menu_collection_4",
            "label": "Collection 4"
          }, {
            "type": "collection",
            "id": "menu_collection_5",
            "label": "Collection 5"
          }, {
            "type": "collection",
            "id": "menu_collection_6",
            "label": "Collection 6"
          }
        ]
      },
      {
        "type": "menu-banner",
        "name": "Banner Basic (Mega menu)",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu title"
          },
          {
            "type": "select",
            "id": "menu_width",
            "label": "Container",
            "default": "container",
            "options": [
              {
                "value": "container",
                "label": "Container"
              }, {
                "value": "container-fluid",
                "label": "Container Fluid"
              }
            ]
          },
          {
            "type": "range",
            "id": "menu_column",
            "label": "Link Menu Column ",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
          },
          {
            "type": "header",
            "content": "Content"
          }, {
            "type": "checkbox",
            "id": "enable_menu_banner",
            "label": "Enable Banner ",
            "default": true
          }, {
            "type": "range",
            "id": "menu_banner_width",
            "label": "Width Banner column (%) ",
            "min": 25,
            "max": 100,
            "step": 5,
            "default": 25
          }, {
            "type": "range",
            "id": "menu_banner_height",
            "label": "Height Banner (px) ",
            "min": 200,
            "max": 600,
            "step": 10,
            "default": 300
          }, {
            "type": "select",
            "id": "menu_banner_size_title",
            "label": "Size Title",
            "default": "h3",
            "options": [
              {
                "value": "h3",
                "label": "H3"
              }, {
                "value": "h4",
                "label": "H4"
              }, {
                "value": "h5",
                "label": "H5"
              }
            ]
          }, {
            "type": "color",
            "id": "color_text",
            "label": "Color text",
            "default": "#fff"
          }, {
            "type": "header",
            "content": "Promotion 1"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_1",
            "label": "Image 1"
          }, {
            "type": "select",
            "id": "menu_banner_position_text_1",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "mid-left",
                "label": "Midle Left "
              }, {
                "value": "mid-center",
                "label": "Midle Center "
              }, {
                "value": "mid-right",
                "label": "Midle Right "
              }, {
                "value": "bot-left",
                "label": "Bottom Left "
              }, {
                "value": "bot-center",
                "label": "Bottom Center "
              }, {
                "value": "bot-right",
                "label": "Bottom Right "
              }
            ],
            "default": "mid-center",
            "label": "Text Position"
          }, {
            "type": "text",
            "id": "menu_banner_subheading_1",
            "label": "Sub Heading 1",
            "default": "Sub Heading 1"
          }, {
            "type": "text",
            "id": "menu_banner_heading_1",
            "label": "Heading 1",
            "default": "Heading 1"
          }, {
            "type": "richtext",
            "id": "menu_banner_paragraph_1",
            "label": "Paragraph 1",
            "default": "<p>Paragraph 1</p>"
          }, {
            "type": "text",
            "id": "menu_banner_btn_1",
            "label": "Button 1"
          }, {
            "type": "url",
            "id": "menu_banner_link_1",
            "label": "Link 1"
          }, {
            "type": "header",
            "content": "Promotion 2"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_2",
            "label": "Image 2"
          }, {
            "type": "select",
            "id": "menu_banner_position_text_2",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "mid-left",
                "label": "Midle Left "
              }, {
                "value": "mid-center",
                "label": "Midle Center "
              }, {
                "value": "mid-right",
                "label": "Midle Right "
              }, {
                "value": "bot-left",
                "label": "Bottom Left "
              }, {
                "value": "bot-center",
                "label": "Bottom Center "
              }, {
                "value": "bot-right",
                "label": "Bottom Right "
              }
            ],
            "default": "mid-center",
            "label": "Text Position"
          }, {
            "type": "text",
            "id": "menu_banner_subheading_2",
            "label": "Sub Heading 2",
            "default": "Sub Heading 2"
          }, {
            "type": "text",
            "id": "menu_banner_heading_2",
            "label": "Heading 2",
            "default": "Heading 2"
          }, {
            "type": "richtext",
            "id": "menu_banner_paragraph_2",
            "label": "Paragraph 2",
            "default": "<p>Paragraph 2</p>"
          }, {
            "type": "text",
            "id": "menu_banner_btn_2",
            "label": "Button 2"
          }, {
            "type": "url",
            "id": "menu_banner_link_2",
            "label": "Link 2"
          }, {
            "type": "header",
            "content": "Promotion 3"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_3",
            "label": "Image 3"
          }, {
            "type": "select",
            "id": "menu_banner_position_text_3",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "mid-left",
                "label": "Midle Left "
              }, {
                "value": "mid-center",
                "label": "Midle Center "
              }, {
                "value": "mid-right",
                "label": "Midle Right "
              }, {
                "value": "bot-left",
                "label": "Bottom Left "
              }, {
                "value": "bot-center",
                "label": "Bottom Center "
              }, {
                "value": "bot-right",
                "label": "Bottom Right "
              }
            ],
            "default": "mid-center",
            "label": "Text Position"
          }, {
            "type": "text",
            "id": "menu_banner_subheading_3",
            "label": "Sub Heading 3",
            "default": "Sub Heading 3"
          }, {
            "type": "text",
            "id": "menu_banner_heading_3",
            "label": "Heading 3",
            "default": "Heading 3"
          }, {
            "type": "richtext",
            "id": "menu_banner_paragraph_3",
            "label": "Paragraph 3",
            "default": "<p>Paragraph 3</p>"
          }, {
            "type": "text",
            "id": "menu_banner_btn_3",
            "label": "Button 3"
          }, {
            "type": "url",
            "id": "menu_banner_link_3",
            "label": "Link 3"
          }
        ]
      },
      {
        "type": "menu-banner-classic",
        "name": "BannerClassic (Mega menu)",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu title"
          },
          {
            "type": "select",
            "id": "menu_width",
            "label": "Container",
            "default": "container",
            "options": [
              {
                "value": "container",
                "label": "Container"
              }, {
                "value": "container-fluid",
                "label": "Container Fluid"
              }
            ]
          },
          {
            "type": "range",
            "id": "menu_column",
            "label": "Link Menu Column ",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
          },
          {
            "type": "header",
            "content": "Content"
          }, {
            "type": "checkbox",
            "id": "enable_menu_banner",
            "label": "Enable Banner ",
            "default": true
          }, {
            "type": "select",
            "id": "image_size",
            "options": [
              {
                "value": "auto",
                "label": "Adapt to image"
              },
              {
                "value": "portrait",
                "label": "Portrait (2:3)"
              },
              {
                "value": "landscape",
                "label": "Landscape (4:3)"
              },
              {
                "value": "wide",
                "label": "Wide (16:9)"
              }, {
                "value": "square",
                "label": "Square (1:1)"
              }
            ],
            "default": "auto",
            "label": "Image ratio"
          }, {
            "type": "range",
            "id": "menu_banner_width",
            "label": "Width Colection column (%) ",
            "min": 25,
            "max": 100,
            "step": 5,
            "default": 25
          }, {
            "type": "header",
            "content": "Promotion 1"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_1",
            "label": "Image 1"
          }, {
            "type": "textarea",
            "id": "menu_banner_html_1",
            "label": "Des / Html"
          }, {
            "type": "text",
            "id": "menu_banner_btn_1",
            "label": "Button 1"
          }, {
            "type": "url",
            "id": "menu_banner_link_1",
            "label": "Link 1"
          }, {
            "type": "header",
            "content": "Promotion 2"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_2",
            "label": "Image 2"
          }, {
            "type": "textarea",
            "id": "menu_banner_html_2",
            "label": "Des / Html"
          }, {
            "type": "text",
            "id": "menu_banner_btn_2",
            "label": "Button 2"
          }, {
            "type": "url",
            "id": "menu_banner_link_2",
            "label": "Link 2"
          }, {
            "type": "header",
            "content": "Promotion 3"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_3",
            "label": "Image 3"
          }, {
            "type": "textarea",
            "id": "menu_banner_html_3",
            "label": "Des / Html"
          }, {
            "type": "text",
            "id": "menu_banner_btn_3",
            "label": "Button 3"
          }, {
            "type": "url",
            "id": "menu_banner_link_3",
            "label": "Link 3"
          }, {
            "type": "header",
            "content": "Promotion 4"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_4",
            "label": "Image 4"
          }, {
            "type": "textarea",
            "id": "menu_banner_html_4",
            "label": "Des / Html"
          }, {
            "type": "text",
            "id": "menu_banner_btn_4",
            "label": "Button 4"
          }, {
            "type": "url",
            "id": "menu_banner_link_4",
            "label": "Link 4"
          }, {
            "type": "header",
            "content": "Promotion 5"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_5",
            "label": "Image 5"
          }, {
            "type": "textarea",
            "id": "menu_banner_html_5",
            "label": "Des / Html"
          }, {
            "type": "text",
            "id": "menu_banner_btn_5",
            "label": "Button 5"
          }, {
            "type": "url",
            "id": "menu_banner_link_5",
            "label": "Link 5"
          }, {
            "type": "header",
            "content": "Promotion 6"
          }, {
            "type": "image_picker",
            "id": "menu_banner_image_6",
            "label": "Image 6"
          }, {
            "type": "textarea",
            "id": "menu_banner_html_6",
            "label": "Des / Html"
          }, {
            "type": "text",
            "id": "menu_banner_btn_6",
            "label": "Button 6"
          }, {
            "type": "url",
            "id": "menu_banner_link_6",
            "label": "Link 6"
          }
        ]
      }, {
        "type": "bar-menu",
        "name": "Bar menu",
        "settings": [
          {
            "type": "checkbox",
            "id": "display_logo",
            "label": "Display logo",
            "default": true
          },
          {
            "type": "liquid",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "color",
            "id": "description_color",
            "label": "Description color",
            "default": "#000"
          },
          {
            "type": "header",
            "content": "Instagram feed"
          }, {
            "type": "liquid",
            "id": "insta_title",
            "label": "Instagram title"
          }, {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#000"
          }, {
            "type": "url",
            "id": "img_insta_link",
            "label": "Link insta image"
          }, {
            "type": "image_picker",
            "id": "img_1",
            "label": "Image 1"
          }, {
            "type": "image_picker",
            "id": "img_2",
            "label": "Image 2"
          }, {
            "type": "image_picker",
            "id": "img_3",
            "label": "Image 3"
          }, {
            "type": "image_picker",
            "id": "img_4",
            "label": "Image 4"
          }, {
            "type": "image_picker",
            "id": "img_5",
            "label": "Image 5"
          }, {
            "type": "image_picker",
            "id": "img_6",
            "label": "Image 6"
          }, {
            "type": "select",
            "id": "text_align",
            "options": [
              {
                "value": "start",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "start",
            "label": "Text align"
          }, {
            "type": "header",
            "content": "Address"
          }, {
            "type": "liquid",
            "id": "icon_address",
            "label": "Address icon"
          }, {
            "type": "liquid",
            "id": "text_address",
            "label": "Address text"
          }, {
            "type": "url",
            "id": "url_address",
            "label": "Address url"
          }, {
            "type": "header",
            "content": "Phone"
          }, {
            "type": "liquid",
            "id": "icon_phone",
            "label": "Phone icon"
          }, {
            "type": "liquid",
            "id": "text_phone",
            "label": "Phone text"
          }, {
            "type": "url",
            "id": "url_phone",
            "label": "Phone url"
          }, {
            "type": "header",
            "content": "Email"
          }, {
            "type": "liquid",
            "id": "icon_email",
            "label": "Email icon"
          }, {
            "type": "liquid",
            "id": "text_email",
            "label": "Email text"
          }, {
            "type": "url",
            "id": "url_email",
            "label": "Email url"
          }, {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color",
            "default": "#000"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
          }, {
            "type": "url",
            "id": "facebook_url",
            "label": "Facebook url"
          }, {
            "type": "url",
            "id": "twitter_url",
            "label": "Twitter url"
          }, {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram url"
          }, {
            "type": "url",
            "id": "pinterest_url",
            "label": "Pinterest url"
          }, {
            "type": "url",
            "id": "youtube_url",
            "label": "Youtube url"
          }, {
            "type": "url",
            "id": "linkedin_url",
            "label": "Linkedin url"
          }, {
            "type": "color",
            "id": "icon_social_color",
            "label": "Icon color",
            "default": "#000"
          }, {
            "type": "color",
            "id": "icon_social_color_hover",
            "label": "Icon color hover",
            "default": "#000"
          }
        ]
      }
    ], "presets": [{"name": "Header 3"}]
  }
{% endschema %}