{%- if template contains 'article' -%}
  {{ 'main-article.css' | asset_url | stylesheet_tag }}
{% endif %}

<style>
  {%- if template contains 'article' -%}
    #shopify-section-{{ section.id }} {
      margin: 0
    }
  {% endif %}
  #shopify-section-{{ section.id }} .recent-posts-thumbnail {
    max-width: 80px;
    min-height: 80px;
    display: block;
    width: 100%;
  }

  @media (max-width: 991px) {
    .article__info {
    display: none;}
  }
  
</style>   

<div class="breadcrumb-article">   
</div>

<section>
  <div class="article">
    <div class="article__main-part">
      <ap-blogpostnavigation class="article__nav" style="--transform: 0.01">
        <div class="container">
          <div class="article__nav-wrapper">
            {% if blog.previous_article %}
              <a href="{{ blog.previous_article }}" class="article__nav-item article__nav-item--prev hd-phone">
                <span class="article__nav-arrow">
                  <svg focusable="false" width="17" height="14" class="icon icon--nav-arrow-left  icon--direction-aware " viewBox="0 0 17 14">
                    <path d="M17 7H2M8 1L2 7l6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
                  </svg>
                </span>
                <span class="article__nav-item-title hd-tablet">{{ blog.previous_article.title }}</span>
              </a>
            {% endif %}
            <span class="article__nav-item article__nav-item--current">
              <span class="article__nav-item-label text--strong hd-pocket hd-lap">Reading</span>
              <span class="article__nav-item-title">{{ article.title | escape }}</span>
            </span>
            {% if blog.next_article %}
              <a href="{{ blog.next_article }}" class="article__nav-item article__nav-item--next">
                <span class="article__nav-item-label text--strong hd-tablet-and-up">Next</span>
                <span class="article__nav-item-title hd-tablet">{{ blog.next_article.title }}</span>
                <span class="article__nav-arrow tap-area">
                  <svg focusable="false" width="17" height="14" class="icon icon--nav-arrow-right  icon--direction-aware " viewBox="0 0 17 14">
                    <path d="M0 7h15M9 1l6 6-6 6" stroke="currentColor" stroke-width="2" fill="none"></path>
                  </svg>
                </span>
              </a>
            {% endif %}
          </div>
        </div>
      </ap-blogpostnavigation>
      
      <div class="container">
        <div class="article__inner">
          <div class="article__info">

            {%- if section.settings.show_mail -%}
              <div class="article__meta">
                <div class="article_contact">
                  <h2 class="heading heading--mail">{{ section.settings.heading }}</h2>
                  <div class="description-mail">
                    {{ section.settings.description }}
                  </div>
                  <div class="article_mail">
                    {% form 'customer', class: 'newsletter-form' %}
                      <input type="hidden" name="form_type" value="customer">
                      <input type="hidden" name="utf8" value="✓">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="hidden" name="contact[context]" value="newsletter-{{ section.id }}">
    
                      <div class="wp-newsletter-input">
                        <div class="input-row">
                          <div class="input">
                            <input type="email" id="newsletter[{{ section.id }}][contact][email]" name="contact[email]" class="input__field" required="">
                            <label for="newsletter[{{ section.id }}][contact][email]" class="input__label">{{ 'newsletter.label' | t }}</label>
                          </div>
                        </div>
                        <div class="input">
                          <button type="submit" is="loader-button" class="button button--primary">
                            <span class="ap-text-loaderbutton">{{ 'newsletter.button_label' | t }}</span>
                            <span class="ap-loader-loaderbutton" hidden="">
                              <div class="spinner">
                                <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                                  <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                                </svg>
                              </div>
                            </span>
                          </button>
                        </div>
                      </div>
    
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                      {%- endif -%}
                      {%- if form.posted_successfully? -%}
                        <div class="form__banner banner banner--success">
                          <span class="banner__ribbon">
                            <svg focusable="false" width="18" height="26" class="icon icon--form-success   " viewBox="0 0 18 26">
                              <circle fill="none" cx="9" cy="13" r="8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
                              <path fill="none" d="M5 13l3 3 5-6" stroke="currentColor" stroke-width="1.5"></path>
                            </svg>
                          </span>
                          <p class="banner__content">{{ 'newsletter.success' | t }}</p>
                        </div>
                      {%- endif -%}
    
                    {% endform %}
                  </div>
                </div>
                {%- if section.settings.blog_show_author -%}
                  <span class="article__meta-item article__author">By {{ article.author }}</span>
                {%- endif -%}
                {%- if section.settings.blog_show_date -%}
                  <time class="article__meta-item article__date">{{ article.published_at | time_tag: format: 'date' }}</time>
                {%- endif -%}
                {%- if section.settings.blog_show_comment -%}
                <a href="#blog-post-{{ article.id }}-comments" data-smooth-scroll="" class="article__meta-item article__comments-count text--subdued link icon-text">
                  <svg fill="none" focusable="false" width="18" height="17" class="icon icon--comment   " viewBox="0 0 18 17">
                    <path d="M5 5.5H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 8.5H12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13 13V16L9 13H4C3 13 1 12 1 10V4C1 2 3 1 5 1H13C15 1 17 2 17 4V10C17 12 14.3333 12.8333 13 13Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>{{ article.comments_count }} comments </a>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- for block in section.blocks -%}
              {%- case block.type -%}

                {%- when 'search' -%}
                  <div class="block-search">
                    <div class="blog__search-bar predictive-search">
                      <form class="predictive-search__form_blog" action="/search" method="get" role="search">
                        <input type="hidden" name="type" value="product">
                        <input type="hidden" name="options[prefix]" value="last">
                        <input type="hidden" name="options[unavailable_products]" value="last">
                        <input class="predictive-search__input_blog" is="ap-predictivesearchinput" type="text" name="q"
                          autocomplete="off" autocorrect="off" ap-controlsaria="search-drawer" ap-expanded-aria="false"
                          aria-label="Search" placeholder="Search...">
                        <button class="btn-search-blog">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.77 18.3002C9.2807 18.3002 7.82485 17.8586 6.58655 17.0312C5.34825 16.2038 4.38311 15.0278 3.81318 13.6518C3.24325 12.2759 3.09413 10.7619 3.38468 9.30121C3.67523 7.84053 4.39239 6.49881 5.44548 5.44572C6.49857 4.39263 7.84029 3.67547 9.30096 3.38492C10.7616 3.09438 12.2757 3.2435 13.6516 3.81342C15.0275 4.38335 16.2036 5.34849 17.031 6.58679C17.8584 7.8251 18.3 9.28094 18.3 10.7702C18.3 11.7591 18.1052 12.7383 17.7268 13.6518C17.3484 14.5654 16.7937 15.3955 16.0945 16.0948C15.3953 16.794 14.5652 17.3486 13.6516 17.727C12.738 18.1055 11.7588 18.3002 10.77 18.3002V18.3002ZM10.77 4.75024C9.58331 4.75024 8.42327 5.10213 7.43657 5.76142C6.44988 6.42071 5.68084 7.35778 5.22672 8.45414C4.77259 9.55049 4.65377 10.7569 4.88528 11.9208C5.11679 13.0847 5.68824 14.1538 6.52735 14.9929C7.36647 15.832 8.43556 16.4034 9.59945 16.6349C10.7633 16.8665 11.9697 16.7476 13.0661 16.2935C14.1625 15.8394 15.0995 15.0704 15.7588 14.0837C16.4181 13.097 16.77 11.9369 16.77 10.7502C16.77 9.15894 16.1379 7.63282 15.0126 6.5076C13.8874 5.38238 12.3613 4.75024 10.77 4.75024Z" fill="currentColor"/>
<path d="M20 20.75C19.9015 20.7504 19.8038 20.7312 19.7128 20.6934C19.6218 20.6557 19.5392 20.6001 19.47 20.53L15.34 16.4C15.2075 16.2578 15.1354 16.0697 15.1388 15.8754C15.1422 15.6811 15.221 15.4958 15.3584 15.3583C15.4958 15.2209 15.6812 15.1422 15.8755 15.1388C16.0698 15.1354 16.2578 15.2075 16.4 15.34L20.53 19.47C20.6704 19.6106 20.7493 19.8012 20.7493 20C20.7493 20.1987 20.6704 20.3893 20.53 20.53C20.4608 20.6001 20.3782 20.6557 20.2872 20.6934C20.1962 20.7312 20.0985 20.7504 20 20.75V20.75Z" fill="currentColor"/>
</svg>
                        </button>
                      </form>
                    </div>
                  </div>

                {%- when 'blog-list' -%}
                  <div class="block-list-blog">
                    <h4 class="title_block-blog">{{ 'blogs.article.title_blog' | t }}</h4>
                    <ul class="list-block">
                      {% for article in blog.articles limit: 4 %}
                      <li>
                        <a href="{{ article.url }}" class="recent-posts-thumbnail">
                          <img class="article-item__image"
                            data-srcset="{%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                            src="{{ article.image.src | image_url: width: 533 }}"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ article.image.src.alt | escape }}"
                            class="motion-reduce"
                            width="{{ article.image.width }}"
                            height="{{ article.image.height }}"
                            loading="lazy"
                          >
                        </a>
                        <div class="recent-posts-info">
                          <a href="{{ article.url}}">{{ article.title | truncatewords: 5 }}</a>
                          {{- article.published_at | time_tag: format: 'abbreviated_date' -}}
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>

                {%- when 'categories' -%}
                  <div class="article_categories">
                    <h4 class="title_block-blog">{{ 'blogs.article.title_blog_categories' | t }}</h4>
                    <ul>
                      {%- if block.settings.article_link != blank -%}
                        <li>
                        <a href="{{ block.settings.article_link.url }}">
                          {{ block.settings.article_link.title }}
                          <span>({{ block.settings.article_link.articles_count }})</span>
                        </a>
                      </li>
                      {%- endif -%}
                      
                      {%- if block.settings.article_link_2 != blank -%}
                        <li>
                        <a href="{{ block.settings.article_link_2.url }}">
                          {{ block.settings.article_link_2.title }}
                          <span>({{ block.settings.article_link_2.articles_count }})</span>
                        </a>
                      </li>
                      {%- endif -%}
                      
                      {%- if block.settings.article_link_3 != blank -%}
                        <li>
                        <a href="{{ block.settings.article_link_3.url }}">
                          {{ block.settings.article_link_3.title }}
                          <span>({{ block.settings.article_link_3.articles_count }})</span>
                        </a>
                      </li>
                      {%- endif -%}
                      
                      {%- if block.settings.article_link_4 != blank -%}
                        <li>
                        <a href="{{ block.settings.article_link_4.url }}">
                          {{ block.settings.article_link_4.title }}
                          <span>({{ block.settings.article_link_4.articles_count }})</span>
                        </a>
                      </li>
                      {%- endif -%}
                      
                      {%- if block.settings.article_link_5 != blank -%}
                        <li>
                        <a href="{{ block.settings.article_link_5.url }}">
                          {{ block.settings.article_link_5.title }}
                          <span>({{ block.settings.article_link_5.articles_count }})</span>
                        </a>
                      </li>
                      {%- endif -%}
                      
                      
                    </ul>
                  </div>

                {%- when 'banner' -%}
                  <div class="article-banner-img-text">
                    <div class="article-banner-image">
                      {% if block.settings.featured_image != blank %}
                        <img
                          class="c-list-image"
                          loading="lazy"
                          sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px"
                          alt=""
                          src="{{ block.settings.featured_image | image_url: width: block.settings.featured_image.width }}"
                          data-srcset="
                            {%- if block.settings.featured_image.width >= 3000 -%}{{ block.settings.featured_image | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%}
                            {{ block.settings.featured_image | image_url }} {{ block.settings.featured_image.width }}w
                          "
                          src="{{ block.settings.featured_image | image_url: width: 1500 }}"
                          height="{{ block.settings.featured_image.height }}"
                          width="{{ block.settings.featured_image.width }}"
                        >
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    </div>
                    <div class="article-banner-text">
                      {%- if block.settings.title != blank -%}
                        <div style="color: {{ block.settings.color_title }}" class="article-banner-title">{{ block.settings.title }}</div>
                      {%- endif -%}

                      {%- if block.settings.heading != blank -%}
                        <h3 style="color: {{ block.settings.color_heading }}" class="article-banner-heading">
                        {{ block.settings.heading }}
                      </h3>
                      {%- endif -%}

                      {%- if block.settings.description != blank -%}
                        <p style="color: {{ block.settings.color_description }}" class="article-banner-description">
                        {{ block.settings.description }}
                      </p>
                      {%- endif -%}
                      
                      
                      
                      {% if block.settings.button1_label != blank %}
                        <a href="{{ block.settings.link1 }}" class="btn-primary">
                          <span class="icon-button">{% render 'icon-arrow' %}</span>
                          {{ block.settings.button1_label }}
                          
                        </a>
                      {% endif %}
                    </div>
                  </div>

                {%- when 'tags' -%}
                  <div class="article__tags">
                    <h4 class="article__tags-label title_block-blog">{{ 'blogs.article.tags' | t }}</h4>
                    <ul class="article__tags-list list--unstyled" role="list">
                      {%- for tag in article.tags -%} 
                      <li class="article__tags-item" role="listitem">
                        {{ tag | link_to_tag: tag }}
                      </li>
                      {%- endfor -%}
                    </ul>
                  </div>

                {%- when 'blog-aboutus' -%}
                  <div class="blog-aboutus">
                    <h4 class="title_block-blog">{{ 'blogs.article.title_blog_about' | t }}</h4>
                    <div class="blog-aboutus-img mb-20">
                      {% if block.settings.featured_image != blank %}
                        <img class="c-list-image" loading="lazy"
                          sizes="(max-width: 740px) 80vw, (max-width: 999px) 60vw, 425px" alt=""
                          src="{{ block.settings.featured_image | image_url: width: block.settings.featured_image.width }}"
                          data-srcset="{%- if block.settings.featured_image.width >= 3000 -%}{{ block.settings.featured_image | image_url: width: 3000, crop: 'center' }} 3000w,{%- endif -%}
                                              {{ block.settings.featured_image | image_url }} {{ block.settings.featured_image.width }}w"
                          src="{{ block.settings.featured_image | image_url: width: 1500 }}"
                          height="{{ block.settings.featured_image.height }}"
                          width="{{ block.settings.featured_image.width }}">
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    </div>
                    <div class="blog-aboutus-description">
                      {{ block.settings.description }}
                    </div>
                  </div>

              {%- endcase -%}
            {%- endfor -%}

            {%- liquid
              assign share_url = shop.url | append: article.url
              assign share_title = article.title | url_param_escape
              assign share_mail_subject = article.title | url_param_escape
              assign share_mail_body = share_url | url_param_escape
            -%}
            <button type="button" is="ap-sharetogglebutton" share-url="{{ share_url }}" share-title="{{ article.title | escape }}" class="article__share text--subdued link hd-tablet-and-up" ap-controlsaria="mobile-share-buttons-template--14993172365520__main" ap-expanded-aria="false">Share</button>
            {%- if section.settings.blog_show_share -%}
              <popover-content id="mobile-share-buttons-template--14993172365520__main" class="popover hd-tablet-and-up">
                <span class="popover__overlay"></span>
                <header class="popover__header">
                  {%- if section.settings.share_label != blank -%}
                    <span class="popover__title heading h6">{{ section.settings.share_label }}</span>
                  {%- endif -%}
                  <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="Close">
                    <svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
                      <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
                    </svg>
                  </button>
                </header>
                <div class="mobile-share-buttons">
                  <a class="mobile-share-buttons__item mobile-share-buttons__item--facebook" href="https://www.facebook.com/sharer.php?u={{ share_url | url_param_escape }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
                    {% render 'icon-facebook' %}
                    <span>Facebook</span>
                  </a>
                  <a class="mobile-share-buttons__item mobile-share-buttons__item--twitter" href="https://x.com/intent/tweet?text={{ share_title }}&url={{ share_url | url_param_escape }}" target="_blank" rel="noopener" aria-label="Share on X">
                    {% render 'icon-twitter' %}
                    <span>X</span>
                  </a>
                  <a class="mobile-share-buttons__item mobile-share-buttons__item--mail" href="mailto:?subject={{ share_mail_subject }}&amp;body={{ share_mail_body }}" aria-label="Share by e-mail">
                    {% render 'icon-email' %}
                    <span>E-mail</span>
                  </a>
                </div>
              </popover-content>
              <div class="article__share hd-phone">
                {%- if section.settings.share_label != blank -%}
                  <span class="article__share-label">Share</span>
                {%- endif -%}
                <div class="article__share-button-list" role="list">
                  <a class="article__share-button-item article__share-button-item--facebook tap-area" href="https://www.facebook.com/sharer.php?u={{ share_url | url_param_escape }}" target="_blank" rel="noopener" role="listitem" aria-label="Share on Facebook">
                    {% render 'icon-facebook' %}
                  </a>
                  <a class="article__share-button-item article__share-button-item--twitter tap-area" href="https://x.com/intent/tweet?text={{ share_title }}&url={{ share_url | url_param_escape }}" target="_blank" rel="noopener" role="listitem" aria-label="Share on X">
                    {% render 'icon-twitter' %}
                  </a>
                  <a class="article__share-button-item article__share-button-item--mail tap-area" href="mailto:?subject={{ share_mail_subject }}&amp;body={{ share_mail_body }}" role="listitem" aria-label="Share by e-mail">
                    {% render 'icon-email' %}
                  </a>
                </div>
              </div>
            {%- endif -%}

          </div>
          <div class="article__content">
            <div>
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    <div class="page-width page-width--narrow">
                      {% render block %}
                    </div>
                {%- endcase -%}
              {%- endfor -%}                             

              <div class="entry-meta">
                {% if section.settings.blog_show_tags != blank %}
                  <a href="{{ blog.url }}" class="article__meta-item article__category">{{ blog.title }}</a>
                {%- endif -%}
                
                {%- if section.settings.blog_show_date -%}
                  <span class="article__meta-item article__date">{{ article.published_at | time_tag: format: 'date' }}</span>
                {%- endif -%}

                {%- if section.settings.blog_show_author -%}
                  <span class="article__meta-item article__author">By <span>{{ article.author }}</span></span>
                {%- endif -%} 
              </div>
              <h3 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h3>

              {%- if article.image -%}
                <div class="article-template__image">
                  <img
                    data-srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                      {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                      {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                      {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                      {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                      {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                      {{ article.image | image_url }} {{ article.image.width }}w"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                    src="{{ article.image | image_url: width: 1100 }}"
                    loading="eager"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    alt="{{ article.image.alt | escape }}">
                </div>
              {%- endif -%}

              <div class="article-template__content">
                {{ article.content }}
              </div>

              {% if section.settings.blog_show_tags != blank %}
                <ul class="article__tags-list list--unstyled" role="list">
                  {% comment %} <span style="color: #000;">
                    {{ 'blogs.article.tags_2' | t }}
                  </span> {% endcomment %}
                  {%- for tag in article.tags -%}
                  <li class="article__tags-item" role="listitem">
                    {{ tag | link_to_tag: tag  }}
                  </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

              <div class="share-article">
                {% render 'page-share', share_url: share_url, share_title: article.title, share_label: section.settings.share_label, share_class: 'page-share--article' %}
              </div>

            </div>

            <div class="post-navigation">
              <div class="nav-links">
                {% if blog.previous_article %}
                <div class="nav-previous">
                  <a href="{{ blog.previous_article }}" rel="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.35 13.7246V17.0996H34.5V18.4496H7.35V22.2746L1.5 17.8496L7.35 13.7246Z" fill="#E0E0E0" />
                    </svg>
                    <span class="nav-content">
                      <span class="reader-text">
                        Previous article 
                      </span>
                      <span class="title">
                        {{ blog.previous_article.title }}
                      </span>
                    </span> 
                  </a>
                </div>
                {% endif %}
                {% if blog.next_article %}
                <div class="nav-next">
                  <a href="{{ blog.next_article }}" rel="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M28.65 13.7246V17.0996H1.5V18.4496H28.65V22.2746L34.5 17.8496L28.65 13.7246Z"
                        fill="#E0E0E0" />
                    </svg>
                    <span class="nav-content">
                      <span class="reader-text">Next article </span>
                      <span class="title">{{ blog.next_article.title }}</span>
                    </span>
                  </a>
                </div>
                {% endif %}
              </div>
            </div>

            {%- if section.settings.blog_show_comment -%}
              <div id="blog-post-{{ article.id }}-comments">
              <div class="article-template__comment-wrapper background-secondary">
                <div id="comments" class="page-width page-width--narrow">
                  {%- if article.comments_count > 0 -%}
                    {%- assign anchorId = '#Comments-' | append: article.id -%}
          
                    <h2 id="Comments-{{ article.id }}" class="title-comment" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
                    {% paginate article.comments by 5 %}
                      <div class="article-template__comments">
                        {%- if comment.status == 'pending' and comment.content -%}
                          <article id="{{ comment.id }}" class="article-template__comments-comment">
                            <footer class="right">
                              <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                            </footer>
                            {{ comment.content }}
                          </article>
                        {%- endif -%}
          
                        {%- for comment in article.comments -%}
                          <article id="{{ comment.id }}" class="article-template__comments-comment">
                            <div class="comment-author">
                              <img alt="" src="https://cdn.shopify.com/s/files/1/0764/4046/9787/files/64e1b8d34f425d19e1ee2ea7236d3028.jpg?v=1691574035" data-srcset="https://cdn.shopify.com/s/files/1/0764/4046/9787/files/64e1b8d34f425d19e1ee2ea7236d3028.jpg?v=1691574035" class="avatar avatar-50 photo" height="50" width="50" loading="lazy" decoding="async">
                            </div>
                            <div class="div-comment">
                              <footer class="right">
                                <span style="color: #000;" class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                              </footer>
                              {{ comment.content }}
                            </div>
                          </article>
                        {%- endfor -%}
                        {% render 'pagination', paginate: paginate, anchor: anchorId %}
                      </div>
                    {% endpaginate %}
                  {%- endif -%}
                  {% form 'new_comment', article %}
                    {%- liquid
                      assign post_message = 'blogs.article.success'
                      if blog.moderated? and comment.status == 'unapproved'
                        assign post_message = 'blogs.article.success_moderated'
                      endif
                    -%}
                    <h2 class="title-comment">{{ 'blogs.article.comment_form_title' | t }}</h2>
                    <p class="description-comment">{{ 'blogs.article.comment_des' | t }}</p>
                    {%- if form.errors -%}
                      <div class="form__message" role="alert">
                        <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                          {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
                        </h3>
                      </div>
                      <ul class="form-status-list caption-large">
                        {%- for field in form.errors -%}
                          <li>
                            <a href="#CommentForm-{{ field }}" class="link">
                              {%- if form.errors.translated_fields[field] contains 'author' -%}
                                {{ 'blogs.article.name' | t }}
                              {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                               {{ 'blogs.article.message' | t }}
                              {%- else -%}
                                {{ form.errors.translated_fields[field] }}
                              {%- endif -%}
                              {{ form.errors.messages[field] }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- elsif form.posted_successfully? -%}
                      <div class="form-status-list form__message" role="status">
                        <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
                      </div>
                    {%- endif -%}
          
                    <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
                      <div class="field field--with-error">
                        <textarea
                          rows="5"
                          name="comment[body]"
                          id="CommentForm-body"
                          class="text-area field__input"
                          aria-required="true"
                          required
                          {% if form.errors contains 'body' %}
                            aria-invalid="true"
                            aria-describedby="CommentForm-body-error"
                          {% endif %}
                          placeholder="{{ 'blogs.article.message' | t }}"
                        >{{ form.body }}</textarea>
                          <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
                      </div>
                      <div class="article-template__comment-fields">
                        <div class="field field--with-error">
                          <input
                            type="text"
                            name="comment[author]"
                            id="CommentForm-author"
                            class="field__input"
                            autocomplete="name"
                            value="{{ form.author }}"
                            aria-required="true"
                            required
                            {% if form.errors contains 'author' %}
                              aria-invalid="true"
                              aria-describedby="CommentForm-author-error"
                            {% endif %}
                            placeholder="{{ 'blogs.article.name' | t }}"
                          >
                          <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                          {%- if form.errors contains 'author' -%}
                            <small id="CommentForm-author-error">
                              <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                            </small>
                          {%- endif -%}
                        </div>
                        <div class="field field--with-error">
                          <input
                            type="email"
                            name="comment[email]"
                            id="CommentForm-email"
                            autocomplete="email"
                            class="field__input"
                            value="{{ form.email }}"
                            autocorrect="off"
                            autocapitalize="off"
                            aria-required="true"
                            required
                            {% if form.errors contains 'email' %}
                              aria-invalid="true"
                              aria-describedby="CommentForm-email-error"
                            {% endif %}
                            placeholder="{{ 'blogs.article.email' | t }}"
                          >
                          <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                          {%- if form.errors contains 'email' -%}
                            <small id="CommentForm-email-error">
                              <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                            </small>
                          {%- endif -%}
                        </div>
                      </div>
                      {%- if form.errors contains 'body' -%}
                        <small id="CommentForm-body-error">
                          <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if blog.moderated? -%}
                      <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
                    {%- endif -%}
                    <input type="submit" class="btn btn-primary" value="{{ 'blogs.article.post' | t }}">
                  {% endform %}
                </div>
              </div>
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "default": true,
      "label": "Show Tags"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "default": true,
      "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "default": false,
      "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_share",
      "default": true,
      "label": "Share"
    },
    {
      "type": "text",
      "id": "share_label",
      "label": "t:sections.main-article.blocks.share.settings.text.label",
      "default": "Share"
    },
    {
      "type": "checkbox",
      "id": "blog_show_comment",
      "default": true,
      "label": "Show comment"
    },
    {
      "type": "header",
      "content": "Advanced Setting Mail"
    },
    {
      "type": "checkbox",
      "id": "show_mail",
      "default": true,
      "label": "Show Mail"
    },
    {
      "type": "liquid",
      "id": "heading",
      "default": "Subscribe to our emails",
      "label": "Heading"
    },
    {
      "type": "liquid",
      "id": "description",
      "default": "Content emails",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "categories",
      "name": "Categories",
      "limit": 1,
      "settings": [
        
        {
          "id": "article_link",
          "type": "blog",
          "label": "Link"
        },
        
        {
          "id": "article_link_2",
          "type": "blog",
          "label": "Link 2"
        },
        
        {
          "id": "article_link_3",
          "type": "blog",
          "label": "Link 3"
        },
        
        {
          "id": "article_link_4",
          "type": "blog",
          "label": "Link 4"
        },
        
        {
          "id": "article_link_5",
          "type": "blog",
          "label": "Link 5"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "limit": 1,
      "settings": [
        {
          "id": "featured_image",
          "type": "image_picker",
          "label": "Image banner"
        },
        {
          "id": "title",
          "type": "liquid",
          "label": "Title banner",
          "default": "Title banner"
        },
        {
          "id": "color_title",
          "type": "color",
          "label": "Color Title banner",
          "default": "#000"
        },
        {
          "id": "heading",
          "type": "liquid",
          "label": "Heading banner",
          "default": "Heading banner"
        },
        {
          "id": "color_heading",
          "type": "color",
          "label": "Color heading banner",
          "default": "#000"
        },
        {
          "id": "description",
          "type": "liquid",
          "label": "Description banner",
          "default": "Description banner"
        },
        {
          "id": "color_description",
          "type": "color",
          "label": "Color Description banner",
          "default": "#978F8B"
        },
        {
          "id": "button1_label",
          "type": "text",
          "label": "Button",
          "default": "Top selling teas"
        },
        {
          "id": "link1",
          "type": "url",
          "label": "Link"
        }
      ]
    },
    {
      "type": "blog-aboutus",
      "name": "About us",
      "limit": 1,
      "settings": [
        {
          "id": "featured_image",
          "type": "image_picker",
          "label": "Image banner"
        },
        {
          "id": "description",
          "type": "liquid",
          "label": "Description banner",
          "default": "To be the industry leader, globally recognized for effective & efficient solutions. To provide innovative solutions delivering quality, excellence and speed."
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "limit": 1
    },
    {
      "type": "blog-list",
      "name": "Blog-list",
      "limit": 1
    },
    {
      "type": "search",
      "name": "Search",
      "limit": 1
    }
  ]
}
{% endschema %}
