{{ 'text-with-icon.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

<style>
  #shopify-section-{{ section.id }} {
    --heading-color: {{ section.settings.heading_color | color_extract: 'red' }}, {{ section.settings.heading_color | color_extract: 'green' }}, {{ section.settings.heading_color | color_extract: 'blue' }};
    --color-body: {{ section.settings.text_color | color_extract: 'red' }}, {{ section.settings.text_color | color_extract: 'green' }}, {{ section.settings.text_color | color_extract: 'blue' }};
    --vertical-breather: 40px; /* Inner spacing is smaller on this section */;

    position: relative;
  }

  #shopify-section-{{ section.id }} .text-with-icons {
    {%- if section.settings.background_img_inner != blank -%}
      background-image: url({{ section.settings.background_img_inner | image_url: width: 2000 }});
      background-size: cover;
      background-position: center;
      border-radius: 20px;
    {%- endif -%}
  }

  .shopify-section--text-with-icons .placeholder-svg {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 185px;
    max-height: 185px;
  }

  #shopify-section-{{ section.id }} .text-with-icons__item {
    background-color: {{ section.settings.bg_color_item }};
    transition: all .4s;
  }

  .text-with-icons__icon-wrapper svg {
    width: {{ section.settings.icon_size }}px;
    height: {{ section.settings.icon_size }}px;
  }

  .text-with-icons__item {
    flex: 1;
    border-radius: 20px;
    align-items: start;
    gap: 20px;
  }

  #shopify-section-{{ section.id }} .text-with-icons__item {
    padding:{{ section.settings.paddingbox }};
  }
  @media (max-width: 1200px) {
    #shopify-section-{{ section.id }} .text-with-icons__item {
      padding: {{ section.settings.paddingbox_mobile }};
    }
  }
  /* CONTENT ROW */
  #shopify-section-{{ section.id }} .row .section__header {
    padding-left: var(--container-distance);
    padding-right: var(--container-distance);
  }
  #shopify-section-{{ section.id }} .row .text-with-icons {
    padding-left: var(--container-distance);
    padding-right: var(--container-distance);
  }
  /* Icon top */
  #shopify-section-{{ section.id }} .row .text-with-icons__list > div {
    border-right: 1px solid #ffffff1a;
  }
  .text-with-icons__item.icon-top {
    flex-direction: column;
    gap: 28px 0;
    text-align: center;
    padding: 0 0;
    align-items: center;
  }
  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} .row .section__header {
      width: 37%;
    }
    #shopify-section-{{ section.id }} .row .text-with-icons {
      width: 63%;
    }
  }
  @media (min-width: 1300px) {
    #shopify-section-{{ section.id }} .row .section__header {
      padding-right: 50px;
    }
  }
  /* end  */
</style>

<section class="section section--flush text-width-icon">
    <div class="text-with-icon">
        <div class="{{ section.settings.setwidthout }}">
          <div class="{% if section.settings.content_row %}row{% endif %}">
            {% if section.settings.tab_heading != blank %}
            <header class="section__header text-{{ section.settings.text_align }} mb-60">
              {% if section.settings.sub_heading != blank %}
                <p class="heading sub-heading mb-20">{{ section.settings.sub_heading }}</p>
              {% endif %}
              <h3 class="heading h{{ section.settings.tab_heading_size }}">{{ section.settings.tab_heading }}
              </h3>
              {% if section.settings.tab_description != blank %}
              <div class="heading-description">
                {{ section.settings.tab_description }}
              </div>
              {% endif %}
            </header>
            {% endif %}
            <ap-carousel class="text-with-icons">
                <div class="text-with-icons__list hide-scrollbar row no-gutters align-items-center">
                    {% for block in section.blocks %}

                        {% case block.type %}
                        {%- when 'text-with-icon' -%}
                          <ap-carousel-item style="
                            border-width: {{ block.settings.border_width }};
                            border-style: solid;
                            border-color: {{ section.settings.border_color }};
                            "
                            id="block-{{ block.id }}" class="text-with-icons__item {%- if section.settings.text_icon_top -%}{{ 'icon-top' | prepend: ' ' }}{%- endif -%}" {% if forloop.index != 1 %}hidden=""{% endif %}>
                              <div class="text-with-icons__icon-wrapper">
                                  {% if block.settings.custom_icon != blank %}
                                      {{ block.settings.custom_icon }}
                                  {% else %}
                                      {% render 'icons', svg_icon: block.settings.svg_icon %}
                                  {% endif %}
                              </div>
                              <div class="text-with-icons__content-wrapper">
                                  {% if block.settings.heading != blank %}
                                    <h4 style="color: {{ section.settings.title_color }};" class="heading text-none {{ section.settings.heading_size }} title-icon mb-11">{{ block.settings.heading }}</h4>
                                  {% endif %}
                                  {% if block.settings.content != blank %}
                                    <p class="description-icon">{{ block.settings.content }}</p>
                                  {% endif %}
                                  {% if block.settings.button1_label != blank %}    
                                  <style>  
                                    #block-{{ block.id }} a.button.btn-base, 
                                    #block-{{ block.id }} .btn-outline, 
                                    #block-{{ block.id }} .btn-line ,
                                    #block-{{ block.id }} .btn-line-black ,
                                    #block-{{ block.id }} .btn-base {
                                      color: {{ block.settings.color_btn }};
                                      background-color: {{ block.settings.bg_btn }};
                                      text-decoration: none;
                                      border-color: {{ block.settings.color_btn }};
                                    }
                                    #block-{{ block.id }} .text-with-icons__item.icon-top:hover .btn-line {
                                      color: #fff;
                                    }
                                    #block-{{ block.id }} a.button.btn-base path , 
                                    #block-{{ block.id }} .btn-outline path , 
                                    #block-{{ block.id }} .btn-base path {
                                      fill: {{ block.settings.color_btn }};
                                    }
                                    #block-{{ block.id }} a.button.btn-base:hover,
                                    #block-{{ block.id }} .btn-outline:hover, 
                                    #block-{{ block.id }} .btn-line:hover ,
                                    #block-{{ block.id }} .btn-line-black:hover ,
                                    #block-{{ block.id }} .btn-base:hover {
                                      color: {{ block.settings.color_btn_hover }};
                                      background-color: {{ block.settings.bg_btn_hover }};
                                      border-color: {{ block.settings.color_btn_hover }};
                                    }
                                    #block-{{ block.id }} .text-with-icons__item.icon-top .btn-line:hover {
                                      color: {{ block.settings.color_btn_hover }};
                                    }
                                    #block-{{ block.id }} a.button.btn-base:hover path , 
                                    #block-{{ block.id }} .btn-outline:hover path , 
                                    #block-{{ block.id }} .btn-base:hover path {
                                      fill: {{ block.settings.color_btn_hover }};
                                    }
                                  </style>
                                  <a href="{{ block.settings.link1 }}" class="button {{ block.settings.style_btn }} btn-sm">
                                      {{ block.settings.button1_label }}
                                  </a>
                                  {% endif %}
                              </div>
                          </ap-carousel-item>

                        {%- when 'custom_icon' -%}
                          <div class="px-xl-60 px-3 d-xl-block d-none" style="flex: 0 1;        
                          position: relative;">
                            {{ block.settings.code }}
                          </div>

                        {% endcase %}

                    {% endfor %}
                </div>

            </ap-carousel>
          </div>
        </div>

        {% for block in section.blocks %}
          {% case block.type %}
            {%- when 'html' -%}
              <div>
                {{ block.settings.code }}
              </div>
          {% endcase %}
        {% endfor %}

    </div>
</section>

{% schema %}
{
  "name": "Text with icons",
  "tag": "section",
  "class": "shopify-section--text-with-icons",
  "settings": [
    {
      "type": "select",
      "id": "setwidthout",
      "label": "Set Width",
      "default": "full",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background-color",
      "default": "#ffffff",
      "label": "t:sections.all.background-color.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image.label"
    },
    {
      "type": "liquid",
      "id": "sub_heading",
      "default": "Sub heading",
      "label": "Sub heading"
    },
    {
      "type": "liquid",
      "id": "tab_heading",
      "default": "Welcome to our store",
      "label": "t:sections.all.tab_heading.label"
    },
    {
      "type": "range",
      "id": "tab_heading_size",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
      "label": "t:sections.all.tab_heading_size.label"
    },
    {
      "type": "text",
      "id": "tab_description",
      "label": "t:sections.all.tab_description.label"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text align"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.all.heading_color.label"
    },
    {
      "type": "color",
      "id": "title_color",
      "default": "#ffffff",
      "label": "t:sections.all.title_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#282828",
      "label": "t:sections.all.text_color.label"
    },
    {
      "type": "color",
      "id": "bg_color_item",
      "default": "#fff",
      "label": "Background color item"
    },
    {
      "type": "color",
      "id": "border_color",
      "default": "#fff",
      "label": "Border color"
    },
    {
      "type": "checkbox",
      "id": "content_row",
      "label": "Content Row"
    },
    {
      "type": "checkbox",
      "id": "text_icon_top",
      "label": "Text icon top"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_tablet_large",
      "label": "Margin tablet large",
      "default": "0px 0px 0px 0px",
      "info": "Example: 0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_tablet_lager",
      "label": "Padding tablet larger",
      "default": "0px 0px 0px 0px",
      "info": "Example: 0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    },
    {
      "type": "header",
      "content": "Settings content item"
    },
    {
      "type": "image_picker",
      "id": "background_img_inner",
      "label": "Background Image inner"
    },
    {
      "type": "text",
      "id": "paddingbox",
      "label": "Inner Padding ",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingbox_mobile",
      "label": "Inner Padding Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "icon_size",
      "label": "Size icon",
      "default": "48"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "sub-heading",
          "label": "Sub heading"
        }
      ],
      "default": "h4",
      "label": "Heading size"
    }
  ],
  "blocks": [
    {
      "type": "text-with-icon",
      "name": "Text with icons",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "33%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "svg_icon",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "icon-worldwide",
              "label": "Worldwide"
            },
            {
              "value": "icon-customer-support",
              "label": "Customer support"
            },
            {
              "value": "icon-wrapper",
              "label": "Wrapper"
            },
            {
              "value": "icon-chat",
              "label": "Chat"
            },
            {
              "value": "icon-love",
              "label": "Love"
            },
            {
              "value": "icon-email",
              "label": "Email"
            },
            {
              "value": "icon-plane",
              "label": "Plane"
            },
            {
              "value": "icon-warranty",
              "label": "Warranty"
            }
          ],
          "default": "",
          "label": "Select icon"
        },
        {
          "type": "textarea",
          "id": "custom_icon",
          "label": "t:sections.all.custom_icon.label"
        },
        {
          "type": "liquid",
          "id": "heading",
          "default": "Text sample",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "default": "Testimonial content",
          "label": "t:sections.all.content.label"
        },
        {
          "type": "text",
          "id": "button1_label",
          "label": "Button",
          "default": "Read More"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "color_btn",
          "label": "Color button"
        },
        {
          "type": "color",
          "id": "bg_btn",
          "label": "Background button"
        },
        {
          "type": "color",
          "id": "color_btn_hover",
          "label": "Color button hover"
        },
        {
          "type": "color",
          "id": "bg_btn_hover",
          "label": "Background button hover"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-base",
          "options": [
            {
              "value": "btn-base",
              "label": "Button Base"
            },
            {
              "value": "btn-outline",
              "label": "Button Out Line"
            },
            {
              "value": "btn-line",
              "label": "Button Line"
            },
            {
              "value": "btn-line-black",
              "label": "Button Line Black"
            }
          ]
        },
        {
          "type": "text",
          "id": "border_width",
          "label": "Border width",
          "info": "Ex: 1px 1px 1px 1px (Top Right Bottom Left)"
        }
      ]
    },
    {
      "type": "custom_icon",
      "name": "Custom icon",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "1%",
          "options": [
            {
              "value": "1%",
              "label": "1%"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "code",
          "label": "HTML",
          "default": "<h2>Heading</h2>This text can be used to share information about your brand with customers."
        }
      ]
    },
    {
      "type": "html",
      "name": "Custom Html",
      "settings": [
        {
          "type": "textarea",
          "id": "code",
          "label": "HTML",
          "default": "<h2>Heading</h2>This text can be used to share information about your brand with customers."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with icons",
      "blocks": [
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        }
      ]
    }
  ]
}
{% endschema %}
