<div id="shopify-section-{{ section.id }}" class="shopify-section shopify-section--main-product">
  <ap-quickbuy class="drawer drawer--large drawer--quick-buy">
    <ap-cartnotification hidden class="ap-cartnotification ap-cartnotification--drawer"></ap-cartnotification>
    <span class="drawer__overlay"></span>
    <header class="drawer__header">
      <p class="drawer__title heading h6">Choose options</p>
      <button type="button" class="drawer__close-button tap-area" data-action="close" title="Close">
        <svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
          <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
        </svg>
      </button>
    </header>
    <div class="drawer__content">
      <div class="quick-buy-product">
          {% liquid
              if product.selected_or_first_available_variant.featured_media != null
                  assign media = product.selected_or_first_available_variant.featured_media.preview_image
              else
                  assign media = product.featured_image
              endif
          %}
        <img loading="lazy" sizes="114px" class="ap-quickbuyproduct__image" height="{{ media.width }}" width="{{ media.height }}" alt="{{ product.title }}" 
          src="{{ media | image_url: width: media.width }}" 
          srcset="{{ media | image_url: width: 114 }} 114w, {{ media | image_url: width: 228 }} 228w, {{ media | image_url: width: 342 }} 342w">
        <div class="quick-buy-product__info ">
          <ap-productmeta form-id="ap-productform-{{ section.id }}-{{ product.id }}" ap-unitpriceclass="text--xsmall" class="product-item-meta">
              {% if settings.enable_type %}
                <div class="type-product">{{ product.type }}</div>
              {% endif %}
              <a href="{{ product.url }}" class="product-item-meta__title heading">{{ product.title }}</a>
              <a href="/collections/vendors?q={{ product.vendor }}" class="product-item-meta__vendor d-none">{{ product.vendor }}</a>

              {%- if product.metafields.custom.description_short != blank -%}
                <div class="description-product">{{ product.metafields.custom.description_short }}</div>
                {%- else -%}
                <div class="description-product">{{ product.description | truncatewords: 25 }}</div>
              {%- endif -%}
              
            
              {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
          </ap-productmeta>
        </div>
      </div>
      <div class="ap-productform">
          {%- render 'ap-productvariants', product: product show_size_chart: false -%}
          {%- render 'product-quantity', product: product -%}
          {%- render 'product-buy', 
            product: product,
            product_form_id: product_form_id,
            section_id: section.id,
            show_pickup_availability: true 
          -%}          
      </div>  
      <div class="ap-productform__view-details">
        <a href="{{ product.url }}" class="link text--subdued">View details</a>
      </div>
    </div> 
  </ap-quickbuy>
</div>